@import "src/styles/globals.scss";

.tx-overview {
  --y-space: 72px;
  display: block;
  overflow-x: auto;

  &-graph {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 16px 24px 32px 24px;
    min-width: 1000px;

    @include bigDesktop {
      padding: 16px 112px 32px;
    }

    &-step + &-step {
      padding-top: var(--y-space);
    }

    &-step {
      --color: var(--color-information-100);

      $sbc: &;
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 0;
      gap: 16px;

      > * {
        flex: 1;
      }

      &.blue {
        --color: var(--color-information-100);
      }

      &.green {
        --color: var(--color-success-100);
      }

      &.orange {
        --color: var(--color-alert-100);
      }

      &.red {
        --color: var(--color-error-100);
      }

      &-name {
        @include text-p3;

        max-width: 120px;
        font-weight: 600;
        color: var(--color-primary-100);
      }

      &-title {
        @include text-p2;

        color: var(--color-primary-100);
        margin-bottom: 8px;
      }

      &-description {
        @include text-p2;

        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--color-white);

        &.orange {
          color: var(--color-alert-100);
        }

        &.red {
          color: var(--color-error-100);
        }

        & > .copy-to-clipboard {
          display: flex;

          & svg {
            color: var(--color-primary-90);
          }
        }

        & > a {
          color: var(--color-information-100);
          text-decoration: none;
        }
      }

      &-iconWrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &:not(:last-child) {
        #{$sbc}-iconWrapper {
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            border-left: 1px dashed var(--color);
            height: calc(var(--y-space) + 20px);
            z-index: -1;
          }
        }
      }

      &-iconContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--color);
        border-radius: 50%;
        width: 55px;
        height: 55px;
        background-color: var(--color-primary-900);

        > img {
          max-height: 32px;
        }
      }

      &-signaturesContainer {
        --d: 6deg; /* distance between dashes */
        --n: 19; /* number of dashes */
        --c: var(--color-success-100); /* color of dashes */
        --b: 8px; /* control the thickness of border*/
        --m: 0deg; /* the masked part */
        --r: 20deg; /* rotation */

        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 10px solid transparent;
        background-color: #151632;
        background-clip: padding-box;

        &-circle {
          position: absolute;
          width: 150px;
          height: 150px;
          display: block;
          border-radius: 50%;

          // transform: rotate(var(--r));
          background: repeating-conic-gradient(
            var(--c) 0 calc(360deg / var(--n) - var(--d)),
            transparent 0 calc(360deg / var(--n))
          );
          -webkit-mask: conic-gradient(#fff 0 var(--m), transparent 0 360deg),
            radial-gradient(
              farthest-side,
              transparent calc(100% - var(--b) - 1px),
              #fff calc(100% - var(--b)) calc(100% - 1px),
              transparent
            );
          -webkit-mask-composite: destination-out;
          mask: conic-gradient(#fff 0 var(--m), transparent 0 360deg),
            radial-gradient(
              farthest-side,
              transparent calc(100% - var(--b) - 1px),
              #fff calc(100% - var(--b)) calc(100% - 1px),
              transparent
            );
          mask-composite: exclude;

          &::after {
            --c: var(--color-primary-200); /* color of dashes */
            --m: calc(360deg - 115deg); /* the masked part */

            content: "";
            position: absolute;
            width: 150px;
            height: 150px;
            display: block;
            border-radius: 50%;

            // transform: rotate(var(--r));
            background: repeating-conic-gradient(
              var(--c) 0 calc(360deg / var(--n) - var(--d)),
              transparent 0 calc(360deg / var(--n))
            );
            -webkit-mask: conic-gradient(#fff 0 var(--m), transparent 0 360deg),
              radial-gradient(
                farthest-side,
                transparent calc(100% - var(--b) - 1px),
                #fff calc(100% - var(--b)) calc(100% - 1px),
                transparent
              );
            -webkit-mask-composite: destination-out;
            mask: conic-gradient(#fff 0 var(--m), transparent 0 360deg),
              radial-gradient(
                farthest-side,
                transparent calc(100% - var(--b) - 1px),
                #fff calc(100% - var(--b)) calc(100% - 1px),
                transparent
              );
            mask-composite: exclude;
          }
        }

        &-text {
          text-align: center;

          &-number {
            @include text-h5;

            color: var(--color-success-100);
          }

          &-description {
            @include text-p2;

            color: var(--color-success-60);
          }
        }
      }
    }
  }
}
