@import "src/styles/globals.scss";

.tx-details {
  &-group {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &:not(:last-child) {
      padding-bottom: 40px;
      border-bottom: 1px solid var(--color-white-05);
      margin-bottom: 40px;
    }

    @include desktop {
      gap: 16px;

      &:not(:last-child) {
        padding-bottom: 24px;
        margin-bottom: 24px;
      }
    }

    &-line {
      display: flex;
      gap: 0 24px;

      @include desktop {
        gap: 20px;
      }

      @include bigDesktop {
        display: grid;
        gap: 0;
        grid-template-columns: 126px 0.8fr 3fr;
      }

      &-key {
        align-items: center;
        color: var(--color-primary-90);
        display: flex;
        flex: 1;

        @include tablet {
          max-width: 150px;
        }

        @include bigDesktop {
          &:first-of-type {
            grid-column: span 2;
          }
        }
      }

      &-value {
        @include text-p2;

        align-items: center;
        color: var(--color-white);
        display: flex;
        flex-wrap: wrap;
        flex: 2;
        gap: 8px;

        @include tablet {
          flex: 3;
        }

        @include desktop {
          flex: 4;
        }

        & svg {
          color: var(--color-success-100);
        }

        & > a {
          color: var(--color-information-100);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .green {
          color: var(--color-success-100);
        }

        .red {
          color: var(--color-error-100);
        }

        & .copy-to-clipboard svg {
          color: var(--color-primary-90);
        }
      }
    }
  }
}
