@import "src/styles/globals.scss";

.footer {
  @include centered-column;
  gap: 32px;
  margin: 0 auto 32px auto;
  max-width: 488px;
  width: 100%;

  @include desktop {
    gap: 64px;
    max-width: unset;
  }

  &-container {
    align-items: start;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    width: 100%;

    &:last-child {
      align-items: center;
      max-width: 370px;

      @include tablet {
        max-width: unset;
      }
    }

    &-discord {
      @include centered-column;
      gap: 10px;
      border-bottom: 1px solid #141414;
      padding-bottom: 32px;
      width: 100%;

      @include desktop {
        @include centered-row;
        border: none;
        background-color: #121212;
        border-radius: 20px;
        padding: 16px;
      }

      &-text {
        @include text-roboto-body-large-400;
        max-width: 240px;

        @include desktop {
          max-width: unset;
        }
      }

      &-links {
        @include centered-row;
        margin-top: 14px;
        gap: 20px;

        @include desktop {
          margin: 0 0 0 auto;
        }

        &-ds-btn {
          @include button-primary;
        }

        &-x-btn {
          @include button-secondary;
        }
      }
    }

    &-logo {
      display: none;

      @include desktop {
        display: block;
      }
    }

    &-button {
      display: none;

      @include desktop {
        @include button-secondary;

        & > svg {
          color: var(--color-white-60);
        }
      }
    }

    &-links {
      display: flex;
      gap: 64px;
      min-width: 264px;

      @include tablet {
        gap: 204px;
      }

      @include desktop {
        gap: 32px;
        justify-content: space-between;
        max-width: 352px;
        width: 25%;
        margin: 0 0 0 12%;
      }

      @include bigDesktop {
        margin: 0 0 0 30%;
      }

      &-container {
        display: flex;
        flex-direction: column;
        min-width: 100px;

        @include desktop {
          min-width: unset;

          &:last-child {
            min-width: 160px;
          }
        }

        & > div {
          @include centered-row;
          gap: 8px;
        }

        &-title {
          @include centered-row;
          @include text-heading6;
          color: var(--color-gray-400);
          height: 32px;
          margin-bottom: 8px;
          text-transform: uppercase;
        }

        & a {
          @include centered-row;
          color: var(--color-gray-200);
          font-size: 14px;
          max-width: max-content;
          min-height: 32px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-build {
      @include centered-row;
      @include text-heading6;
      gap: 16px;
      text-transform: uppercase;

      @include desktop {
        justify-content: flex-end;
      }

      &-text {
        color: var(--color-white-40);
      }

      & > a:hover {
        opacity: 0.6;
      }
    }

    &-copy {
      color: var(--color-white-40);
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
