@import "src/styles/globals.scss";

.footer {
  display: grid;
  grid-template-areas:
    "brand"
    "links"
    "social"
    "copy";
  column-gap: 32px;
  row-gap: 40px;
  width: 100%;
  min-height: 128px;
  padding: 16px;
  padding-top: 32px;
  background-color: rgba(1, 0, 20, 0.25);
  border-top: 1px solid var(--color-white-10);

  @include desktop {
    row-gap: 8px;
    grid-template-areas:
      "brand links social"
      "copy links social";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px 60px;
  }

  &-brand {
    margin: 0 auto;
    grid-area: brand;
    margin-bottom: 16px;

    a {
      text-decoration: none;
    }

    @include desktop {
      width: 100%;
      margin: auto;
    }
  }

  &-social {
    @include centered-row;

    justify-content: center;
    grid-area: social;
    gap: 32px;
    width: 100%;
    margin-bottom: 16px;

    > svg {
      color: var(--color-secondary-800);

      &:hover {
        color: var(--color-secondary-700);
      }
    }

    @include desktop {
      justify-content: flex-end;
      align-items: center;
      gap: 24px;
      margin-bottom: 0;
    }
  }

  &-links {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 40px;
    grid-area: links;

    &-item {
      @include centered-row;

      cursor: pointer;
      user-select: none;

      a {
        @include text-p3;

        color: var(--color-primary-50);
        text-decoration: none;
        text-align: center;
      }
    }
  }

  &-copy {
    @include text-p3;

    text-align: center;
    grid-area: copy;
    color: var(--color-primary-100);

    @include desktop {
      text-align: start;
    }
  }
}
