@import "src/styles/globals.scss";

.footer {
  @include centered-row;

  min-height: 570px;
  padding: 48px 16px 24px;
  background-color: rgba(1, 0, 20, 0.25);
  border-top: 1px solid var(--color-white-10);

  @include desktop {
    padding: 36px 60px 24px;
    min-height: 168px;
  }

  &-container {
    display: grid;
    grid-template-areas:
      "brand"
      "links"
      "social"
      "copy";
    column-gap: 32px;
    row-gap: 72px;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;

    @include desktop {
      row-gap: 52px;
      grid-template-areas:
        "brand links social"
        "copy copy copy";
      grid-template-columns: 1fr 1fr 1fr;
      max-width: unset;
      margin: auto;
    }
  }

  &-brand {
    @include centered-row;

    justify-content: center;
    grid-area: brand;
    padding: 0 32px;

    a {
      text-decoration: none;
    }

    @include desktop {
      width: 100%;
      margin: auto;
      padding: 0;
      justify-content: start;
    }
  }

  &-social {
    @include centered-column;

    align-items: center;
    grid-area: social;
    gap: 24px;
    padding: 0 32px;

    @include desktop {
      @include centered-row;

      justify-content: flex-end;
      gap: 40px;
      margin-bottom: 0;
      padding: 0;
    }

    &-text {
      @include text-p3;

      color: var(--color-primary-100);

      @include desktop {
        flex: unset;
      }
    }

    &-icons {
      @include centered-row;

      gap: 56px;

      svg {
        color: var(--color-secondary-800);

        &:hover {
          color: var(--color-secondary-700);
        }
      }

      @include desktop {
        flex: unset;
        gap: 40px;
      }
    }
  }

  &-links {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 72px;
    grid-area: links;
    padding: 0 32px;

    @include desktop {
      grid-template-columns: auto auto;
      justify-content: center;
      padding: 0;
      gap: 120px;
    }

    &-item {
      @include centered-row;
      justify-content: center;

      cursor: pointer;
      user-select: none;

      a {
        @include text-p3;

        color: var(--color-primary-50);
        text-decoration: none;
        text-align: center;
      }
    }
  }

  &-copy {
    @include centered-column;
    @include text-caption1;

    font-weight: 400;
    font-size: 14px;
    text-align: center;
    grid-area: copy;
    color: var(--color-white-30);

    @include desktop {
      @include centered-row;

      justify-content: space-between;
      font-size: 12px;
    }

    &-brand {
      order: 1;

      @include desktop {
        order: 3;
      }
    }

    &-project {
      order: 2;
    }

    &-powered {
      order: 3;
      margin-top: 80px;
      color: var(--color-white-40);
      font-size: 12px;

      & a {
        text-decoration: none;
        color: var(--color-white-40);

        &:hover,
        &:active {
          color: var(--color-information-100);
        }
      }

      @include desktop {
        order: 1;
        margin: 0;

        & a {
          color: var(--color-white-30);
        }
      }
    }
  }
}
