@import "src/styles/globals.scss";

.chart-container {
  height: 0;
  overflow: hidden;
  padding: 0px 4px;
  transition: height 0.3s ease, padding 0.3s ease;
  position: relative;

  @include desktop {
    display: none;
    height: calc(100% - 72px);
    overflow: unset;
    padding: unset;
    position: absolute;
    right: 0;
    top: 0;
    transition: unset;
    width: 52.5%;
  }

  &-title {
    @include text-caption1;
    color: var(--color-primary-10);
    font-weight: 400;
    padding: 24px 8px 12px 8px;

    @include desktop {
      color: var(--color-primary-90);
      font-weight: 600;
      height: 72px;
      padding: 24px 16px;
      text-transform: uppercase;
    }
  }

  &-chart {
    border-radius: 4px;
    border: 1px solid var(--color-primary-800);
    display: flex;
    flex-direction: column;

    @include desktop {
      height: calc(100% - 72px);
    }
  }

  &-expanded {
    background-color: var(--color-white-03);
    display: block;
    padding-bottom: 20px;

    @include desktop {
      background-color: unset;
      border: none;
      height: 100%;
      padding-bottom: unset;
    }

    &-1row {
      height: 190.56px;

      @include tablet {
        height: 231.17px;
      }

      @include desktop {
        height: 100%;
      }
    }

    &-2row {
      height: 302.56px;

      @include tablet {
        height: 380.366px;
      }

      @include desktop {
        height: 100%;
      }
    }

    &-3row {
      height: 414.56px;

      @include tablet {
        height: 529.54px;
      }

      @include desktop {
        height: 100%;
      }
    }

    @include desktop {
      height: 100%;
    }
  }

  &-chart-row {
    display: flex;

    @include desktop {
      height: 100%;
    }

    &-item {
      border: 1px solid var(--color-primary-800);
      color: var(--color-primary-30);
      display: flex;
      min-width: 70px;

      @include tablet {
        min-width: 120px;
      }

      @include desktop {
        min-width: 100px;
      }

      @include bigDesktop {
        min-width: 120px;
      }

      display: flex;
      flex-direction: column;
      padding: 8px;
      gap: 8px;
      width: 100%;

      @include desktop {
        padding: 16px;
      }

      & div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @include desktop {
          gap: 8px;
        }

        &:first-child {
          justify-content: flex-start;
        }

        &:last-child {
          flex-direction: column;
          height: 100%;

          @include desktop {
            justify-content: center;
          }
        }
      }

      &-icon {
        height: 12px;
        width: 12px;

        @include tablet {
          height: 24px;
          width: 24px;
        }
      }

      &-chain-name {
        @include text-p2-bold;
        font-size: 12px;

        @include tablet {
          font-size: 16px;
        }
      }

      &-volume {
        @include text-p3;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        line-height: 1.2;

        @include tablet {
          font-size: 14px;
        }

        @include desktop {
          font-size: 12px;
        }

        @include bigDesktop {
          font-size: 14px;
        }

        & span {
          font-weight: 600;
        }
      }

      &-txs {
        @include text-p3;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        line-height: 1.2;

        @include tablet {
          font-size: 14px;
        }

        @include desktop {
          font-size: 12px;
        }

        @include bigDesktop {
          font-size: 14px;
        }

        & span {
          font-weight: 600;
        }
      }
    }

    &-item-0 {
      background-color: var(--color-primary-500);
      position: relative;

      & .wormhole-brand-container {
        bottom: 8px;
        display: block;
        height: 34px;
        left: 0;
        margin: auto;
        min-height: unset;
        opacity: 0.1;
        pointer-events: none;
        position: absolute;
        right: 0;
        user-select: none;
        width: 180px;
        z-index: 10;

        &-center {
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
        }

        &-centerRight {
          bottom: 0;
          left: unset;
          right: 8px;
          top: 0;
        }
      }
    }

    &-item-1 {
      background-color: var(--color-primary-400);
    }

    &-item-2 {
      background-color: #3a3d87;
    }

    &-item-3 {
      background-color: #3f428d;
    }

    &-item-4 {
      background-color: #565aaa;
    }

    &-item-5 {
      background-color: #7c81dc;
      color: var(--color-primary-900);
    }

    &-item-6 {
      background-color: #989bdb;
      color: var(--color-primary-900);
    }
  }
}
