@import "src/styles/globals.scss";

.chart-container {
  height: 0;
  overflow: hidden;
  padding: 0px 4px;
  transition: height 0.3s ease, padding 0.3s ease;
  position: relative;

  @include desktop {
    display: none;
    height: calc(100% - 72px);
    overflow: unset;
    padding: unset;
    position: absolute;
    right: 0;
    top: 0;
    transition: unset;
    width: 52.5%;
  }

  &-title {
    @include text-caption1;
    color: var(--color-primary-10);
    font-weight: 400;
    padding: 24px 8px 12px 8px;

    @include desktop {
      color: var(--color-primary-90);
      font-weight: 600;
      height: 72px;
      padding: 24px 16px;
      text-transform: uppercase;
    }
  }

  &-chart {
    border-radius: 4px;
    border: 1px solid var(--color-primary-800);
    display: flex;
    flex-direction: column;

    @include desktop {
      height: calc(100% - 72px);
    }
  }

  .wormhole-brand {
    height: 0;
    margin: auto;
    min-height: unset;
    opacity: 0.1;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    width: 180px;
    z-index: 10;

    @include desktop {
      display: block;
    }
  }

  &-expanded {
    background-color: var(--color-white-03);
    display: block;
    padding-bottom: 20px;

    @include desktop {
      background-color: unset;
      border: none;
      /* height: 100%; */
      padding-bottom: unset;
    }

    .wormhole-brand {
      visibility: visible;

      @include desktop {
        bottom: -72px;
        transition: unset;
      }
    }

    &-1row {
      height: 186.33px;

      .wormhole-brand {
        transform: translateY(110px);
      }

      @include tablet {
        height: 231.15px;

        .wormhole-brand {
          transform: translateY(135px);
        }
      }

      @include desktop {
        height: 100%;

        .wormhole-brand {
          transform: translateY(365px);
        }
      }
    }

    &-2row {
      height: 294.09px;

      .wormhole-brand {
        transform: translateY(164px);
      }

      @include tablet {
        height: 380.32px;

        .wormhole-brand {
          transform: translateY(209px);
        }
      }

      @include desktop {
        height: 100%;

        .wormhole-brand {
          transform: translateY(365px);
        }
      }
    }

    &-3row {
      height: 399.26px;

      .wormhole-brand {
        transform: translateY(218px);
      }

      @include tablet {
        height: 524.29px;

        .wormhole-brand {
          transform: translateY(285px);
        }
      }

      @include desktop {
        height: 100%;

        .wormhole-brand {
          transform: translateY(365px);
        }
      }
    }

    @include desktop {
      height: 100%;
    }
  }

  &-chart-row {
    display: flex;

    @include desktop {
      &:first-child {
        height: 100%;
      }

      &:not(.chart-container-chart-row-h-100) {
        height: 100%;
      }

      &-h-100 {
        &:nth-child(2) {
          height: 100%;

          & .chart-container-chart-row-item-2 {
            min-width: 100px;

            @include tablet {
              min-width: 150px;
            }

            @include desktop {
              min-width: 150px;
            }

            @include bigDesktop {
              min-width: 180px;
            }
          }

          & .chart-container-chart-row-item-volume span {
            font-size: 12px;

            @include tablet {
              font-size: 18px;
            }

            @include desktop {
              font-size: 18px;
            }

            @include bigDesktop {
              font-size: 20px;
            }
          }
        }
      }
    }

    &-item {
      border: 1px solid var(--color-primary-800);
      color: var(--color-primary-30);
      display: flex;
      min-width: 70px;

      @include tablet {
        min-width: 120px;
      }

      @include desktop {
        min-width: 100px;
      }

      @include bigDesktop {
        min-width: 120px;
      }

      display: flex;
      flex-direction: column;
      padding: 8px;
      gap: 8px;
      width: 100%;

      @include desktop {
        padding: 16px;
      }

      & div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @include desktop {
          gap: 8px;
        }

        &:first-child {
          justify-content: flex-start;
        }

        &:last-child {
          flex-direction: column;
          height: 100%;

          @include desktop {
            justify-content: center;
          }
        }
      }

      &-icon {
        height: 12px;
        width: 12px;

        @include tablet {
          height: 24px;
          width: 24px;
        }
      }

      &-chain-name {
        @include text-p2-bold;
        font-size: 10px;

        @include tablet {
          font-size: 14px;
        }

        @include bigDesktop {
          font-size: 14px;
        }
      }

      &-volume {
        @include text-p3;
        color: var(--color-primary-90);
        display: flex;
        flex-direction: column;
        font-size: 8px;
        line-height: 1.3;

        @include tablet {
          font-size: 12px;
        }

        @include bigDesktop {
          font-size: 14px;
        }

        & span {
          color: var(--color-primary-30);
          font-size: 10px;
          font-weight: 600;

          @include tablet {
            font-size: 14px;
          }

          @include bigDesktop {
            font-size: 16px;
          }
        }
      }

      &-txs {
        @include text-p3;
        color: var(--color-primary-90);
        display: flex;
        flex-direction: column;
        font-size: 8px;
        line-height: 1.3;

        @include tablet {
          font-size: 12px;
        }

        @include bigDesktop {
          font-size: 14px;
        }

        & span {
          color: var(--color-primary-30);
          font-weight: 600;
        }
      }
    }

    &-item-0 {
      background-color: var(--color-primary-500);

      & .chart-container-chart-row-item-volume span {
        font-size: 12px;

        @include tablet {
          font-size: 18px;
        }

        @include desktop {
          font-size: 18px;
        }

        @include bigDesktop {
          font-size: 20px;
        }
      }
    }

    &-item-1 {
      background-color: var(--color-primary-400);
    }

    &-item-2 {
      background-color: #3a3d87;
    }

    &-item-3 {
      background-color: #3f428d;
    }

    &-item-4 {
      background-color: #565aaa;
    }

    &-item-5 {
      background-color: #7c81dc;
      color: var(--color-primary-900);

      & .chart-container-chart-row-item-volume,
      .chart-container-chart-row-item-txs {
        color: var(--color-primary-300);

        & span {
          color: var(--color-primary-900);
        }
      }
    }

    &-item-6 {
      background-color: #989bdb;
      color: var(--color-primary-900);

      & .chart-container-chart-row-item-volume,
      .chart-container-chart-row-item-txs {
        color: var(--color-primary-300);

        & span {
          color: var(--color-primary-900);
        }
      }
    }
  }
}
