@import "src/styles/globals.scss";

.devtools-page {
  flex: 1;
  display: block;

  &-container {
    padding: 64px 24px;
  }

  &-title {
    @include text-h2;

    color: var(--color-primary-30);
    margin-bottom: 8px;
  }

  &-body {
    @include text-p1;
    color: var(--color-primary-50);
  }

  .parse {
    display: flex;
    flex: 1;

    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    &-txType {
      display: flex;
      flex-wrap: wrap;

      width: 100%;
      margin-bottom: 12px;
      gap: 4px;

      &-input {
        width: 100%;
        height: 50px;
        color: var(--color-white-90);
        font-size: 16px;

        border: 1px solid var(--color-white-20);
        padding-left: 8px;

        background-image: linear-gradient(
          to top,
          var(--color-primary-800),
          var(--color-primary-900)
        );
        &:focus {
          outline: 1px solid var(--color-white-40);
        }
      }
    }

    &-multiple {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: 1px solid var(--color-white-10);
      padding: 4px;

      font-size: 16px;

      &-left {
        margin-left: 8px;
      }

      &-right {
        cursor: pointer;
        user-select: none;

        .vaa-pages {
          padding-right: 4px;
        }

        &:hover {
          color: var(--color-primary-100);
        }
      }

      .right-icon {
        display: inline-block;

        transform: translateY(4px);
      }
    }

    &-input {
      &-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 680px;

        width: 100%;
        @include desktop {
          width: 38%;
        }

        &-copy {
          position: absolute;
          right: 6px;
          bottom: 6px;
        }

        &-format {
          position: absolute;
          left: 4px;
          bottom: 4px;

          display: flex;
          gap: 2px;
          padding: 2px;

          font-size: 14px;
          border-radius: 6px;

          span {
            padding-left: 4px;
            padding-right: 4px;
            cursor: pointer;
            user-select: none;
            background-color: var(--color-primary-700);

            &.active {
              background-color: var(--color-primary-500);
            }

            &:hover {
              background-color: var(--color-primary-300);
            }
          }
        }
      }

      display: flex;
      flex-grow: 1;

      background-image: linear-gradient(to top, var(--color-primary-800), var(--color-primary-900));

      border: 1px solid var(--color-white-20);
      border-radius: 4px;

      color: var(--color-white-90);
      font-size: 14px;
      padding: 10px;

      resize: none;

      &:focus {
        outline: 1px solid var(--color-white-40);
      }
    }

    &-result {
      display: flex;
      justify-content: start;

      position: relative;
      margin-top: 32px;

      width: 100%;
      height: 650px;
      @include desktop {
        width: 60%;
      }

      border: 1px solid var(--color-white-20);
      border-radius: 4px;

      &-title {
        position: absolute;
        top: -32px;
        color: var(--color-primary-50);
        width: 100%;
        cursor: default;

        &-switch {
          position: absolute;
          right: 0;
          bottom: 2px;
          font-size: 14px;
          cursor: pointer;
          user-select: none;

          color: var(--color-primary-100);
          &:hover {
            color: var(--color-primary-150);
          }
        }
      }

      &-not-found {
        margin-left: 8px;
      }

      &-bottom {
        @include button-secondary;
        position: absolute;
        bottom: -56px;
        right: 0px;
        color: var(--color-white-90);
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 4px;
      }

      &-copy {
        position: absolute;
        top: 16px;
        right: 18px;
        z-index: 4;
        background-color: var(--color-primary-800);
        border-radius: 4px;
      }

      &-json {
        background-color: var(--color-primary-900);
        color: var(--color-primary-90);
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        overflow: scroll;
        cursor: not-allowed;

        &-text {
          cursor: text;
        }
      }
    }
  }

  .copy-item {
    display: inline-block;
    margin-left: 6px;
    transform: translateY(2px);

    cursor: pointer;
  }
}
