@import "src/styles/globals.scss";

.devtools-page {
  flex: 1;
  display: block;

  &-container {
    padding: 8px 0 52px 0;

    @include desktop {
      padding: 80px 0 52px 0;
    }
  }

  &-title {
    @include text-roboto-heading-500;
    color: var(--color-white);
    margin-bottom: 24px;
  }

  &-description {
    @include text-roboto-body-400;
    color: var(--color-gray-400);
    margin-bottom: 24px;
    max-width: 811px;
    text-wrap: pretty;
  }

  .parse {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 100%;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-txType {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      margin-bottom: 36px;
      position: relative;
      width: 100%;

      & > svg {
        bottom: 0;
        color: var(--color-white-50);
        left: 16px;
        margin: auto;
        position: absolute;
        top: 0;
      }

      &-input {
        @include text-roboto-body-large-400;
        background-color: var(--color-gray-950);
        border-radius: 20px;
        border: none;
        color: var(--color-white);
        height: 68px;
        outline: none;
        padding: 0 16px 0 48px;
        width: 100%;

        &.error {
          border: 1px solid var(--color-error-100);
        }
      }

      &-error {
        @include centered-row;
        @include text-roboto-body-400;
        gap: 8px;
        width: 100%;
        transform: translateY(-24px);

        & > .icon {
          color: var(--color-error-100);
        }
      }
    }

    &-links {
      @include centered-column;
      gap: 20px 16px;
      margin-bottom: 36px;
      width: 100%;

      @include desktop {
        @include centered-row;
        justify-content: flex-start;
        margin-bottom: 64px;
      }

      &-reset {
        @include button-secondary;
        justify-content: center;
      }

      &-navlink {
        @include button-primary;
        justify-content: center;
      }
    }

    &-content {
      @include centered-column;
      justify-content: flex-start;
      width: 100%;

      @include desktop {
        width: 38%;

        + .parse-content {
          width: 60%;
        }
      }

      &-title {
        @include centered-row;
        @include text-roboto-body-500;
        color: var(--color-white);
        cursor: pointer;
        gap: 8px;
        margin-bottom: 20px;
        width: max-content;

        &:hover {
          color: var(--color-white-70);
        }

        &.rotate > svg {
          rotate: 180deg;
        }
      }
    }

    &-multiple {
      @include text-roboto-body-400;
      background-color: var(--color-gray-950);
      color: var(--color-white);
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      margin-bottom: 32px;
      padding: 8px;
      width: 100%;

      & svg {
        color: var(--color-primary-100);
      }

      &-left {
        @include centered-row;
        gap: 6px;
      }

      &-right {
        @include centered-row;
        gap: 6px;
        cursor: pointer;

        &:hover {
          filter: brightness(1.2);
        }

        & .triangle-icon {
          rotate: -90deg;
        }
      }
    }

    &-input {
      background-color: var(--color-black);
      border-radius: 12px;
      border: none;
      color: var(--color-white-90);
      display: flex;
      flex-grow: 1;
      font-size: 14px;
      outline: none;
      padding: 20px;
      resize: none;

      &-container {
        background-color: var(--color-gray-950);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 466px;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        transition: height 0.3s ease-in-out;
        width: 100%;

        @include desktop {
          height: 426px;
          margin-bottom: 0;
        }

        &.with-data {
          height: 808px;
        }

        &.hide {
          height: 70px;
        }

        &-top {
          @include centered-row;
          gap: 6px;
          height: 36px;
          margin-bottom: 16px;

          &-btns {
            @include centered-row;
            background-color: var(--color-gray-900);
            border-radius: 20px;
          }

          &-btn {
            @include button-secondary;
            background-color: transparent !important;

            &.active {
              @include button-secondary;
              background-color: var(--color-gray-800) !important;
            }
          }

          &-copy {
            @include centered-row;
            @include text-roboto-body-400;
            color: var(--color-gray-500);
            gap: 8px;
            margin-left: auto;
          }
        }
      }
    }

    &-result {
      @include centered-column;
      background-color: var(--color-gray-950);
      border-radius: 20px;
      display: flex;
      height: 466px;
      justify-content: start;
      overflow: hidden;
      padding: 20px;
      position: relative;
      transition: height 0.3s ease-in-out;
      width: 100%;

      @include desktop {
        height: 426px;
      }

      &.with-data {
        height: 808px;
      }

      &.hide {
        height: 70px;
      }

      &-top {
        @include centered-row;
        gap: 6px;
        height: 36px;
        margin-bottom: 16px;

        &-btns {
          @include centered-row;
          background-color: var(--color-gray-900);
          border-radius: 20px;
        }

        &-btn {
          @include button-secondary;
          background-color: transparent !important;

          &.active {
            @include button-secondary;
            background-color: var(--color-gray-800) !important;
          }
        }

        &-copy {
          @include centered-row;
          @include text-roboto-body-400;
          color: var(--color-gray-500);
          gap: 8px;
          margin-left: auto;
          white-space: nowrap;
        }
      }

      &-not-found {
        color: var(--color-error-100);
      }

      &-json {
        @include text-roboto-body-400;
        background-color: var(--color-black);
        border-radius: 12px;
        border: none;
        color: var(--color-white);
        cursor: not-allowed;
        display: flex;
        flex-grow: 1;
        line-height: 1.5;
        overflow: scroll;
        padding: 20px;
        position: relative;
        resize: none;
        width: 100%;

        @include tablet {
          overflow-x: auto;
          overflow-y: scroll;
        }

        &-text {
          cursor: text;
        }
      }
    }
  }

  &-alert {
    @include centered-column;
    align-items: center;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;

    &.encoded {
      padding: 40px;
      margin-top: 72px;
    }

    &-info {
      @include centered-row;
      gap: 8px;

      & > svg {
        align-self: flex-start;
        color: var(--color-gray-600);
        min-width: max-content;
      }

      & > p {
        @include text-roboto-body-400;
        color: var(--color-gray-500);
        max-width: 170px;

        @include desktop {
          max-width: unset;
        }
      }
    }
  }

  & .added-stuff {
    user-select: none;
  }

  & .chain-icon {
    display: inline;
    margin-left: 8px;

    & > img {
      transform: scale(1.25) translateY(2px);
      margin-right: 4px;
    }
  }

  .copy-item {
    color: var(--color-gray-600);
    display: inline-block;
    margin-left: 6px;
    height: 16.5px;
    line-height: 1;

    & span {
      display: inline-flex;
    }

    & svg {
      cursor: pointer;
      vertical-align: middle;
    }
  }
}
