.submit {
  margin-top: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  word-wrap: break-word;

  padding: 12px;

  &-selectedLayouts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;

    &-remove {
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: var(--color-secondary-700);
    }
  }

  &-layout {
    &-input {
      margin-left: 6px;
      width: 140px;
    }

    &-button {
      width: 140px;
    }
  }
}
