.submit {
  margin-top: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  word-wrap: break-word;

  padding: 12px;

  &-selectedLayouts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;

    &-remove {
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: var(--color-secondary-700);
    }
  }

  &-layout {
    &-input {
      margin-left: 6px;
      width: 140px;
    }

    &-button {
      width: 140px;
    }

    &-bitset {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 6px;

      &-close {
        cursor: pointer;
        margin-left: 2px;
        color: grey;
      }
    }

    &-plus {
      width: 22px;
      height: 22px;
      border-radius: 60%;
      background-color: var(--color-white-10);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
