@import "src/styles/globals.scss";

.tx {
  &-title {
    @include centered-row;
    @include text-p1;
    color: var(--color-primary-90);
    font-weight: 500;
    gap: 16px;
  }

  &-history {
    @include card-container;
    @include centered-column;
    flex: 3;
    gap: 24px;
    justify-content: start;
    min-height: 364px;

    &-options {
      @include centered-row;
      column-gap: 8px;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 32px;

      @include desktop {
        gap: 16px;
      }
    }
  }
}
