@import "src/styles/globals.scss";

.tx {
  &-title {
    @include centered-row;
    @include text-p1;

    color: var(--color-primary-90);
    font-weight: 500;
    gap: 16px;
  }

  &-history {
    @include centered-column;
    justify-content: start;

    flex: 2;
    gap: 24px;
    margin-top: 75px;

    @include desktop {
      flex: 3;
      gap: 16px;
      margin-left: 4vw;
      margin-top: 0;
    }

    @include bigDesktop {
      flex: 2;
    }

    &-options {
      @include centered-row;

      column-gap: 8px;
      row-gap: 32px;

      @include desktop {
        gap: 16px;
      }

      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
