@import "src/styles/globals.scss";

.wormhole-brand {
  @include centered-row;
  @include text-h5;

  gap: 16px;

  &-text {
    color: var(--color-white);
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 8px;
    font-weight: 600;
  }
}
