@import "src/styles/globals.scss";

.wormhole-brand {
  @include centered-row;
  align-items: center;

  &-image {
    width: auto;
    height: 24px;

    &.regular {
      width: auto;
      height: 34px;
    }
  }

  @include desktop {
    &-image {
      width: auto;
      height: 34px;
    }
  }
}
