@import "src/styles/globals.scss";

.top-list {
  @include card-container;

  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  &-header {
    @include centered-column;
    gap: 8px;
    margin-bottom: 32px;
  }

  &-title-container {
    @include centered-row;

    width: 100%;
    justify-content: space-between;
    align-items: center;

    gap: 8px;
  }

  &-title {
    @include text-p1;

    color: var(--color-primary-50);
  }

  &-subtitle {
    @include text-p2;

    color: var(--color-primary-100);
  }

  &-body {
    @include centered-column;
    justify-content: start;

    flex: 1;
    gap: 32px;
  }
}
