@use "src/styles/globals.scss" as *;

.filters {
  @include centered-column;
  position: relative;

  &-bg {
    background-color: var(--color-black-50);
    inset: 0;
    position: fixed;
    z-index: 9;
  }

  &-top {
    @include centered-column;
    gap: 17px 32px;
    margin-bottom: 32px;

    @include desktop {
      @include centered-row;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    &-toggle {
      max-width: 100% !important;

      & .toggle-group-root {
        justify-content: space-between;
        width: 100%;

        & .toggle-group-item {
          justify-content: center;
          width: 100%;
        }
      }
    }

    &-btn {
      @include button-secondary;
      justify-content: center;
      width: 100%;

      @include desktop {
        width: auto;
      }

      & > svg {
        color: var(--color-white-60);
      }

      & .counter {
        margin-left: 8px;
      }
    }
  }

  &-container {
    @include centered-column;
    background-color: var(--color-gray-950);
    border-radius: 40px 40px 0 0;
    border: 1px solid var(--color-gray-900);
    border-bottom: none;
    display: flex;
    gap: 16px;
    inset: 120vh 0 0 0;
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
    transition: inset 0.3s ease;
    width: 100%;
    z-index: 99;

    @include desktop {
      @include centered-row;
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-top: 1px solid var(--color-gray-900);
      display: none;
      inset: unset;
      margin-bottom: 28px;
      padding: 20px 0 0 0;
      position: relative;
      z-index: unset;
    }

    &.show {
      inset: max(16px, calc(100% - 600px)) 0 0 0;

      @include desktop {
        @include centered-row;
        align-items: start;
        background-color: var(--color-gray-950);
        border-radius: 16px;
        border: none;
        box-shadow: 0px 4px 6px 0px var(--color-black-20);
        display: grid;
        gap: 16px;
        grid-template-columns: 288px 248px 248px;
        height: 464px;
        inset: unset;
        left: 0;
        padding: 20px;
        position: absolute;
        top: 52px;
        width: max-content;
        z-index: 99;

        & .select-searchable .select-searchable-dropdown {
          background-color: transparent;
          cursor: default;
          height: auto;

          & svg {
            display: none;
          }
        }

        & .select-searchable:nth-child(3) {
          margin-right: 52px;
        }
      }

      @include bigDesktop {
        left: 268px;
      }
    }

    &-calendar {
      & > .calendar-custom-btn {
        height: 36px;

        & > span {
          margin: 0 auto;
          padding-left: 24px;

          @include desktop {
            margin: 0;
            padding: 0;
          }
        }
      }

      & > .calendar-custom-box {
        position: absolute;
        width: 100%;

        @include desktop {
          width: auto;
        }
      }
    }

    &-title {
      @include text-roboto-subheading-500;
      text-align: center;

      @include desktop {
        display: none;
      }
    }

    &-close-btn {
      @include button-secondary;
      height: 24px;
      padding: 0;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 24px;

      @include desktop {
        display: none;
      }
    }

    & .select-searchable-dropdown {
      height: 48px;
      justify-content: space-between;
      width: 100%;

      @include desktop {
        height: 36px;
      }
    }

    &-select-text {
      @include centered-row;
      @include text-roboto-body-500;
      color: var(--color-white);
      gap: 8px;

      @include desktop {
        @include text-roboto-body-400;
        color: var(--color-gray-400);
      }
    }

    &-apply-btn {
      @include button-primary;
      height: 48px;
      justify-content: center;
      margin-top: auto;

      @include desktop {
        grid-column: 3;
        grid-row: 3;
        height: 36px;
        margin-left: auto;
      }
    }

    &-reset-btn {
      @include button-ghost;
      height: 48px;
      justify-content: center;

      @include desktop {
        grid-column: 3;
        grid-row: 3;
        height: 36px;
        margin-left: 29px;
        margin-top: auto;
        margin-right: auto;

        &.hidden {
          display: none;
        }
      }
    }
  }
}
