@import "src/styles/globals.scss";

.filters {
  @include centered-column;
  position: relative;
  width: 100%;

  &-bg {
    background-color: var(--color-black-50);
    inset: 0;
    position: fixed;
    z-index: 9;
  }

  &-top {
    @include centered-column;
    gap: 17px;
    margin-bottom: 32px;

    @include desktop {
      @include centered-row;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-tab {
      @include button-secondary;
      cursor: default;

      max-width: max-content;
      &:not(:disabled) {
        &:hover,
        &:active {
          background: var(--color-gray-900);
        }
      }
    }

    &-btn {
      @include button-secondary;
      justify-content: center;
      width: 100%;

      @include desktop {
        width: auto;
      }

      & > svg {
        color: var(--color-white-60);
      }
    }
  }

  &-container {
    @include centered-column;
    background-color: var(--color-gray-950);
    border-radius: 40px 40px 0 0;
    border: 1px solid var(--color-gray-900);
    border-bottom: none;
    display: flex;
    gap: 16px;
    inset: 120vh 0 0 0;
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
    transition: inset 0.3s ease;
    width: 100%;
    z-index: 99;

    @include desktop {
      @include centered-row;
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-top: 1px solid var(--color-gray-900);
      display: none;
      inset: unset;
      margin-bottom: 28px;
      padding: 20px 0 0 0;
      position: relative;
      z-index: unset;
    }

    &.show {
      inset: max(16px, calc(100% - 600px)) 0 0 0;

      @include desktop {
        @include centered-row;
        inset: unset;
      }
    }

    &-title {
      @include text-roboto-subheading-500;
      text-align: center;

      @include desktop {
        display: none;
      }
    }

    &-close-btn {
      @include button-secondary;
      height: 24px;
      padding: 0;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 24px;

      @include desktop {
        display: none;
      }
    }

    & .select-searchable-dropdown {
      height: 48px;
      justify-content: space-between;
      width: 100%;

      @include desktop {
        height: 36px;
      }
    }

    &-select-text {
      @include centered-row;
      @include text-roboto-body-500;
      color: var(--color-white);
      gap: 8px;
    }

    &-apply-btn {
      @include button-primary;
      height: 48px;
      justify-content: center;
      margin-top: auto;

      @include desktop {
        height: 36px;
        margin-left: auto;
        order: 2;
      }
    }

    &-reset-btn {
      @include button-ghost;
      height: 48px;
      justify-content: center;

      @include desktop {
        height: 36px;
        margin-left: 12px;
        order: 1;

        &.hidden {
          display: none;
        }
      }
    }
  }
}

.counter {
  @include text-roboto-body-400;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-gray-900);
  display: flex;
  font-size: 12px;
  font-weight: 400;
  height: 20px;
  justify-content: center;
  width: 20px;

  &.inverted {
    background-color: var(--color-white);
    color: var(--color-secondary-800);
    font-weight: 500;
  }

  &.mobile {
    @include desktop {
      display: none;
    }
  }
}
