@import "src/styles/globals.scss";

.json-view {
  &-row {
    margin-left: 16px;
    position: relative;

    @include tablet {
      word-break: break-all;
    }
  }

  &-expandIcon {
    cursor: pointer;
    left: -18.2px;
    padding: 0 6.1px;
    position: absolute;

    &::before {
      border-color: transparent transparent transparent var(--color-primary-90);
      border-style: solid;
      border-width: 4px 0 4px 6px;
      content: "";
      display: inline-block;
    }

    &:hover {
      filter: brightness(1.4);
    }
  }

  &-collapseIcon {
    cursor: pointer;
    left: -18.2px;
    padding: 0 5.1px;
    position: absolute;

    &::before {
      border-color: var(--color-primary-90) transparent transparent transparent;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      content: "";
      cursor: pointer;
      display: inline-block;
    }

    &:hover {
      filter: brightness(1.4);
    }
  }

  &-collapsedContent {
    cursor: pointer;

    &::after {
      content: " ... ";
    }

    &:hover {
      filter: brightness(1.4);
    }
  }

  &-key {
    padding-right: 4px;
  }

  &-info {
    color: var(--color-information-100);
  }

  &-number {
    color: var(--color-alert-100);
  }

  &-string {
    color: var(--color-white-90);
  }
}
