@import "src/styles/globals.scss";

.wormhole-stats {
  @include card-container;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 56px 0;
  justify-content: space-between;
  min-height: 588px;
  width: 100%;

  @include tablet {
    min-height: 610px;
  }

  @include desktop {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    height: 100%;
    min-height: 110px;
  }

  &-loader {
    @include centered-column;
    margin: auto;
    max-height: 48px;
    overflow: hidden;
  }

  &-error {
    width: 100%;
  }

  &-title {
    @include centered-row;
    gap: 16px;
    color: var(--color-primary-90);
    font-weight: 500;

    @include desktop {
      padding: 0 24px 24px 0;
    }

    &:hover {
      color: var(--color-primary-30);
    }
  }

  &-container {
    @include centered-column;
    align-items: center;
    gap: 56px 80px;

    @include desktop {
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      gap: 24px 50px;
    }

    @include bigDesktop {
      gap: 24px 80px;
    }

    &-item {
      @include centered-column;
      align-items: center;
      justify-content: flex-start;

      @include desktop {
        align-items: flex-start;
      }

      &-title {
        @include text-p1;

        color: var(--color-primary-150);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        min-width: max-content;
        text-transform: uppercase;

        & svg {
          margin-left: 8px;
          vertical-align: -3.5px;
        }
      }

      &-value {
        @include text-h5;

        color: var(--color-primary-10);
        font-weight: 500;
      }
    }
  }

  & .w-187 {
    width: 187px;
  }
}

.wormhole-stats-testnet {
  @include centered-column;
  justify-content: space-between;

  @include tablet {
    min-width: 426px;
  }

  & > .wormhole-stats-error {
    height: 242px;
    margin-top: auto;
  }

  @include desktop {
    & .wormhole-stats-title {
      padding: 0;
    }

    & .wormhole-stats-container {
      max-width: 410px;

      &-item {
        width: 164px;
      }
    }
  }
}
