@import "src/styles/globals.scss";

.wormhole-stats {
  @include centered-column;
  margin-bottom: 40px;
  min-height: 247px;

  @include desktop {
    margin-bottom: 60px;
    min-height: 89px;
  }

  &-loader {
    @include centered-column;
    margin: auto;
    max-height: 48px;
    overflow: hidden;
  }

  &-error {
    width: 100%;
  }

  &-container {
    display: grid;
    gap: 36px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 40px;
    position: relative;

    @include desktop {
      @include centered-row;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: space-between;
      padding-bottom: 32px;
    }

    &-item {
      display: flex;
      flex-direction: column;

      @include desktop {
        align-items: flex-start;
      }

      &:nth-last-child(2) {
        & .wormhole-stats-container-item-title {
          display: none;

          @include desktop {
            display: block;
          }
        }
      }

      &-title {
        @include text-heading6;
        color: var(--color-gray-400);
        height: 18px;
        margin-bottom: 8px;
        min-width: max-content;
        text-transform: uppercase;

        &-time {
          @include text-heading6;
          color: var(--color-white-30);
        }

        & svg {
          margin-left: 8px;
          vertical-align: -3.5px;
        }
      }

      &-value {
        @include text-heading4;
        color: var(--color-white);

        &-link {
          @include centered-row;
          @include text-roboto-body-400;
          color: var(--color-white-60);
          cursor: pointer;
          gap: 4px;
          max-width: max-content;

          &:hover {
            color: var(--color-white);
          }
        }
      }
    }

    &-line {
      background-color: var(--color-gray-900);
      bottom: 0;
      height: 1px;
      left: -16px;
      position: absolute;
      width: calc(100% + 32px);

      @include tablet {
        left: -60px;
        width: calc(100% + 120px);
      }

      @include desktop {
        left: -120px;
        width: calc(100% + 240px);
      }
    }
  }
}
