@import "src/styles/globals.scss";

.txs-information {
  @include card-container;

  margin-bottom: 32px;
  padding: 0 !important;

  &-loader {
    @include centered-row;
    justify-content: center;
    height: 100%;
    min-height: 220px;
  }

  & .table-container {
    overflow-x: auto;
  }

  &-table-results {
    @include text-p3;

    padding: 24px;
    color: var(--color-primary-50);
  }

  .tabs {
    overflow-x: auto;
    overflow-y: visible;
    height: 100%;
  }

  &-top {
    @include centered-column;
    column-gap: 24px;

    @include desktop {
      @include centered-row;
      justify-content: space-between;
    }

    &-buttons {
      @include centered-row;
      @include text-p3;
      border-bottom: 1px solid var(--color-white-10);
      gap: 16px;
      justify-content: space-between;
      min-height: 50px;
      padding: 12px 16px;

      @include desktop {
        border-bottom: none;
        gap: 32px;
        padding: 12px 32px;
      }

      &-live-mode {
        @include text-p3;
        color: var(--color-primary-100);
        font-weight: 600;
        gap: 32px;
        width: 145px;
      }
    }

    &-pagination {
      @include centered-row;
      justify-content: center;

      padding: 24px 16px;

      @include desktop {
        border-bottom: none;
        padding: 12px 32px;
      }
    }
  }

  .table {
    th {
      text-align: center;

      &:first-child {
        width: 80px;
      }
    }

    td {
      text-align: center;
    }

    & a {
      color: var(--color-information-100);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & svg {
      color: var(--color-primary-90);
    }

    &.txs {
      .tx-hash {
        @include centered-row;
        gap: 12px;
        justify-content: center;
      }

      .tx-from,
      .tx-to {
        @include centered-row;
        gap: 12px;
        justify-content: center;
        text-align: left;

        &-address {
          @include centered-row;

          gap: 12px;
        }
      }

      .tx-flow {
        @include centered-column;
        align-items: center;
        border-radius: 5px;
        border: 1px solid transparent;
        font-size: 10px;
        font-weight: 600;
        height: 24px;
        margin: auto;
        width: 40px;

        &-in {
          background-color: var(--color-success-10);
          border-color: var(--color-success-20);
          color: var(--color-success-100);
        }

        &-out {
          background-color: var(--color-alert-10);
          border-color: var(--color-alert-20);
          color: var(--color-alert-100);
        }

        &-self {
          background-color: var(--color-white-10);
          border-color: var(--color-white-20);
          color: var(--color-white);
        }
      }
    }
  }

  .txs-pagination {
    display: flex;
    justify-content: center;
    padding: 48px 16px;

    @include desktop {
      justify-content: end;
      padding: 32px;
    }
  }
}
