@import "src/styles/globals.scss";

.txs-information {
  & .table-container {
    overflow-x: auto;
  }

  &-top {
    @include centered-column;
    column-gap: 24px;

    @include desktop {
      @include centered-row;
      justify-content: space-between;
    }
  }

  .table {
    td {
      @include text-roboto-body-500;
      color: var(--color-white);

      &:nth-last-child(2) {
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: 0;

        @include desktop {
          position: relative;
        }
      }

      &:nth-last-child(3) {
        border-bottom: 0;
      }

      & > div {
        @include centered-row;
        gap: 4px;
        height: 24px;

        & > h4 {
          @include text-heading6;
          color: var(--color-gray-400);
          margin-right: auto;

          @include desktop {
            display: none;
          }
        }
      }
    }

    & a {
      @include button-ghost;
    }

    &.txs {
      .not-found {
        color: var(--color-white-40);
      }

      .status-badge-status {
        background-color: transparent;
        padding: 0;
        text-transform: none;

        & > p {
          color: var(--color-white);
        }
      }

      .tx-hash {
        @include centered-row;
        gap: 4px;
        height: 24px;

        & .copy-to-clipboard {
          color: var(--color-gray-400);
        }
      }

      .tx-chains {
        @include centered-row;
        align-items: start;
        gap: 8px;
        height: auto;
        min-height: 24px;

        &-container {
          @include centered-column;
          gap: 8px;

          @include desktop {
            @include centered-row;
          }

          &-arrow {
            @include centered-row;

            @include desktop {
              flex-direction: column-reverse;
            }

            & .arrow-icon {
              color: var(--color-gray-600);
              margin: 0 12px;
              rotate: 90deg;

              @include desktop {
                rotate: 0deg;

                &.is-address {
                  display: none;
                }
              }
            }

            &-flow {
              @include centered-column;
              align-items: center;
              border-radius: 5px;
              border: 1px solid transparent;
              font-size: 10px;
              font-weight: 600;
              height: 24px;
              width: 40px;

              @include desktop {
                margin: 0 12px;
              }

              &-in {
                background-color: var(--color-success-10);
                border-color: var(--color-success-20);
                color: var(--color-success-100);
              }

              &-out {
                background-color: var(--color-alert-10);
                border-color: var(--color-alert-20);
                color: var(--color-alert-100);
              }

              &-self {
                background-color: var(--color-white-10);
                border-color: var(--color-white-20);
                color: var(--color-white);
              }
            }
          }

          &-item {
            @include centered-row;

            & .blockchain-icon {
              margin: 0 12px;

              @include desktop {
                margin: 0;
              }
            }

            & > a {
              margin-left: auto;

              @include desktop {
                margin-left: 12px;
              }
            }

            & .copy-to-clipboard {
              color: var(--color-gray-400);
              margin-left: 4px;
            }
          }
        }
      }

      .tx-protocols-icons {
        &-content {
          @include centered-row;

          & svg {
            background-color: var(--color-black);
            border-radius: 50%;
            padding: 2px;
          }

          & svg:not(:last-child) {
            margin-left: -8px;
            transform: translateX(8px);
          }
        }
      }

      .tx-view-details {
        & > a {
          @include button-secondary;
          justify-content: center;
          width: 100%;
        }

        @include desktop {
          display: none;
        }
      }

      .tx-time {
        @include text-roboto-body-400;
        color: var(--color-gray-400);
        justify-content: flex-end;
      }
    }
  }

  .txs-pagination {
    display: flex;
    justify-content: center;
    padding: 8px 0 64px 0;

    @include desktop {
      justify-content: flex-start;
      padding: 36px 0 80px 0;
    }
  }
}
