@import "src/styles/globals.scss";

.pagination {
  display: flex;
  color: var(--color-secondary-800);
  min-height: 38px;
  font-size: 15px;

  & > * {
    @include text-p2;

    font-weight: 600;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--color-white-10);
    background: var(--color-black-20);
    min-width: 40px;
  }

  & > button {
    @include text-p2;

    font-weight: 600;
    color: var(--color-secondary-800);
    cursor: pointer;
  }

  & > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  & > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  & > button:hover {
    background: var(--color-white-10);

    &:disabled {
      background: none;
    }
  }

  & > button:active {
    background-color: var(--color-secondary-800);
    color: var(--color-primary-30);
  }

  & > *:disabled {
    color: var(--color-white-20);
    cursor: not-allowed;

    &:active {
      color: var(--color-white-20);
    }
  }

  &.number {
    &.page {
      color: var(--color-white-20);

      &:active {
        background-color: var(--color-secondary-800);
        color: var(--color-primary-30);
      }
    }

    &.current {
      color: var(--color-primary-30);

      &:active {
        background-color: none;
      }
    }
  }

  &-last-page {
    pointer-events: none;
  }
}
