@import "src/styles/globals.scss";

.trans-history {
  @include centered-row;
  --min-height: 242px;

  flex: 1;
  width: 100%;
  min-height: var(--min-height);

  &-loader {
    @include centered-row;
    justify-content: center;
    height: 220px;
    width: 100%;
  }

  &-chart {
    height: 100%;
    width: 100%;

    & > div {
      min-height: var(--min-height);
    }
  }

  &-text {
    color: var(--color-primary-100);
    position: absolute;
  }

  &[data-range="day"],
  &[data-range="month"] {
    .apexcharts-xaxis-texts-g text {
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(20),
      &:nth-child(26) {
        display: none;

        @include tablet {
          display: block;
        }

        @include desktop {
          display: none;
        }

        @include bigDesktop {
          display: block;
        }
      }
    }
  }

  .apexcharts-tooltip {
    background: var(--color-primary-900) !important;
    border: 1px solid var(--color-primary-90) !important;
    color: var(--color-primary-90);
  }
}
