@import "src/styles/globals.scss";

.trans-history {
  @include centered-row;
  --min-height: 242px;

  flex: 1;
  width: 100%;
  min-height: var(--min-height);

  &-loader {
    @include centered-row;
    justify-content: center;
    height: 220px;
    width: 100%;
  }

  &-chart {
    height: 100%;
    width: 100%;

    & > div {
      min-height: var(--min-height);
    }

    &-info {
      background-color: var(--color-primary-900);
      max-width: 208px;
      padding: 8px 12px;
      white-space: normal;
      box-shadow: 0px 54px 5px rgba(230, 7, 250, 0.45);

      &-paragraph {
        color: var(--color-primary-30);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        &:nth-child(2) {
          margin-bottom: 4px;
        }
      }

      &-span {
        color: var(--color-primary-90);
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  &-text {
    color: var(--color-primary-100);
    position: absolute;
  }

  &[data-range="day"],
  &[data-range="month"] {
    .apexcharts-xaxis-texts-g text {
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(20),
      &:nth-child(26) {
        display: none;

        @include tablet {
          display: block;
        }

        @include desktop {
          display: none;
        }

        @include bigDesktop {
          display: block;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    &[data-range="week"] {
      .apexcharts-xaxis-texts-g text {
        &:first-child {
          transform: translateX(12px);
        }
        &:last-child {
          transform: translateX(-12px);
        }
      }
    }

    &[data-range="month"] {
      .apexcharts-xaxis-texts-g text {
        &:first-child {
          transform: translateX(16px);
        }
        &:last-child {
          transform: translateX(-16px);
        }
      }
    }

    &[data-range="3-month"] {
      .apexcharts-xaxis-texts-g text {
        &:first-child {
          transform: translateX(48px);
        }
        &:nth-child(24),
        &:nth-child(70) {
          display: none;
        }
        &:last-child {
          transform: translateX(-48px);
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &[data-range="3-month"] {
      .apexcharts-xaxis-texts-g text {
        &:first-child {
          display: none;
        }
      }
    }
  }

  .apexcharts-tooltip {
    background: var(--color-primary-900) !important;
    border: 1px solid var(--color-white-20) !important;
    box-shadow: 2px 6px 8px rgba(5, 5, 40, 0.45) !important;
    color: var(--color-primary-90);
  }
}
