@import "src/styles/globals.scss";

.alert {
  background-color: var(--color-information-15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  width: 100%;

  @include tablet {
    flex-direction: row;
    padding: 16px 24px;
  }

  & svg {
    color: var(--color-information-100);
    height: 24px;
    width: 24px;
  }

  &-text {
    @include text-p2;

    color: var(--color-primary-50);
  }
}
