@use "src/styles/globals.scss" as *;

.address-tooltip {
  @include centered-column;
  gap: 28px;
}

.address-chain-info {
  @include centered-row;
  @include text-roboto-body-400;
  gap: 8px;

  .arkham-icons {
    @include centered-row;
  }

  a {
    @include centered-row;
    color: var(--color-white);

    &:hover {
      color: var(--color-white-70);
    }
  }

  &-label {
    @include text-roboto-body-500;
    background-color: var(--color-gray-800);
    border-radius: 27px;
    display: inline;
    max-width: max-content;
    padding: 6px 12px;
  }

  &-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    gap: 4px;

    padding-top: 6px;
    padding-bottom: 6px;

    &-tag {
      border-radius: 8px;
      font-size: 14px;

      padding-left: 4px;
      padding-right: 4px;
      width: fit-content;
    }
  }
}

.address-chain-arkham {
  @include button-ghost;
  @include centered-row;
  color: var(--color-white);
  gap: 8px;

  & > svg {
    color: var(--color-white-60);
  }
}

.info-tooltip-icon {
  cursor: pointer;
  transform: scale(1.1);
}
