@import "src/styles/globals.scss";

.relayer-advanced {
  @include centered-column;

  .manual-delivery-btn {
    @include button-secondary;
    width: 100%;
    cursor: pointer;

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
  }

  .errored-info {
    background-color: var(--color-error-30);
    font-size: 14px;
    padding: 8px;
    height: 140px;
    overflow: auto;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}
