@import "src/styles/globals.scss";

.trans-history {
  &-loader {
    @include centered-row;
    justify-content: center;
    height: 200px;
    margin-top: 5px;
  }

  &-chart {
    margin-top: 5px;
    transform: translateY(10px);
    height: 200px;
  }

  &-text {
    color: var(--color-primary-100);
    position: absolute;
  }

  &[data-range="day"],
  &[data-range="month"] {
    .apexcharts-xaxis-texts-g text {
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(20),
      &:nth-child(26) {
        display: none;

        @include tablet {
          display: block;
        }

        @include desktop {
          display: none;
        }

        @include bigDesktop {
          display: block;
        }
      }
    }
  }
}
