@import "src/styles/globals.scss";

.txns-top {
  @include centered-row;

  flex-wrap: wrap;
  gap: 24px;

  margin-top: 48px;
  margin-bottom: 32px;
  width: 100%;
  justify-content: space-between;

  &-title {
    @include text-h5;
  }

  &-search-bar {
    max-width: 424px;
  }
}
