@use "src/styles/globals.scss" as *;

.tabs {
  margin-top: 24px;
  margin-bottom: 36px;

  .toggle-group {
    width: 100%;
    display: flex;

    &-item {
      padding-left: 12px;
      padding-right: 12px;
      @include tablet {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}

.summary {
  @include centered-column;
  gap: 12px;
  margin-bottom: 50px;

  &-back {
    @include centered-row;
    @include text-roboto-body-500;
    color: var(--color-white-60);
    gap: 0 4px;
    max-width: max-content;
    text-decoration: none;

    &:hover {
      color: var(--color-white);
    }

    & > svg {
      rotate: 180deg;
    }
  }

  &-top {
    @include centered-row;
    align-items: start;
    background-color: var(--color-gray-950);
    border-radius: 18px;
    gap: 20px;
    padding: 16px;

    @include desktop {
      min-height: 200px;
    }

    & > .loader {
      margin: auto;
    }

    &-img {
      background-color: var(--color-black);
      border-radius: 18px;
      display: none;
      height: 168px;
      min-width: 168px;
      width: 168px;

      @include desktop {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    &-content {
      @include centered-column;
      justify-content: space-between;
      flex-grow: 1;
      gap: 32px 0;

      &-title {
        @include centered-row;
        @include text-roboto-heading-500;
        gap: 16px;

        @include desktop {
          padding-top: 16px;
        }

        &-mobileImg {
          @include centered-row;
          justify-content: center;

          border-radius: 8px;

          background-color: var(--color-black);
          width: 70px;
          height: 70px;

          @include desktop {
            display: none;
          }

          & > img {
            width: 40px;
            height: 40px;
          }
        }
      }

      &-container {
        @include centered-column;
        flex-wrap: wrap;
        gap: 24px 16px;

        @include desktop {
          @include centered-row;
          justify-content: flex-start;
        }

        &-item {
          @include centered-column;
          white-space: nowrap;
          gap: 8px;
          flex: 1;

          &:nth-last-child(-n + 2) {
            flex-basis: 100%;
          }

          @include desktop {
            gap: 12px;
            max-width: max-content;

            &:first-child {
              order: 3;
            }

            &:nth-last-child(-n + 2) {
              flex-basis: unset;
            }
          }

          &-up {
            @include text-roboto-body-400;
            color: var(--color-gray-400);
          }

          &-down {
            @include centered-row;
            @include text-roboto-body-400;
            background-color: var(--color-gray-900);
            border-radius: 10px;
            color: var(--color-white);
            gap: 12px;
            height: 44px;
            padding: 0 16px;

            &.price {
              position: relative;
            }

            &.community {
              @include centered-row;
              gap: 0;
              justify-content: center;
              padding: 0;

              & > a {
                @include centered-row;
                height: 100%;
                justify-content: center;
                padding: 0 12px;
                width: 100%;

                &:hover {
                  & > svg {
                    color: var(--color-gray-200);
                  }
                }

                & > svg {
                  color: var(--color-gray-400);
                }
              }
            }

            .link {
              @include button-ghost;

              &:hover {
                & > svg {
                  color: var(--color-gray-200);
                }
              }

              & > svg {
                color: var(--color-gray-400);
              }
            }
          }

          &-chain {
            @include centered-row;
            gap: 4px;

            @media only screen and (min-width: 400px) {
              gap: 12px;
            }

            &-contract {
              @include centered-row;
              background-color: var(--color-gray-900);
              border-radius: 10px;
              color: var(--color-white);
              cursor: pointer;
              gap: 6px;
              justify-content: center;
              padding: 10px;

              svg {
                color: var(--color-gray-400);
              }

              &:hover {
                background-color: var(--color-gray-10);
              }

              &-more {
                @include centered-row;
                color: var(--color-gray-400);
                gap: 0 6px;
                height: 24px;
              }
            }

            &-tooltip {
              width: min-content;

              &-container {
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr 1fr;

                & .summary-top-content-container-item-chain-contract {
                  background-color: var(--color-gray-800);

                  &:hover {
                    background-color: var(--color-gray-700);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &-metrics {
    @include centered-column;
    gap: 24px;
    margin-bottom: 50px;

    &-title {
      @include centered-row;
      gap: 12px;

      & > svg {
        color: var(--color-gray-600);
      }

      &-text {
        @include text-roboto-subheading-500;
      }
    }

    &-container {
      @include centered-column;
      background-color: var(--color-gray-950);
      border-radius: 16px;
      gap: 24px;
      padding: 24px 16px;
      width: 100%;
      border: 1px solid var(--color-gray-900);

      @media screen and (min-width: 1200px) {
        border: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 16px 32px;
      }

      & .loader {
        grid-column: 1 / span 5;
        padding: 4.75px 16px;
      }

      &-item {
        @include centered-column;
        background-color: var(--color-gray-950);
        gap: 12px 0;
        width: 100%;

        &-label {
          @include text-roboto-body-400;
          color: var(--color-gray-400);
          text-transform: uppercase;
          text-wrap: balance;

          &-icon {
            display: inline-block;
            height: 16px;

            & > svg {
              display: block;
            }
          }
        }

        &-value {
          @include text-roboto-heading-500;
          color: var(--color-white);
          white-space: nowrap;
          margin-top: auto;
        }
      }
    }
  }
}

.transfers-over-time {
  @include centered-column;
  margin-bottom: 50px;

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    gap: 12px;

    &-fullscreen {
      cursor: pointer;
      transform: translateY(3px);
    }

    svg {
      color: var(--color-gray-600);
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &-toggles {
    @include centered-row;
    gap: 12px;
    margin-left: auto;
  }

  &-filters {
    @include centered-row;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 32px;

    @include tablet {
      flex-wrap: nowrap;
    }

    &-legends {
      @include centered-row;
      @include text-roboto-body-400;
      align-items: start;
      color: var(--color-white);
      justify-content: flex-end;
      white-space: nowrap;

      &-total {
        @include centered-row;
        gap: 12px;

        & > span {
          @include text-roboto-body-400;
          color: var(--color-gray-500);
        }

        & > p {
          @include text-heading5;
          color: var(--color-white);
        }
      }
    }
  }

  &-select-range {
    width: 100%;

    @include tablet {
      width: inherit;
    }
  }

  &-container {
    background-color: var(--color-gray-950);
    border-radius: 18px;
    padding: 24px 24px 0 24px;

    &-chart {
      @include centered-column;
      justify-content: flex-start;
      min-height: 451px;
      position: relative;

      @include tablet {
        min-height: 403px;
      }

      @include desktop {
        min-height: 463px;
      }

      & .loader {
        margin-top: 96px;
      }

      & .wormholescan-brand {
        bottom: -24px;
        filter: grayscale(1);
        height: 34px;
        left: 0;
        margin: auto;
        min-height: unset;
        opacity: 0.2;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        user-select: none;
        width: 162px;
        z-index: 1;

        @include tablet {
          bottom: 24px;
        }

        @include desktop {
          bottom: 8px;
          width: 217px;
        }
      }

      .apexcharts-canvas {
        background-color: transparent !important;
      }

      &-tooltip {
        background-color: var(--color-gray-900);
        border-radius: 8px;
        padding: 12px;

        &-date {
          @include centered-column;
          @include text-heading6;
          color: var(--color-gray-400);
          font-family: "Roboto Mono", "Roboto", sans-serif !important;
          gap: 4px 0;
          margin-bottom: 12px;
          text-transform: uppercase;
        }

        &-amount {
          @include centered-row;
          @include text-roboto-body-400;
          font-family: "Roboto", sans-serif !important;
          gap: 0 8px;

          span {
            @include text-heading5;
            font-family: "Roboto Mono", "Roboto", sans-serif !important;
            margin-left: auto;
          }
        }
      }
    }
  }
}

.recent-transactions {
  @include centered-column;
  margin-bottom: 50px;

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    gap: 8px;
    margin-bottom: 24px;

    a {
      @include button-ghost;
      margin-left: auto;
      margin-right: 8px;
    }

    svg {
      color: var(--color-gray-600);
    }
  }

  &-table {
    overflow-x: auto;

    & > a {
      color: var(--color-gray-400);
    }

    &-item {
      @include centered-row;

      & > h4 {
        @include text-heading6;
        color: var(--color-gray-400);
        margin-right: auto;

        @include desktop {
          display: none;
        }
      }

      &-container {
        @include centered-row;
        @include text-roboto-body-400;
        gap: 0 8px;

        & > a {
          @include button-ghost;
        }

        & .copy-to-clipboard svg {
          color: var(--color-gray-400);
        }

        .status-badge-status {
          background-color: transparent;
          padding: 0;
          text-transform: none;

          & > p {
            color: var(--color-white);
          }
        }

        &.amount {
          @include text-roboto-body-500;
          gap: 0 4px;

          & > .usd {
            color: var(--color-gray-400);
          }
        }

        &.time {
          justify-content: flex-end;
          margin-left: auto;
        }
      }

      &-btn {
        @include button-secondary;
        justify-content: center;
        width: 100%;
      }
    }

    & .table-body-empty > a {
      @include button-ghost;
      color: var(--color-gray-400);
    }
  }
}

.community-banner {
  @include centered-column;
  background: linear-gradient(180deg, rgba(122, 191, 255, 0.12) 37%, rgba(122, 191, 255, 0) 85%);
  align-items: center;
  border-radius: 16px;
  margin-bottom: 48px;
  padding: 32px 16px 0 16px;
  gap: 32px 16px;

  @include desktop {
    @include centered-row;
    background: linear-gradient(270deg, rgba(122, 191, 255, 0.12) 25%, rgba(122, 191, 255, 0) 100%);
    border-bottom: 1px solid var(--color-gray-900);
    justify-content: space-evenly;
    margin-bottom: 80px;
    padding: 0 16px;
  }

  & > svg {
    min-width: 150px;
  }

  &-text {
    @include centered-column;
    max-width: 552px;
    padding: 16px 0;

    &-title {
      @include text-roboto-heading-500;
      color: var(--color-plum);
      margin-bottom: 24px;
      text-align: center;

      @include desktop {
        font-size: 30px;
        text-align: start;
      }
    }

    &-description {
      @include text-roboto-body-large-400;
      color: var(--color-gray-100);
      text-align: center;

      @include desktop {
        text-align: start;
      }
    }
  }

  &-btn {
    @include button-tertiary;

    & > svg {
      opacity: 0.6;
    }
  }
}

.bychain {
  @include centered-column;
  gap: 36px;
  margin-bottom: 56px;
  min-height: 300px;

  @media only screen and (min-width: 1280px) {
    @include centered-row;
    gap: 0px;
  }

  & .mobile {
    @include desktop {
      display: none;
    }
  }

  & .desktop {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &-half {
    @include centered-column;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 1%;
    width: 100%;

    @media only screen and (min-width: 1280px) {
      width: 49%;
    }

    &:last-child {
      margin-left: 1%;
      margin-right: 0%;
    }

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      gap: 8px;
      margin-bottom: 24px;

      svg {
        color: var(--color-gray-600);
      }

      & span {
        @include text-heading6;
        color: var(--color-gray-400);
      }
    }

    &-table {
      @include centered-column;

      &-head {
        @include centered-row;
        @include text-heading6;
        background-color: var(--color-gray-950);
        border-radius: 16px;
        color: var(--color-gray-400);
        padding: 12px 16px;

        &-row {
          width: 35%;

          &:last-child {
            text-align: right;
            width: 30%;
          }
        }
      }

      &-error {
        @include centered-row;
        @include text-roboto-body-400;
        color: var(--color-gray-400);
        justify-content: center;
        padding: 16px;
      }

      &-item {
        @include centered-row;
        border-bottom: 1px solid var(--color-gray-900);
        justify-content: space-between;
        padding: 18px 16px;

        &-row {
          @include centered-row;
          @include text-roboto-body-500;
          gap: 10px;
          position: relative;
          width: 35%;

          .arrow {
            color: var(--color-gray-600);
            display: none;
            position: absolute;
            right: 20%;

            @include desktop {
              display: block;
            }
          }

          &:last-child {
            @include text-heading5;
            justify-content: flex-end;
            width: 30%;
          }
        }
      }
    }
  }
}

.top-holders {
  @include centered-column;
  margin-bottom: 56px;
  min-height: 300px;

  &-mobile {
    @include centered-column;
    gap: 12px;
    margin-bottom: auto;

    &-container {
      @include centered-row;
      background-color: var(--color-gray-950);
      border-radius: 12px;
      border: 1px solid var(--color-gray-900);
      flex-wrap: wrap;
      padding: 24px 24px 0 24px;
      width: 100%;

      &-item {
        @include centered-column;
        gap: 8px 0;
        margin-bottom: 26px;
        width: 50%;

        .title {
          @include text-heading6;
          color: var(--color-gray-400);
        }

        .content {
          @include centered-row;
          @include text-roboto-body-400;

          &.user {
            @include text-roboto-body-400;
          }

          &.chain {
            @include text-roboto-body-500;
            gap: 6px;
          }

          &.number {
            @include text-heading5;
          }

          &.url {
            @include button-ghost;

            svg {
              color: var(--color-gray-500);
            }
          }
        }
      }
    }
  }

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    gap: 8px;
    margin-bottom: 24px;

    svg {
      color: var(--color-gray-600);
    }

    & span {
      @include text-heading6;
      color: var(--color-gray-400);
    }
  }

  &-table {
    @include centered-column;
    margin-bottom: auto;
    width: 100%;

    &-head {
      @include centered-row;
      @include text-heading6;

      background-color: var(--color-gray-950);
      border-radius: 16px;
      color: var(--color-gray-400);
      padding: 12px 16px;

      &-row {
        width: 23.25%;
        text-align: left;

        &:first-child {
          width: 7%;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &-error {
      @include centered-row;
      @include text-roboto-body-400;
      color: var(--color-gray-400);
      justify-content: center;
      padding: 16px;
    }

    &-item {
      @include centered-row;
      padding: 18px 16px;
      border-bottom: 1px solid var(--color-gray-900);

      &-row {
        @include centered-row;
        @include text-roboto-body-500;
        width: 23.25%;
        gap: 10px;

        &:first-child {
          width: 7%;
          @include text-roboto-body-400;
          color: var(--color-gray-600);
        }

        &:nth-child(2) {
          @include text-roboto-body-400;
        }

        &:nth-child(3) {
          @include text-roboto-body-500;
        }

        &:nth-child(4) {
          @include text-heading5;
        }

        &:last-child {
          justify-content: flex-end;
          @include button-ghost;
          svg {
            color: var(--color-gray-600);
          }
        }
      }
    }
  }
}

.top-addresses {
  @include centered-column;
  gap: 36px;
  margin-bottom: 56px;
  min-height: 300px;

  @media only screen and (min-width: 1280px) {
    @include centered-row;
    gap: 0px;
  }

  &-half {
    @include centered-column;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 1%;
    width: 100%;

    @media only screen and (min-width: 1280px) {
      width: 49%;
    }

    &:last-child {
      margin-right: 0%;
      margin-left: 1%;
    }

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      gap: 8px;
      margin-bottom: 24px;

      svg {
        color: var(--color-gray-600);
      }

      & span {
        @include text-heading6;
        color: var(--color-gray-400);
      }
    }

    &-table {
      @include centered-column;

      &-head {
        @include centered-row;
        @include text-heading6;

        background-color: var(--color-gray-950);
        border-radius: 16px;
        color: var(--color-gray-400);
        padding: 12px 16px;

        &-row {
          width: 14%;

          &:nth-child(2) {
            width: 61%;
          }

          &:last-child {
            width: 25%;
            text-align: right;
          }
        }
      }

      &-error {
        @include centered-row;
        @include text-roboto-body-400;
        color: var(--color-gray-400);
        justify-content: center;
        padding: 16px;
      }

      &-item {
        @include centered-row;
        justify-content: space-between;

        padding: 18px 16px;

        border-bottom: 1px solid var(--color-gray-900);

        &-row {
          @include centered-row;
          @include text-roboto-body-500;
          gap: 10px;
          position: relative;
          width: 14%;

          color: var(--color-gray-600);

          &:nth-child(2) {
            width: 61%;
            color: var(--color-white);
          }

          &:last-child {
            @include text-heading5;
            width: 25%;
            justify-content: flex-end;
            color: var(--color-white);
          }
        }
      }
    }
  }
}

.loading {
  position: relative;
  height: 20px;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      var(--color-black),
      var(--color-gray-800),
      var(--color-black)
    );
    animation: loading-animation 3s infinite;
  }
}

@keyframes loading-animation {
  0% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: -50%;
  }
}
