@import "src/styles/globals.scss";

.token-activity {
  margin-bottom: 48px;

  @include desktop {
    margin-bottom: 80px;
  }

  &-bg {
    background-color: var(--color-black-50);
    inset: 0;
    position: fixed;
    z-index: 77;

    @include desktop {
      display: none;
    }
  }

  &-title {
    @include centered-row;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    margin-bottom: 24px;

    & > svg {
      color: var(--color-gray-600);
    }

    & > a {
      @include button-ghost;
      margin-left: auto;
    }
  }

  &-container {
    @include desktop {
      background-color: var(--color-gray-950);
      border-radius: 16px;
      padding: 24px;
    }

    &-top {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 32px;

      @include desktop {
        @include centered-row;
        align-items: flex-start;
        background-color: var(--color-gray-950);
        border-radius: 16px;
      }

      &-menu {
        @include centered-column;
        background-color: var(--color-gray-950);
        border-radius: 40px 40px 0 0;
        border: 1px solid var(--color-gray-900);
        border-bottom: none;
        display: flex;
        gap: 16px;
        inset: 120vh 0 0 0;
        justify-content: flex-start;
        padding: 20px;
        position: fixed;
        transition: inset 0.3s ease;
        width: 100%;
        z-index: 99;

        @include desktop {
          @include centered-row;
          background-color: transparent;
          border-radius: 0;
          border: none;
          flex-wrap: wrap;
          inset: unset;
          padding: 0;
          position: relative;
          z-index: unset;
        }

        &.open {
          inset: max(16px, calc(100% - 608px)) 0 0 0;

          @include desktop {
            inset: unset;
          }
        }

        &-title {
          @include text-roboto-subheading-500;
          text-align: center;

          @include desktop {
            display: none;
          }
        }

        &-close-btn {
          @include button-secondary;
          height: 24px;
          padding: 0;
          position: absolute;
          right: 20px;
          top: 20px;
          width: 24px;

          @include desktop {
            display: none;
          }
        }

        &-select-text {
          @include centered-row;
          gap: 0 8px;
        }

        &-buttons {
          @include centered-column;
          gap: 8px;
          margin-top: auto;
          order: 4;

          @include desktop {
            margin-right: auto;
            order: unset;
          }

          & > .apply-btn {
            @include button-primary;
            height: 48px;
            justify-content: center;
            width: 100%;

            @include desktop {
              display: none;
            }
          }

          & > .reset-btn {
            @include button-ghost;
            height: 48px;
            justify-content: center;
            padding: 8px;
            width: 100%;

            @include desktop {
              height: 36px;
            }

            &.hidden {
              display: none;
            }
          }
        }
      }

      &-toggle {
        grid-column: span 2;
        max-width: 100%;

        & .toggle-group-root {
          width: 100%;

          & .toggle-group-item {
            justify-content: center;
            width: 100%;
          }
        }
      }

      &-select {
        & .select__control {
          justify-content: center;
        }
      }

      &-filters-btn {
        @include button-secondary;
        justify-content: center;
        z-index: 0;

        & > svg {
          color: var(--color-white-60);
        }

        &-txt {
          margin-right: 4px;
        }

        @include desktop {
          display: none;
        }
      }
    }

    &-content {
      @include desktop {
        @include centered-row;
        align-items: start;
        gap: 0 16px;
      }

      &-list {
        @include centered-column;

        @include desktop {
          min-width: max-content;
          width: 33%;
        }

        &-loader {
          &-row {
            @include centered-row;
            border-top: 1px solid var(--color-gray-900);
            gap: 0 24px;
            justify-content: space-between;
            overflow: hidden;
            padding: 18px 12px 18px 16px;
            height: 60px;
            position: relative;
            width: 100%;

            @include desktop {
              border-radius: 0;
              padding: 18px 16px;
            }

            &::before {
              animation: loading-list 2s linear infinite;
              background-image: linear-gradient(
                120deg,
                var(--color-white-05) 0%,
                var(--color-white-10) 25%,
                var(--color-white-05) 50%,
                var(--color-white-10) 75%,
                var(--color-white-05) 100%
              );
              bottom: 0;
              content: "";
              height: 24px;
              left: 0;
              margin: auto 0;
              position: absolute;
              top: 0;
              width: 400%;
            }
          }
        }

        &-title {
          display: none;

          @include desktop {
            @include centered-row;
            @include text-roboto-subheading-500;
            color: var(--color-white);
            margin-bottom: 24px;
            gap: 0 8px;

            & > span {
              @include text-heading6;
              color: var(--color-gray-400);
            }
          }
        }

        &-header {
          @include centered-row;
          @include text-heading6;
          color: var(--color-gray-400);
          justify-content: space-between;
          padding: 0 18px 8px 16px;
          text-transform: uppercase;

          @include desktop {
            background-color: var(--color-gray-900);
            border-radius: 16px;
            padding: 10px 16px;
          }
        }

        &-row {
          @include centered-row;
          border-top: 1px solid var(--color-gray-900);
          cursor: pointer;
          gap: 0 24px;
          justify-content: space-between;
          padding: 18px 12px 18px 16px;

          @include desktop {
            border-radius: 0;
            padding: 18px 16px;

            &:hover {
              background-color: var(--color-white-03);
            }
          }

          &.row-0 {
            border-top: none !important;
          }

          &.open {
            background-color: var(--color-gray-950);
            border-radius: 16px 16px 0 0;
            border: 1px solid var(--color-gray-900);

            @include desktop {
              background: linear-gradient(270deg, var(--color-plum-12) 25%, transparent 100%);
              border-radius: 0;
              border: none;
              border-top: 1px solid var(--color-gray-900);
            }

            & svg {
              transform: rotate(-180deg);
            }

            & + .token-activity-chart + .token-activity-container-content-list-row {
              border-top: none;
            }
          }

          &-symbol {
            @include centered-row;
            @include text-roboto-body-500;
            color: var(--color-white);
            gap: 0 12px;
          }

          &-volume {
            @include centered-row;
            @include text-heading5;
            color: var(--color-white);
            gap: 0 12px;

            & > svg {
              color: var(--color-white-60);
              transition: transform 0.2s;

              @include desktop {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &-chart {
    background-color: var(--color-gray-950);
    border-radius: 0 0 16px 16px;
    border-top: none;
    border: 1px solid var(--color-gray-900);
    height: 430px;
    overflow-y: clip;
    position: relative;
    width: 100%;

    @include desktop {
      background-color: transparent;
      border: none;
      flex: 1.4;
      height: unset;
      overflow: hidden;
    }

    &-title {
      display: none;

      @include desktop {
        @include text-roboto-subheading-500;
        color: var(--color-white);
        display: block;
        margin-bottom: 24px;
      }
    }

    &-graph {
      @include centered-column;
      min-height: 430px;

      @include desktop {
        position: relative;
        background-color: var(--color-black);
        border-radius: 16px;
        min-height: 645px;
      }
    }

    &-top {
      @include centered-row;
      gap: 0 16px;
      padding: 16px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      @include desktop {
        gap: 0 36px;
      }

      &-box {
        @include centered-column;
        gap: 4px 12px;

        @include desktop {
          @include centered-row;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        &-key {
          @include text-roboto-body-400;
          color: var(--color-gray-400);
        }

        &-value {
          @include text-roboto-body-500;
          color: var(--color-white);
        }
      }

      &-toggle {
        margin-left: auto;
        border-radius: 12px !important;

        & button {
          border-radius: 12px !important;
          padding: 6px !important;
        }
      }
    }

    .wormholescan-brand {
      bottom: 0;
      filter: grayscale(1);
      height: 34px;
      left: 0;
      margin: auto;
      min-height: unset;
      opacity: 0.2;
      padding-top: 40px;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      user-select: none;
      width: 217px;
      z-index: 10;
    }

    &-tooltip {
      background-color: var(--color-gray-900);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      list-style-type: none;
      min-width: 192px;
      padding: 12px;

      @include desktop {
        min-width: 264px;
        padding: 16px;
      }

      &-date {
        @include text-heading6;
        color: var(--color-gray-400);
        text-transform: uppercase;
      }

      &-info {
        @include centered-row;
        @include text-roboto-body-400;
        color: var(--color-white);
        gap: 0 16px;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}

@keyframes loading-list {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
