@import "src/styles/globals.scss";

.top-asset-list-row {
  @include text-p2-bold;
  font-size: 14px;
  color: var(--color-primary-30);
  background-color: var(--color-black-20);
  border-top: 1px solid var(--color-white-10);
  cursor: pointer;

  @include desktop {
    font-size: 16px;
  }

  &:first-child {
    border-top: 1px solid transparent;
  }

  &:hover {
    background-color: var(--color-white-03);
  }

  &.active {
    background-color: var(--color-white-05);
    box-shadow: 0 1px 0 0 var(--color-secondary-800);
  }

  & > td {
    padding: 32px 8px;
    text-align: end;

    @include desktop {
      padding: 32px 16px;
    }

    &:first-child {
      text-align: center;
    }

    &:nth-child(2) {
      text-align: start;
    }

    &:nth-child(3) {
      text-align: end;
    }

    & > div {
      align-items: center;
      display: flex;
      gap: 8px;

      @include desktop {
        gap: 16px;
      }

      & > .image {
        align-items: center;
        background-color: var(--color-primary-900);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 2.4px;
      }
    }
  }
}
