@import "src/styles/globals.scss";

.top-asset-list-row {
  @include text-p2-bold;
  font-size: 14px;
  color: var(--color-primary-90);
  background-color: var(--color-black-20);
  border-bottom: 1px solid var(--color-white-10);
  cursor: pointer;

  @include desktop {
    font-size: 16px;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-black-20);

    &:hover:not(.active) {
      border-bottom: 1px solid var(--color-white-03);
    }
  }

  &:hover {
    background-color: var(--color-white-03);
  }

  & > td {
    padding: 32px 8px;
    text-align: end;

    @include tablet {
      padding: 32px 16px;
    }

    @include desktop {
      padding: 32px 8px;
    }

    @include bigDesktop {
      padding: 32px 16px;
    }

    &:first-child {
      text-align: center;
      color: var(--color-primary-150);
    }

    &:nth-child(2) {
      text-align: start;
    }

    &:nth-child(3) {
      text-align: end;
    }

    & > div {
      align-items: center;
      display: flex;
      gap: 8px;

      @include desktop {
        gap: 16px;
      }

      & > .image {
        align-items: center;
        background-color: var(--color-primary-800);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 2.4px;
      }
    }
  }

  &.active {
    background-color: var(--color-white-05);
    border-bottom: 1px solid var(--color-secondary-800);
    color: var(--color-primary-30);

    & > td {
      &:first-child {
        color: var(--color-primary-90);
      }
    }
  }
}
