@import "src/styles/globals.scss";

.top-asset-list-item {
  @include centered-row;
  @include text-p3;

  color: var(--color-primary-10);
  width: 100%;
  gap: 32px;

  > .arrow-icon {
    transform: scale(1.75);
    color: var(--color-primary-200);
  }

  &-from {
    @include centered-row;

    @include tablet {
      flex: 1;
    }

    &-chain {
      margin-left: 20px;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &-to {
    @include centered-row;

    @include tablet {
      flex: 1;
    }

    &-asset {
      margin-left: 20px;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &-chain {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &-transactions {
    flex: 1;

    text-align: end;
    font-weight: 600;
  }
}
