@import "src/styles/globals.scss";

.tabs {
  margin-top: 24px;
  margin-bottom: 36px;

  .toggle-group {
    width: 100%;
    display: flex;

    &-item {
      padding-left: 12px;
      padding-right: 12px;
      @include tablet {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}

.summary {
  @include centered-column;
  gap: 40px;
  margin-bottom: 50px;

  &-top {
    display: flex;
    flex-direction: row;

    background-color: var(--color-gray-950);
    border-radius: 18px;
    padding: 16px;
    gap: 20px;

    &-img {
      display: none;

      @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      width: 168px;
      min-width: 168px;
      height: 168px;
      background-color: var(--color-black);
      border-radius: 18px;
    }

    &-content {
      @include centered-column;
      justify-content: space-between;
      flex-grow: 1;
      gap: 32px 0;

      &-title {
        @include centered-row;
        @include text-roboto-heading-500;
        gap: 16px;

        @include desktop {
          padding-top: 16px;
        }

        &-mobileImg {
          @include centered-row;
          justify-content: center;

          @include desktop {
            display: none;
          }

          border-radius: 8px;

          background-color: var(--color-black);
          width: 70px;
          height: 70px;

          & > img {
            width: 40px;
            height: 40px;
          }
        }
      }

      &-container {
        @include centered-row;
        flex-wrap: wrap;

        gap: 24px 10px;
        @media only screen and (min-width: 1140px) {
          gap: 20px;
        }
        @include bigDesktop {
          gap: 30px;
        }

        &-item {
          @include centered-column;
          white-space: nowrap;
          gap: 8px;
          flex: 1 1 auto;
          min-width: 134px;

          @include desktop {
            gap: 12px;
          }

          @include bigDesktop {
            min-width: 160px;
          }

          &:nth-last-child(-n + 2) {
            @media (max-width: 1139px) {
              flex-basis: 100%;
            }
          }

          &-up {
            @include text-roboto-body-400;
            color: var(--color-gray-500);
          }

          &-down {
            @include centered-row;
            gap: 12px;

            color: var(--color-white);
            background-color: var(--color-gray-900);
            border-radius: 10px;
            padding: 12px;
            @include text-roboto-body-400;
            height: 44px;

            &.price {
              position: relative;

              .price-value {
                position: absolute;
                top: 30%;
              }
            }

            &.community {
              @include centered-row;
              gap: 0;
              justify-content: center;
              padding: 0;

              & > a {
                @include centered-row;
                height: 100%;
                justify-content: center;
                min-width: 40px;
                width: 100%;

                &:hover {
                  & > svg {
                    color: var(--color-gray-200);
                  }
                }

                & > svg {
                  color: var(--color-gray-400);
                }
              }
            }

            .link {
              @include button-ghost;

              &:hover {
                & > svg {
                  color: var(--color-gray-200);
                }
              }

              & > svg {
                color: var(--color-gray-400);
              }
            }
          }

          &-chain {
            @include centered-row;
            gap: 4px;

            @media only screen and (min-width: 420px) {
              gap: 12px;
            }

            &-contract {
              @include centered-row;

              cursor: pointer;

              color: var(--color-white);
              background-color: var(--color-gray-900);
              border-radius: 10px;
              padding: 12px;

              gap: 2px;
              @media only screen and (min-width: 420px) {
                gap: 6px;
              }

              svg {
                color: var(--color-gray-400);
              }

              &:hover {
                background-color: var(--color-gray-10);
              }
            }
          }
        }
      }
    }
  }

  &-metrics {
    @include centered-column;
    gap: 24px;
    margin-bottom: 36px;

    &-title {
      @include centered-row;
      gap: 12px;

      & > svg {
        color: var(--color-gray-600);
      }

      &-text {
        @include text-roboto-subheading-500;
      }
    }

    &-container {
      @include centered-column;
      width: 100%;
      gap: 12px;

      &-item {
        @include centered-column;
        width: 100%;
        height: auto;
        min-height: 130px;

        background-color: var(--color-gray-950);
        border-radius: 8px;
        padding: 20px 16px;
        gap: 20px;

        &-up {
          @include text-roboto-heading-500;
          color: var(--color-white);
          white-space: nowrap;
        }

        &-down {
          @include text-roboto-body-400;
          color: var(--color-gray-500);
        }
      }

      @media only screen and (min-width: 768px) {
        @include centered-row;
        flex-wrap: wrap;

        &-item {
          width: calc(50% - 6px);
        }
      }

      @media only screen and (min-width: 1100px) {
        flex-wrap: nowrap;

        &-item {
          width: calc(25% - 9px);
        }
      }
    }
  }
}

.bychain {
  @include centered-column;
  gap: 36px;

  @media only screen and (min-width: 1280px) {
    @include centered-row;
    gap: 0px;
  }

  margin-bottom: 56px;

  & .mobile {
    @include desktop {
      display: none;
    }
  }

  & .desktop {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &-half {
    @include centered-column;
    width: 100%;
    @media only screen and (min-width: 1280px) {
      width: 49%;
    }

    margin-right: 1%;
    margin-left: 0%;
    &:last-child {
      margin-right: 0%;
      margin-left: 1%;
    }

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      gap: 8px;
      margin-bottom: 24px;

      svg {
        color: var(--color-gray-600);
      }

      & span {
        @include text-heading6;
        color: var(--color-gray-400);
      }
    }

    &-table {
      @include centered-column;

      &-head {
        @include centered-row;
        @include text-heading6;

        background-color: var(--color-gray-950);
        border-radius: 16px;
        color: var(--color-gray-500);
        padding: 12px 16px;

        &-row {
          width: 35%;

          &:last-child {
            width: 30%;
            text-align: right;
          }
        }
      }

      &-item {
        @include centered-row;
        justify-content: space-between;

        padding: 18px 16px;

        border-bottom: 1px solid var(--color-gray-900);

        &-row {
          @include centered-row;
          @include text-roboto-body-500;
          width: 35%;
          gap: 10px;
          position: relative;

          .arrow {
            display: none;
            position: absolute;
            right: 20%;
            color: var(--color-gray-600);

            @include desktop {
              display: block;
            }
          }

          &:last-child {
            @include text-heading5;
            width: 30%;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

.transfers-over-time {
  @include centered-column;
  margin-bottom: 50px;
  margin-top: 50px;

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    gap: 12px;

    svg {
      color: var(--color-gray-600);
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &-filters {
    @include centered-row;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @include tablet {
      flex-wrap: nowrap;
    }

    &-legends {
      @include centered-row;
      @include text-roboto-body-400;
      align-items: start;
      color: var(--color-white);
      justify-content: flex-end;
      white-space: nowrap;

      &-total {
        @include centered-row;
        gap: 12px;

        & > span {
          @include text-roboto-body-400;
          color: var(--color-gray-500);
        }

        & > p {
          @include text-heading5;
          color: var(--color-white);
        }
      }
    }
  }

  &-toggle-by {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 12px;

    @include tablet {
      margin-left: 12px;
      margin-right: 12px;
      margin-top: 0px;
    }
  }

  &-select-range {
    width: 100%;

    @include tablet {
      width: inherit;
    }
  }

  &-toggle-type {
    margin-left: auto;
    margin-top: 12px;

    border-radius: 12px;

    .toggle-group-item {
      border-radius: 12px;
      padding: 6px;
    }

    @include tablet {
      margin-top: 0px;
    }
  }

  &-container {
    background-color: var(--color-gray-950);
    border-radius: 18px;
    padding: 24px 24px 0 24px;

    &-chart {
      @include centered-column;
      justify-content: flex-start;
      min-height: 451px;
      position: relative;

      @include tablet {
        min-height: 403px;
      }

      @include desktop {
        min-height: 463px;
      }

      & .loader {
        margin-top: 96px;
      }

      & .wormholescan-brand {
        bottom: -24px;
        filter: grayscale(1);
        height: 34px;
        left: 0;
        margin: auto;
        min-height: unset;
        opacity: 0.2;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        user-select: none;
        width: 162px;
        z-index: 1;

        @include tablet {
          bottom: 24px;
        }

        @include desktop {
          bottom: 8px;
          width: 217px;
        }
      }

      .apexcharts-canvas {
        background-color: transparent !important;
      }

      &-tooltip {
        background-color: var(--color-gray-900);
        border-radius: 8px;
        padding: 12px;

        &-date {
          @include text-roboto-body-400;
          color: var(--color-gray-400);
          margin-bottom: 8px;
        }

        &-amount {
          @include centered-row;
          gap: 8px;

          img {
            width: 16px;
            height: 16px;
          }

          span {
            @include text-roboto-body-500;
            color: var(--color-white);
          }
        }
      }
    }
  }
}

.top-holders {
  @include centered-column;
  margin-bottom: 56px;

  &-mobile {
    @include centered-column;
    gap: 12px;

    &-container {
      @include centered-row;
      background-color: var(--color-gray-950);
      border-radius: 12px;
      border: 1px solid var(--color-gray-900);
      flex-wrap: wrap;
      padding: 24px 24px 0 24px;
      width: 100%;

      &-item {
        @include centered-column;
        align-items: center;
        width: 50%;
        margin-bottom: 26px;

        .title {
          @include text-heading6;
          color: var(--color-gray-500);
          margin-bottom: 6px;
        }

        .content {
          @include centered-row;
          @include text-roboto-body-400;

          &.user {
            @include text-roboto-body-400;
          }

          &.chain {
            @include text-roboto-body-500;
            gap: 6px;
          }

          &.number {
            @include text-heading5;
          }

          &.url {
            @include button-ghost;

            svg {
              color: var(--color-gray-500);
            }
          }
        }
      }
    }
  }

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    gap: 8px;
    margin-bottom: 24px;

    svg {
      color: var(--color-gray-600);
    }

    & span {
      @include text-heading6;
      color: var(--color-gray-400);
    }
  }

  &-table {
    @include centered-column;
    width: 100%;

    &-head {
      @include centered-row;
      @include text-heading6;

      background-color: var(--color-gray-950);
      border-radius: 16px;
      color: var(--color-gray-500);
      padding: 12px 16px;

      &-row {
        width: 23.25%;
        text-align: left;

        &:first-child {
          width: 7%;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &-item {
      @include centered-row;
      padding: 18px 16px;
      border-bottom: 1px solid var(--color-gray-900);

      &-row {
        @include centered-row;
        @include text-roboto-body-500;
        width: 23.25%;
        gap: 10px;

        &:first-child {
          width: 7%;
          @include text-roboto-body-400;
          color: var(--color-gray-600);
        }

        &:nth-child(2) {
          @include text-roboto-body-400;
        }

        &:nth-child(3) {
          @include text-roboto-body-500;
        }

        &:nth-child(4) {
          @include text-heading5;
        }

        &:last-child {
          justify-content: flex-end;
          @include button-ghost;
          svg {
            color: var(--color-gray-600);
          }
        }
      }
    }
  }
}

.top-addresses {
  @include centered-column;
  gap: 36px;

  @media only screen and (min-width: 1280px) {
    @include centered-row;
    gap: 0px;
  }

  margin-bottom: 56px;

  &-half {
    @include centered-column;
    width: 100%;
    @media only screen and (min-width: 1280px) {
      width: 49%;
    }

    margin-right: 1%;
    margin-left: 0%;
    &:last-child {
      margin-right: 0%;
      margin-left: 1%;
    }

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      gap: 8px;
      margin-bottom: 24px;

      svg {
        color: var(--color-gray-600);
      }

      & span {
        @include text-heading6;
        color: var(--color-gray-400);
      }
    }

    &-table {
      @include centered-column;

      &-head {
        @include centered-row;
        @include text-heading6;

        background-color: var(--color-gray-950);
        border-radius: 16px;
        color: var(--color-gray-500);
        padding: 12px 16px;

        &-row {
          width: 14%;

          &:nth-child(2) {
            width: 61%;
          }

          &:last-child {
            width: 25%;
            text-align: right;
          }
        }
      }

      &-item {
        @include centered-row;
        justify-content: space-between;

        padding: 18px 16px;

        border-bottom: 1px solid var(--color-gray-900);

        &-row {
          @include centered-row;
          @include text-roboto-body-500;
          gap: 10px;
          position: relative;
          width: 14%;

          color: var(--color-gray-600);

          &:nth-child(2) {
            width: 61%;
            color: var(--color-white);
          }

          &:last-child {
            @include text-heading5;
            width: 25%;
            justify-content: flex-end;
            color: var(--color-white);
          }
        }
      }
    }
  }
}

.recent-transactions {
  @include centered-column;
  margin-bottom: 50px;

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    gap: 8px;
    margin-bottom: 24px;

    a {
      @include button-ghost;
      margin-left: auto;
      margin-right: 8px;
    }

    svg {
      color: var(--color-gray-600);
    }
  }

  &-table {
    @include centered-column;
    &-head,
    &-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 12px 16px;
    }

    &-head {
      @include text-heading6;
      background-color: var(--color-gray-950);
      border-radius: 16px;
      color: var(--color-gray-500);
    }

    &-item {
      border-bottom: 1px solid var(--color-gray-900);
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: var(--color-white-05);
      }
    }

    &-loading {
      @include centered-column;
      width: 100%;
      padding: 18px 16px;
      gap: 36px;
      border-bottom: 1px solid var(--color-gray-900);

      .loading {
        height: 30px;
      }
    }

    &-head-row,
    &-item-row {
      @include centered-row;
      gap: 10px;

      &:nth-child(1) {
        flex: 1;
      }
      &:nth-child(2) {
        flex: 2;
      }
      &:nth-child(3) {
        flex: 2;
      }
      &:nth-child(4) {
        flex: 2;
      }
      &:nth-child(5) {
        flex: 1.5;
      }
      &:nth-child(6) {
        flex: 0.85;
        text-align: right;
        justify-content: flex-end;
      }
    }

    &-item-row {
      @include text-roboto-body-500;
      padding-top: 8px;
      padding-bottom: 8px;

      .token-row {
        @include centered-row;
        gap: 4px;

        .usd {
          color: var(--color-gray-400);
        }
      }

      .link-container {
        @include centered-row;
        align-items: center;
        gap: 0 8px;

        a {
          @include button-ghost;
        }
      }

      svg {
        color: var(--color-gray-400);
      }
    }
  }

  &-mobile {
    @include centered-column;
    gap: 12px;

    &-container {
      @include centered-column;
      background-color: var(--color-gray-950);
      border-radius: 12px;
      border: 1px solid var(--color-gray-900);
      padding: 0 16px;
      position: relative;
    }

    &-item {
      @include centered-row;
      border-bottom: 1px solid var(--color-gray-900);
      justify-content: space-between;
      min-height: 57px;
      padding: 16px 0;
      width: 100%;

      &:first-child {
        border: none;
        min-height: 0;
        padding-bottom: 8px;
      }

      &:last-child {
        border: none;
      }

      &-btn {
        @include button-secondary;
        justify-content: center;
        width: 100%;
      }

      .title {
        @include text-heading6;
        color: var(--color-gray-500);

        .status-badge-status {
          background-color: transparent;
          padding: 0;
          text-transform: none;

          & > p {
            color: var(--color-white);
          }
        }
      }

      .content {
        @include centered-row;
        @include text-roboto-body-400;
        color: var(--color-white);
        gap: 8px;
        max-width: 60%;
        text-align: right;

        .time {
          color: var(--color-gray-400);
        }

        .token-row {
          @include centered-row;
          gap: 4px;

          .usd {
            color: var(--color-gray-400);
          }
        }

        .link-container {
          @include centered-row;
          align-items: flex-end;
          gap: 8px;

          a {
            @include button-ghost;
          }
        }

        & .copy-to-clipboard {
          color: var(--color-gray-400);
        }
      }
    }
  }
}

.tx-chains-container {
  @include centered-row;
  gap: 8px;

  &-item {
    @include centered-row;
    gap: 8px;

    &-box {
      @include centered-column;
      align-items: flex-start;

      &-address {
        @include centered-row;
        gap: 8px;

        a {
          color: var(--color-white);
          text-decoration: underline;
          text-decoration-color: var(--color-gray-500);

          &:hover {
            text-decoration-color: var(--color-gray-300);
          }
        }
      }
    }
  }
}

.loading {
  position: relative;
  height: 20px;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      var(--color-black),
      var(--color-gray-800),
      var(--color-black)
    );
    animation: loading-animation 3s infinite;
  }
}

@keyframes loading-animation {
  0% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: -50%;
  }
}
