@mixin button {
  @include centered-row;
  @include text-button;

  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

@mixin button-secondary {
  @include button;

  color: var(--color-primary-800);
  background-color: var(--color-secondary-800);

  &:hover {
    background-color: var(--color-secondary-600);
  }

  &:active {
    background-color: var(--color-secondary-600);
    border: 3px solid var(--color-secondary-50);
  }
}
