@mixin text-heading4 {
  font-family: "Roboto Mono", "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.06em;

  @include desktop {
    font-size: 24px;
  }
}

@mixin text-heading5 {
  font-family: "Roboto Mono", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 20px;
}

@mixin text-heading6 {
  font-family: "Roboto Mono", "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 16px;
}

@mixin text-roboto-heading-500 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
}

@mixin text-roboto-subheading-500 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
}

@mixin text-roboto-body-large-400 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 24px;
}

@mixin text-roboto-body-500 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 16px;
}

@mixin text-roboto-body-400 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
}
