@use "src/styles/globals.scss" as *;

.getRedeem {
  @include button-primary;
  cursor: default;

  &.cross {
    background: #bdbed7;

    &:hover {
      background: #bdbed7;
    }

    &:active {
      background: #bdbed7;
    }
  }

  &.dissapearing {
    animation: dissapearing 4s forwards linear;
    cursor: default;
  }

  &-button {
    position: relative;

    margin-top: 16px;
    margin-bottom: 16px;

    height: 30px;
    width: 30px;

    &.loading {
      animation: uPattern 2s infinite linear;
    }

    &-icon {
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;

      transition: 0.5s opacity ease-out;
    }
  }
}

@keyframes uPattern {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(3px) translateX(-6px) rotate(-35deg);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(3px) translateX(6px) rotate(35deg);
  }
}

@keyframes dissapearing {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
