@import "src/styles/globals.scss";

.error-page {
  display: flex;
  justify-content: center;
  margin: auto 0;
  padding: 32px 0;

  @include desktop {
    padding: 96px 32px;

    &-bg-503 {
      background-repeat: no-repeat;
      background-position: calc(50% - 136px) center;
      background-image: url("/src/assets/bg-503.svg");
    }
  }

  @include bigDesktop {
    padding: 96px 200px;
  }

  &-bg-500 {
    background-repeat: no-repeat;
    background-position: calc(50% + 116px) calc(50% - 136px);
    background-image: url("/src/assets/bg-mobile-500.svg");

    @include desktop {
      background-position: center;
      background-image: url("/src/assets/bg-500.svg");
    }
  }

  &-container {
    background-color: var(--color-white-05);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 32px 24px;
    place-items: center;
    width: 100%;

    @include desktop {
      background-color: unset;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      max-width: 1100px;
      padding: 0;
      place-items: start;
    }

    &-title {
      @include text-h4;
      color: var(--color-primary-30);
      text-align: center;

      @include desktop {
        font-family: Chakra Petch;
        text-align: left;
        font-size: 40px;
      }

      &-400 {
        @include text-h4;
        color: var(--color-primary-30);

        @include desktop {
          font-weight: 600;
        }
      }

      & span {
        display: block;

        @include desktop {
          font-family: Chakra Petch;
        }
      }
    }

    &-image {
      grid-row: span 2;
      margin: 40px auto 0 auto;
      position: relative;

      @include desktop {
        margin: auto 0 auto auto;
      }

      &-text {
        @include text-h5;
        align-items: center;
        color: var(--color-primary-90);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 24px;

        @include desktop {
          font-size: 32px;
        }

        & span {
          color: var(--color-primary-30);
          display: block;
          font-family: Chakra Petch;
          font-size: 40px;
        }
      }

      &-astronaut {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 140px;

        @include desktop {
          right: 64px;
          top: 80px;
          width: 200px;
        }
      }

      &-400 {
        width: 156px;

        @include desktop {
          width: 285px;
        }
      }

      &-500 {
        width: 174px;

        @include desktop {
          width: 425px;
        }
      }

      &-502 {
        width: 174px;

        @include desktop {
          width: 312px;
        }
      }

      &-503 {
        width: 200px;

        @include desktop {
          width: 425px;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      margin-top: 36px;
      text-align: center;

      @include desktop {
        margin-top: 16px;
        text-align: left;
      }

      &-description {
        @include text-p2;
        color: var(--color-primary-50);
        max-width: 324px;

        @include desktop {
          font-size: 20px;
          max-width: 424px;
        }

        &-400 {
          font-size: 16px;

          @include desktop {
            margin-top: 20px;
          }
        }

        &-500 {
          color: var(--color-primary-100);
        }

        & span {
          display: block;
          word-break: break-all;
        }

        & a {
          color: var(--color-secondary-800);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        & .info-link {
          color: var(--color-information-100);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-code {
        color: var(--color-primary-10);
        font-size: 20px;
        margin-top: 16px;

        @include desktop {
          margin-top: 42px;
        }
      }

      &-button {
        @include button-secondary;

        margin: 20px auto 0 auto;
        padding-left: 32px;
        padding-right: 32px;

        @include desktop {
          margin: 32px auto 0 0;
          padding-left: 56px;
          padding-right: 56px;
        }
      }
    }
  }
}
