@import "src/styles/globals.scss";

.tx-advanced-view {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 56px 16px;

    @include tablet {
      padding: 56px 24px;
    }

    @include bigDesktop {
      padding: 56px 112px;
    }

    &-details {
      background-color: var(--color-white-05);
      border-radius: 5px;
      height: 32px;
      margin-bottom: 24px;
      overflow: hidden;

      & > div {
        display: none;
      }

      &.show {
        @include card-container;
        height: auto;

        & > div {
          display: block;
        }
      }
    }

    &-btn {
      align-items: center;
      background-color: transparent;
      border: none;
      color: var(--color-primary-100);
      cursor: pointer;
      display: flex;
      font-size: 18px;
      gap: 8px;
      margin-bottom: 8px;
      max-width: max-content;

      @include desktop {
        font-size: 20px;
      }

      &:hover {
        color: var(--color-primary-90);
      }

      & > .tx-advanced-view-container-btn-icon {
        display: flex;
        margin-top: 2px;
      }

      &.show {
        & > .tx-advanced-view-container-btn-icon {
          rotate: 180deg;
        }
      }
    }

    &-json {
      background-color: var(--color-white-05);
      border-radius: 5px;
      height: 32px;
      overflow: hidden;

      & > div {
        display: none;
      }

      &.show {
        background-color: transparent;
        height: auto;

        & > div {
          display: block;
        }
      }
    }

    &-block + &-block {
      margin-top: 24px;
    }

    &-block {
      @include card-container;

      &-top {
        @include centered-row;

        justify-content: space-between;
        margin-bottom: 16px;
      }

      &-title {
        @include text-p3;

        color: var(--color-primary-100);
      }

      &-copy {
        @include text-p3;

        color: var(--color-primary-90);

        & > .copy-to-clipboard {
          @include centered-row;

          gap: 8px;
        }
      }

      &-body {
        background-color: var(--color-primary-900);
        color: var(--color-primary-90);
        font-size: 14px;
        line-height: 1.5;
        overflow: auto;
        padding: 16px;
      }
    }
  }
}
