@import "src/styles/globals.scss";

.txs-top {
  @include centered-column;
  gap: 16px;
  margin-bottom: 20px;

  @include desktop {
    margin-top: 55px;
  }

  &-header {
    @include centered-row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    width: 100%;

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      gap: 8px;
    }

    &-live-mode {
      @include text-heading6;
      color: var(--color-white);
      gap: 32px;
      width: 145px;
    }
  }

  &-txId {
    @include text-roboto-body-400;
    @include centered-column;
    color: var(--color-gray-400);
    word-break: break-all;

    @include desktop {
      @include centered-row;
      justify-content: start;
      gap: 8px;
    }

    &-container {
      @include centered-row;
      gap: 8px;

      & > a {
        @include button-ghost;
      }

      & svg {
        margin: 0 16px 0 4px;

        @include desktop {
          margin: 0;
        }
      }
    }

    & .copy-to-clipboard {
      display: flex;
    }
  }
}
