@import "src/styles/globals.scss";

.txs-top {
  @include centered-column;

  gap: 16px;
  margin: 32px 0;

  &-header {
    @include centered-row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;

    &-title {
      @include text-h5;
    }

    &-search-bar {
      max-width: 424px;
    }
  }

  &-txId {
    @include text-p3;
    @include centered-column;

    @include desktop {
      @include centered-row;

      justify-content: start;
      gap: 8px;
    }

    color: var(--color-primary-100);
    word-break: break-all;

    &-container {
      @include centered-row;

      line-height: 1.4;
      gap: 24px;

      svg {
        height: 25px;
        width: 25px;
      }

      > a {
        color: var(--color-information-100);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @include tablet {
        gap: 8px;

        svg {
          height: unset;
          width: unset;
        }
      }
    }

    & .copy-to-clipboard {
      display: flex;
    }
  }
}
