@import "src/styles/globals.scss";

.cross-chain {
  margin-bottom: 60px;

  @include desktop {
    border-radius: 16px;
    margin-bottom: 80px;
  }

  &-top {
    @include centered-row;
    color: var(--color-white);
    justify-content: space-between;
    margin-bottom: 16px;

    @include desktop {
      margin-bottom: 28px;
    }

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      gap: 8px;
      justify-content: space-between;
      width: 100%;

      @include desktop {
        max-width: max-content;
      }

      & > svg {
        color: var(--color-gray-600);
      }

      & > a {
        @include button-ghost;
        margin-left: auto;

        @include desktop {
          margin-left: 8px;
        }
      }
    }

    &-download {
      display: none !important;

      @include desktop {
        display: flex !important;
      }
    }
  }

  &-options {
    align-items: center;
    display: grid;
    gap: 19px 0;
    grid-template-columns: 1fr 1fr;
    min-height: 56px;
    padding-bottom: 36px;
    width: 100%;

    @include desktop {
      background-color: var(--color-gray-950);
      border-radius: 16px 16px 0 0;
      gap: 24px;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 24px 24px 28px 24px;
    }

    &-txsText {
      @include text-roboto-body-500;
      color: var(--color-white);
    }
  }

  &-relative {
    position: relative;
    min-height: 734px;

    @include desktop {
      background-color: var(--color-gray-950);
      border-radius: 0 0 16px 16px;
      min-height: 782px;
    }

    &-pagination {
      @include centered-row;
      color: var(--color-gray-500);
      justify-content: space-between;
      margin-top: 16px;

      @include desktop {
        padding: 24px;
      }

      &.targetSelected {
        flex-direction: row-reverse;
      }

      & > .pagination {
        max-width: max-content;

        @include desktop {
          max-width: unset;
          width: calc(25% - 32px);
        }
      }

      &-message {
        display: none;

        @include desktop {
          @include centered-row;
          @include text-roboto-body-400;
          gap: 6px;
        }
      }

      &-mobile {
        @include centered-row;
        gap: 6px;
        justify-content: flex-end;

        @include desktop {
          display: none;
        }

        &-btn {
          @include centered-row;
          background-color: transparent;
          border-radius: 12px;
          border: none;
          color: var(--color-white-60);
          cursor: pointer;
          padding: 6px;

          &.active {
            background-color: var(--color-gray-900);
            color: var(--color-white);
          }
        }
      }
    }
  }

  &-loader {
    @include centered-row;
    justify-content: center;
    height: 500px;
  }

  &-destination {
    @include centered-row;
    justify-content: flex-end;
    width: 100%;

    @include desktop {
      justify-content: center;
    }

    &-button {
      @include button-secondary;
      padding-left: 8px;
    }
  }

  &-filters {
    @include centered-column;
    grid-column: span 2;
    gap: 32px;
    width: 100%;

    @include desktop {
      grid-column: span 1;
    }

    &-group {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 1fr;

      @include desktop {
        @include centered-row;
        gap: 16px;
        justify-content: flex-end;
        flex-wrap: nowrap;
        width: inherit;
      }

      & .select__control {
        justify-content: center;

        @include desktop {
          justify-content: space-between;
        }
      }

      &-download {
        max-width: 100%;

        @include desktop {
          display: none !important;
        }
      }
    }

    @include desktop {
      @include centered-row;
      width: inherit;
    }
  }

  &-chart {
    @include centered-row;
    justify-content: space-between;
    width: 100%;
    position: relative;

    & .wormholescan-brand {
      bottom: 0;
      display: none;
      filter: grayscale(1);
      height: 34px;
      left: 0;
      margin: auto;
      min-height: unset;
      opacity: 0.2;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      user-select: none;
      width: 217px;
      z-index: 1;

      @include tablet {
        display: block;
      }
    }

    &-side {
      @include centered-column;
      align-items: center;
      height: 650px;
      justify-content: flex-start;
      position: relative;
      width: 45%;
      z-index: 2;

      @include desktop {
        width: 25%;
      }

      &[data-network="Testnet"] {
        @include desktop {
          min-width: 270px;
        }
        @include bigDesktop {
          min-width: 310px;
        }
      }

      &-item {
        @include text-heading5;
        align-items: center;
        color: var(--color-white);
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto auto auto;
        justify-content: flex-start;
        min-height: 28px;
        padding: 0 4px;
        position: relative;
        user-select: none;
        width: 100%;

        @include desktop {
          min-height: 32px;
        }

        & > * {
          margin: 0 4px;
          line-height: normal !important;
        }

        &.showMoneyMobile {
          & .chain-name {
            display: none;

            @media (min-width: 420px) {
              display: block;
            }
          }
        }

        @include desktop {
          grid-template-columns: 1.5fr 5fr 1fr;
        }
        @include bigDesktop {
          grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
          &[data-network="Testnet"] {
            grid-template-columns: 1fr 2fr 1fr 1fr;
          }
        }

        .percentage {
          @include text-heading6;
          color: var(--color-gray-400);
          justify-self: end;

          @include desktop {
            @include centered-row;
            background-color: var(--color-gray-900);
            border-radius: 12px;
            box-shadow: 0px 4px 4px 0px var(--color-black-25);
            color: var(--color-white);
            height: 24px;
            padding: 0 8px;
          }
        }

        .volume {
          @include text-heading6;
          justify-self: end;

          @include desktop {
            display: none;
          }

          @include bigDesktop {
            @include text-heading5;
            color: var(--color-white);
            display: block;
          }
        }

        .chain-icon {
          height: 16px;
          justify-self: center;
          width: 16px;

          @include desktop {
            height: 24px;
            width: 24px;
          }
        }

        .chain-name {
          @include text-roboto-body-500;
          white-space: nowrap;

          opacity: 0.35;

          @include desktop {
            opacity: 1;
          }
        }

        &.left {
          border-left: 2px solid var(--color-white-10);

          @include desktop {
            border: none;
          }
        }

        &.right {
          border-right: 2px solid var(--color-white-10);
          justify-content: end;

          @include desktop {
            border: none;
          }
        }

        &.showPercentageMobile {
          .volume {
            display: none;

            @include desktop {
              display: block;
            }
          }
        }

        &.showMoneyMobile {
          .percentage {
            display: none;
          }

          &.right {
            .chain-name {
              display: none;
            }
          }
        }

        &.selectable {
          cursor: pointer;

          @include desktop {
            &:not(:last-child) {
              border-bottom: 1px solid var(--color-gray-900);
            }
          }

          .mobile-separator {
            color: var(--color-gray-600);
          }

          .volume {
            color: var(--color-gray-400);
          }

          &.left {
            .volume-info {
              left: 100%;
            }
          }
          &.right {
            .volume-info {
              right: 100%;
            }
          }

          .chain-icon {
            filter: grayscale(1);

            @include desktop {
              filter: unset;
            }
          }

          @include desktop {
            &:hover {
              background: var(--color-white-03);
            }
          }
        }
        &.nonSelectable {
          .volume-info {
            right: 100%;
          }

          .chain-name {
            opacity: 1;
            text-align: right;

            @include tablet {
              text-align: left;
            }
          }

          .percentage {
            @include desktop {
              background-color: var(--color-primary-10);
              box-shadow: unset;
              color: var(--color-primary-100);
            }
          }

          &.right {
            @include desktop {
              background: transparent;
            }

            .volume-info {
              right: 100%;
            }
          }
          &.left {
            padding-left: 6px;

            @include desktop {
              background: transparent;
            }

            .volume-info {
              left: 100%;
            }
          }

          @include desktop {
            align-items: center;
          }
        }

        &[data-selected="true"] {
          border-color: var(--color-primary-100);

          .chain-name {
            opacity: 1;
          }

          .percentage {
            @include desktop {
              background-color: var(--color-primary-100);
              box-shadow: unset;
              color: var(--color-black);
            }
          }

          .mobile-separator {
            color: var(--color-white);
          }

          .volume {
            color: var(--color-white);
          }

          &.selectable {
            .chain-icon {
              filter: unset;
            }

            &.left {
              @include desktop {
                background: linear-gradient(270deg, var(--color-primary-12) 25%, transparent 100%);
              }
            }

            &.right {
              @include desktop {
                background: linear-gradient(270deg, transparent 25%, var(--color-primary-12) 100%);
              }
            }
          }
        }

        .volume-info {
          color: var(--color-white);
          display: none;
          height: 20px;
          padding-left: 8px;
          padding-right: 8px;
          position: absolute;
          z-index: 2;

          @include desktop {
            &[data-selected="true"] {
              display: block;
            }
          }
          @include bigDesktop {
            display: none !important;
          }
        }
      }
    }

    &-graph {
      display: flex;
      height: 650px;
      justify-content: center;
      left: 0px;
      position: absolute;
      right: 0px;
      width: 100%;

      @include desktop {
        left: 0px;
        position: relative;
        right: 0px;
        width: 50%;
      }

      &[data-network="Testnet"] {
        @include desktop {
          width: calc(100% - 540px);
        }
        @include bigDesktop {
          width: calc(100% - 610px);
        }
      }
    }
  }

  &-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    @include desktop {
      padding: 0 24px;
    }

    &.title {
      @include text-heading6;
      color: var(--color-gray-400);

      & > .selected {
        color: var(--color-white);
      }
    }
  }
}
