@import "src/styles/globals.scss";

.cross-chain {
  margin-top: 12px;
  padding: 12px;
  background: linear-gradient(180deg, #031c43 0%, rgba(0, 0, 0, 0) 138.46%);
  height: 350px;

  &-title {
    @include text-h5;
    color: var(--color-primary-50);
    margin: 12px;
  }

  &-options {
    @include centered-row;
  }

  &-type {
    padding: 12px;
    display: inline-flex;

    &-item {
      background: withOpacity(var(--color-primary-800), 0.4);
      color: var(--color-primary-100);

      border: 0;
      padding: 16px;

      cursor: pointer;

      font-size: 18px;
      font-family: "Inter", sans-serif;
      font-weight: 300;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &[data-state="on"] {
        color: var(--color-white);
        background: var(--color-secondary-500);
      }
    }
  }

  &-filters {
    display: inline-flex;
    margin-left: auto;
    margin-right: 12px;

    &-text {
      @include text-p1;
      color: var(--color-primary-50);

      margin-right: 16px;
      margin-left: 16px;
    }

    &-trigger {
      @include centered-row;
      @include text-p1;
      width: 150px;
      color: var(--color-white);

      background: transparent;
      border: 2px solid var(--color-secondary-500);
      border-radius: 5px;
      padding: 0;
      padding-left: 12px;

      &-triangle {
        background: var(--color-secondary-500);
        height: 100%;
        width: 30px;
        margin-left: auto;
      }
    }

    &-item {
      @include text-p2;
      width: 150px;

      color: var(--color-white);
      background: var(--color-white-05);

      cursor: pointer;
      user-select: none;

      text-align: center;
      padding: 4px;
      &:first-child {
        padding-top: 8px;
      }
      &:last-child {
        padding-bottom: 8px;
      }
    }
  }
}
