@import "src/styles/globals.scss";

.top-chain-list-item {
  @include centered-row;
  @include text-p3;

  align-items: end;
  color: var(--color-primary-10);
  width: 100%;
  gap: 20px;

  @include tablet {
    align-items: center;
  }

  .arrow-icon {
    transform: scale(1.75);
    color: var(--color-primary-200);
  }

  &-from {
    @include centered-column;

    column-gap: 16px;
    flex: 1;
    justify-content: flex-start;
    row-gap: 8px;

    @include tablet {
      @include centered-row;
    }

    &-icon-container {
      @include centered-row;
      justify-content: center;

      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--color-primary-800);
    }
  }

  &-to {
    @include centered-column;

    column-gap: 16px;
    flex: 1;
    justify-content: flex-start;
    row-gap: 8px;

    @include tablet {
      @include centered-row;
    }

    &-icon-container {
      @include centered-row;
      justify-content: center;

      background-color: var(--color-primary-800);
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }

  &-transactions {
    flex: 1;

    text-align: end;
    font-weight: 600;

    @include tablet {
      max-width: 100px;
    }
  }
}
