.status-badge {
  &.blue {
    --color: var(--color-information-100);
  }

  &.green {
    --color: var(--color-success-100);
  }

  &.orange {
    --color: var(--color-alert-100);
  }

  &.red {
    --color: var(--color-error-100);
  }

  color: var(--color);

  & path {
    fill: var(--color);
  }
}
