.status-badge {
  &-tooltip {
    color: var(--color-primary-30);
    font-size: 12px;
    line-height: normal;
    max-width: 172px;
    text-align: center;
  }

  &-status {
    font-size: 16px;
    font-weight: 500;
    min-width: max-content;

    &.progress {
      background-color: #ffd600;
      color: #473c01;

      & > svg > path {
        stroke-width: 0.3;
        stroke: #473c01;
      }
    }

    &.completed {
      background-color: #00ffa3;
      color: #023523;

      & > svg > path {
        stroke-width: 0.3;
        stroke: #023523;
      }
    }

    &.emitted {
      background-color: #0078e8;
      color: #ebf4fc;

      & > svg > path {
        stroke-width: 0.3;
        stroke: #ebf4fc;
      }
    }
  }

  &-small {
    border-radius: 40px;
    width: 40px;
    height: 40px;

    font-size: 24px;
    font-weight: 500;
    margin: auto;

    &.progress {
      & > svg {
        color: #ffd600 !important;
      }
    }

    &.completed {
      & > svg {
        color: #00ffa3 !important;
      }
    }

    &.emitted {
      & > svg {
        border-radius: 10px;
        border: 1px solid #0078e8;
        color: #0078e8 !important;
      }
    }
  }
}
