@import "src/styles/globals.scss";

.combobox {
  @include centered-row;
  height: 56px;
  width: 100%;

  &-input {
    &-wrapper {
      @include centered-row;

      position: relative;
      height: inherit;
      width: inherit;

      &:focus-within {
        > svg {
          transform: translate(0, -50%) scale(-1);
        }
      }
    }

    &-icon {
      @include centered-row;

      position: absolute;
      right: 8px;
      top: 50%;
      transform: translate(0, -50%);
      height: 26px;
      width: 26px;
      color: var(--color-secondary-800);
      pointer-events: none;
    }
  }

  &-trigger {
    @include centered-row;
    @include text-p2;

    flex: 1;
    cursor: pointer;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    gap: 16px;
    padding: 4px 36px 4px 16px;
    background-color: var(--color-white-03);
    border: 2px solid var(--color-white-10);
    border-radius: 5px;
    color: var(--color-white);
    outline: transparent;

    &::placeholder {
      color: var(--color-primary-100);
    }

    &[data-reach-combobox-input][data-state="suggesting"] {
      border: 2px solid var(--color-primary-200);
    }

    &-selection {
      @include centered-row;

      color: var(--color-secondary-800);

      > svg {
        height: 26px;
        width: 26px;
      }
    }
  }

  &-content {
    margin-block: 8px;
    padding: 8px 0;
    border-radius: 8px;
    background-color: var(--color-primary-900);
    max-height: 216px;
    overflow: auto;
    overflow: overlay;

    &::-webkit-scrollbar {
      width: 12px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 8px;
      background-color: var(--color-secondary-600);
    }

    &-scroll-button {
      @include centered-row;

      height: 20px;
      justify-content: center;
      text-align: center;
    }
  }

  &-item {
    @include text-p2;
    @include centered-row;

    height: 40px;
    width: inherit;
    color: var(--color-primary-10);
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--color-white-10);
    }

    &:focus-visible {
      outline: transparent;
      background-color: var(--color-white-10);
    }

    &--selected {
      background-color: var(--color-secondary-800);
      color: var(--color-white);
      font-weight: 600;
    }
  }
}
