@import "src/styles/globals.scss";

.home-join {
  @include centered-column;
  align-items: center;
  background-color: var(--color-white-10);
  border-radius: 24px;
  margin: 0 auto;
  max-width: 456px;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  width: 100%;

  @include desktop {
    padding: 36px 24px;
  }

  &-text-container {
    @include centered-column;
    align-items: center;

    & a {
      text-decoration: none;
    }
  }

  &-text {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: center;
    width: 256px;

    @media (min-width: 1280px) {
      width: 100%;
    }

    &-secondary {
      color: var(--color-secondary-800);
    }
  }

  &-button {
    @include button-secondary;
    color: var(--color-white);

    path {
      fill: var(--color-white);
    }
  }

  &-bg-white {
    background-color: var(--color-white);
    display: block;
    filter: blur(125.581px);
    height: 180px;
    left: -280px;
    position: absolute;
    top: 80px;
    width: 180px;
  }

  &-bg-secondary {
    background-color: var(--color-secondary-800);
    filter: blur(125.581px);
    height: 180px;
    position: absolute;
    right: -130px;
    top: -70px;
    width: 180px;
  }
}
