@import "src/styles/globals.scss";

.home-join {
  @include centered-column;

  width: 100%;
  align-items: center;
  margin-top: 76px;
  margin-bottom: 76px;
  padding: 0 16px;

  @include tablet {
    padding: 0px 60px;
  }

  &-text-container {
    @include centered-column;

    padding: 48px 12px 24px;
    background-position: top right;
    align-items: center;

    @include tablet {
      padding: 48px 0px 24px;
    }

    & a {
      text-decoration: none;
    }
  }

  &-text {
    @include text-h4;

    font-family: "IBM Plex Sans", sans-serif;
    max-width: 292px;
    text-align: center;
    margin-bottom: 24px;

    @include tablet {
      font-weight: 600;
      max-width: 408px;
    }

    > span {
      font-family: inherit;
      color: var(--color-secondary-800);
    }
  }

  &-button {
    @include button-secondary;

    path {
      fill: var(--color-primary-900);
    }
  }
}
