@import "src/styles/globals.scss";

.home-join {
  @include centered-column;

  width: 100%;
  align-items: center;
  margin-top: 124px;
  margin-bottom: 100px;
  padding: 0 16px;

  @include tablet {
    padding: 0 60px;
  }

  > &-text {
    @include text-h4;

    @include tablet {
      font-weight: 600;
    }

    font-family: "IBM Plex Sans", sans-serif;
    max-width: 408px;
    text-align: center;
    margin-bottom: 32px;

    > span {
      font-family: inherit;
      color: var(--color-secondary-800);
    }
  }

  > &-button {
    @include button-secondary;
  }
}
