@import "src/styles/globals.scss";

.select {
  @include centered-row;
  height: 36px;
  width: 100%;
  white-space: nowrap;

  @include desktop {
    width: max-content;
  }

  &__control {
    @include centered-row;
    @include dropdown;
    justify-content: center !important;
    width: 100%;

    @include desktop {
      width: max-content;
    }

    > .select__indicators {
      transition: transform 0.2s;
    }

    &--menu-is-open {
      background-color: var(--color-gray-800);

      > .select__indicators {
        transform: rotate(-180deg);
      }
    }

    & > .select__value-container {
      max-width: max-content;
    }
  }

  &__placeholder {
    color: var(--color-white-50);
  }

  &__indicators {
    @include centered-row;
    color: var(--color-white);
  }

  &__menu {
    margin-top: 12px;
  }

  &__menu-list {
    border-radius: 24px;
    background-color: var(--color-gray-900);
    overflow: overlay;
    white-space: nowrap;

    &-scroll-button {
      @include centered-row;
      height: 20px;
      justify-content: center;
      text-align: center;
    }

    & > .search-container {
      margin-top: 16px;

      & > input {
        background-color: var(--color-gray-800);
        border: 1px solid var(--color-gray-800);
        border-radius: 24px;
        color: var(--color-white-50);
        padding: 8px 16px;
        width: 100%;
        z-index: 999;

        &:focus {
          outline: transparent;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color: var(--color-white-20);
      border-radius: 8px;
      border: 4px solid transparent;
    }
  }

  &__option {
    @include text-roboto-body-400;
    @include centered-row;
    height: inherit;
    width: inherit;
    color: var(--color-white-20);
    padding: 8px 16px;
    cursor: pointer !important;
    user-select: none;
    border: 1px solid transparent;

    &:hover:not(.select__option--is-selected) {
      background-color: var(--color-white-05);
    }

    &:focus-visible {
      outline: transparent;
      background-color: var(--color-white-05);
    }

    &--is-selected {
      background-color: var(--color-gray-800);
      color: var(--color-white);
    }
  }

  &.secondary {
    & .select__control {
      @include text-heading6;
      background-color: transparent;
      text-transform: uppercase;
    }
  }
}

.custom-option {
  @include centered-row;
  gap: 8px;
  justify-content: space-between;

  &-container {
    @include centered-row;
    gap: 8px;
  }
}

.select-searchable {
  &-dropdown {
    @include button-secondary;

    &.open {
      & > svg {
        transform: rotate(-180deg);
      }
    }
  }

  &-menu {
    background-color: var(--color-gray-900);
    border-radius: 24px 24px 0 0;
    margin-top: 16px;
    padding: 16px 16px 24px 16px;
    position: absolute;
    z-index: 999;

    & .select__value-container {
      max-width: none;
    }
  }
}
