@import "src/styles/globals.scss";

.select {
  @include centered-row;
  height: 56px;
  width: 100%;

  &__control {
    @include centered-row;
    @include text-p2;

    flex: 1;
    cursor: pointer !important;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    gap: 16px;
    padding: 4px 8px 4px 16px;
    background-color: var(--color-white-03);
    border: 2px solid var(--color-white-10);
    border-radius: 5px;
    color: var(--color-white);

    &--menu-is-open {
      border: 2px solid var(--color-primary-200);

      > .select__indicators {
        transform: scale(-1);
      }
    }
  }

  &__placeholder {
    color: var(--color-primary-100);
  }

  &__indicators {
    @include centered-row;

    color: var(--color-secondary-800);

    svg {
      height: 26px;
      width: 26px;
    }
  }

  &__menu {
    margin-top: 8px;
  }

  &__menu-list {
    padding: 8px 0;
    border-radius: 8px;
    background-color: var(--color-primary-900);
    overflow: auto;
    overflow: overlay;

    &-scroll-button {
      @include centered-row;

      height: 20px;
      justify-content: center;
      text-align: center;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 8px;
      background-color: var(--color-secondary-600);
    }
  }

  &__option {
    @include text-p2;
    @include centered-row;

    height: inherit;
    width: inherit;
    color: var(--color-primary-10);
    padding: 8px 16px;
    cursor: pointer !important;
    user-select: none;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--color-white-10);
    }

    &:focus-visible {
      outline: transparent;
      background-color: var(--color-white-10);
    }

    &--is-selected {
      background-color: var(--color-secondary-800);
      color: var(--color-white);
      font-weight: 600;
    }
  }
}
