@import "src/styles/globals.scss";

.vaa-count {
  @include card-container;

  margin-top: 24px;
  margin-bottom: 80px;
  color: var(--color-primary-500);

  &-title {
    color: var(--color-white);
    font-size: 28px;
    font-weight: 600;
  }

  &-container {
    @include centered-row;
    justify-content: center;

    &-chart {
      width: 100%;
    }
  }

  &-excluded {
    @include centered-column;
    align-items: center;

    &-title {
      color: var(--color-white);
      margin-bottom: 8px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
    }

    &-items {
      @include centered-row;
      flex-wrap: wrap;
    }

    &-item {
      flex-basis: 33.33%;
      text-align: center;
      color: var(--color-white);
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.02em;

      &.red {
        color: var(--color-secondary-800);
      }
      &.grey {
        color: var(--color-primary-50);
      }
    }
  }
}
