@import "src/styles/globals.scss";

.tx-raw-data {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 24px 24px 48px 24px;

    @include bigDesktop {
      padding: 24px 112px 24px;
    }

    &-block + &-block {
      margin-top: 24px;
    }

    &-block {
      @include card-container;

      &-top {
        @include centered-row;

        justify-content: space-between;
        margin-bottom: 16px;
      }

      &-title {
        @include text-p3;

        color: var(--color-primary-100);
      }

      &-copy {
        @include text-p3;

        color: var(--color-primary-90);

        & > .copy-to-clipboard {
          @include centered-row;

          gap: 8px;
        }
      }

      &-body {
        background-color: var(--color-primary-900);
        color: var(--color-primary-90);
        font-size: 14px;
        line-height: 1.5;
        overflow: auto;
        padding: 16px;
      }
    }
  }
}
