@import "src/styles/globals.scss";

.tx-top {
  @include centered-column;

  gap: 16px;
  margin: 32px 0;

  &-header {
    @include centered-row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;

    &-title {
      @include text-h5;
    }

    &-search-bar {
      max-width: 424px;
    }
  }

  &-txId {
    @include text-p3;

    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-primary-100);

    & .copy-to-clipboard {
      display: flex;
    }
  }
}
