@import "src/styles/globals.scss";

.tx-top {
  @include centered-column;
  gap: 16px;

  margin-top: 48px;
  margin-bottom: 32px;

  &-header {
    @include centered-row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    justify-content: space-between;

    &-title {
      @include text-h5;
    }

    &-search-bar {
      max-width: 424px;
    }
  }

  &-txId {
    @include text-p3;

    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-primary-90);
  }
}
