@use "src/styles/globals.scss" as *;

.governor {
  &-container {
    margin-bottom: 80px;
    min-height: 400px;

    &-top {
      @include centered-column;
      justify-content: space-between;
      margin-bottom: 20px;

      &-btns {
        @include centered-row;
        justify-content: space-between;
      }
    }

    &-table {
      overflow-x: auto;

      & th:first-child > .table-head-th-container {
        justify-content: start;
      }

      & th:last-child > .table-head-th-container {
        justify-content: end;
      }

      & td {
        @include desktop {
          border: none;
        }

        & > div {
          @include centered-row;
          gap: 0 8px;
          justify-content: space-between;
          min-height: 24px;

          @include desktop {
            justify-content: flex-start;
          }

          & > h4 {
            @include centered-row;
            @include text-heading6;
            color: var(--color-gray-400);
            gap: 8px;
            text-transform: uppercase;

            @include desktop {
              display: none;
            }
          }

          & p {
            @include text-heading5;
            color: var(--color-white);

            @include desktop {
              @include text-roboto-body-400;
            }
          }
        }
      }

      & .chain {
        justify-content: flex-start;

        & > p {
          @include text-roboto-body-400;
          color: var(--color-white);
        }
      }

      &-dashboard {
        &.table-mobile-dashboard {
          & tr {
            & td:nth-child(1) {
              order: 1;
            }
            & td:nth-child(2) {
              order: 4;
              border-bottom: 0;
            }
            & td:nth-child(3) {
              order: 3;
            }
            & td:nth-child(4) {
              order: 2;
              border-bottom: 1px solid var(--color-gray-900);
            }
          }
        }

        & th > .table-head-th-container svg {
          color: var(--color-gray-400);
        }

        & td {
          white-space: nowrap;
        }

        & th:last-child {
          width: 20%;
        }

        & tr:hover {
          cursor: default !important;

          & > td {
            background-color: transparent !important;
          }
        }

        & .min-remaining {
          @include centered-row;
          justify-content: space-between;
          flex-wrap: wrap;

          @include desktop {
            justify-content: flex-end;
            position: relative;

            & > p {
              @include text-roboto-body-500;
            }
          }

          &-container {
            @include centered-row;
            width: 100%;
            justify-content: flex-end;
            order: 3;

            @include desktop {
              position: absolute;
              right: 148px;
              top: 0;
              width: auto;
            }

            &-bar {
              @include centered-row;
              gap: 4px;
              padding: 8px 0;

              &-segment {
                background-color: var(--color-gray-800);
                border-radius: 5px;
                height: 8px;
                width: 4px;
              }
            }
          }
        }
      }

      &-transactions {
        & .tx-hash {
          color: var(--color-gray-400);

          & > a {
            @include button-ghost;
            @include text-heading5;
            margin-left: auto;

            @include desktop {
              margin-left: 0;
            }
          }
        }

        & .amount > p {
          @include text-roboto-body-500;
        }

        & td:nth-child(4) {
          border: none;

          & .status > svg {
            margin-left: auto;

            @include desktop {
              margin-left: 0;
            }
          }
        }

        & td:nth-child(5) {
          border: none;
          position: absolute;
          top: 0;
          right: 0;

          @include desktop {
            position: relative;
          }

          & .release-time {
            color: var(--color-gray-400);

            @include desktop {
              justify-content: flex-end;
            }

            & > p {
              @include text-roboto-body-400;
              color: var(--color-gray-400);
              margin-left: auto;

              @include desktop {
                color: var(--color-white);
                margin-left: 0;
              }
            }

            & > svg {
              display: none;
            }
          }
        }

        & td:nth-child(6) {
          padding-top: 8px;

          & .view-details {
            & > a {
              @include button-secondary;
              justify-content: center;
              width: 100%;
            }

            @include desktop {
              display: none;
            }
          }
        }
      }
    }
  }
}

.governor-container-table-title-tooltip {
  @include tablet {
    max-width: 440px !important;
  }
}
