@import "src/styles/globals.scss";

.home-statistics {
  @include centered-column;
  @include tablet {
    @include centered-row;
    align-items: stretch;
  }

  gap: 24px;
  margin-bottom: 24px;

  > &-graph {
    @include card-container;
    @include centered-row;

    flex: 1;
    min-height: 256px;
  }

  > &-data {
    @include card-container;
    @include centered-column;

    justify-content: space-between;
    gap: 24px;
    flex: 2;
    min-height: 256px;

    padding: 16px;
    @include tablet {
      padding: 24px 40px;
    }

    &-title {
      color: var(--color-primary-50);
      @include text-p1;
    }

    &-container {
      @include centered-row;
      flex-wrap: wrap;
      flex: 1;

      hr {
        width: 100%;
        border-color: var(--color-white-10);
        display: none;
        @include desktop {
          display: block;
        }
      }

      &-item {
        @include centered-column;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50%;
        @include desktop {
          width: 33%;
        }

        &-title {
          @include text-p1;
          color: var(--color-primary-100);
          font-size: 16px;
          margin-bottom: 16px;
        }

        &-value {
          @include text-h5;
          font-weight: 600;
        }
      }
    }
  }
}
