@import "src/styles/globals.scss";

.home-statistics {
  @include centered-column;
  @include desktop {
    @include centered-row;
    align-items: stretch;
  }

  gap: 24px;
  margin-bottom: 24px;
  min-height: 256px;

  &-title {
    color: var(--color-primary-50);
    @include text-p1;
  }

  &-history {
    @include card-container;
    @include centered-column;
    justify-content: space-between;

    flex: 2;

    &-options {
      @include centered-row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
