@import "src/styles/globals.scss";

.home-hero {
  @include centered-column;

  width: 100%;
  align-items: center;
  padding: 64px 0;

  & > &-text {
    @include text-h3;

    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    margin-bottom: 16px;

    > span {
      font-family: inherit;
      color: var(--color-secondary-800);
    }
  }

  > form {
    width: 100%;
    max-width: 490px;
  }

  &-search {
    $sc: &;
    @include centered-row;

    width: 100%;
    height: 48px;
    justify-content: center;

    &:focus-within {
      > #{$sc}-input {
        > input {
          border: 2px solid var(--color-primary-100);
          border-right: none;
        }
      }
      > button {
        border: 2px solid var(--color-primary-100);
        border-left: none;
      }
    }

    &-input {
      @include centered-row;

      position: relative;
      justify-content: center;
      width: 100%;
      height: inherit;

      > input {
        @include text-p2;

        background-color: transparent;
        border: 2px solid var(--color-white-10);
        border-right: none;
        border-radius: 5px 0 0 5px;
        width: 100%;
        height: inherit;

        padding: 16px;
        color: var(--color-primary-10);

        &::placeholder {
          color: var(--color-primary-100);
        }

        &:focus-visible {
          outline: transparent;
          border: 2px solid var(--color-primary-100);
          border-right: none;
        }
      }
    }

    > button {
      @include button-secondary;

      height: inherit;
      min-width: 50px;
      border-radius: 0px 5px 5px 0px;
      border: 2px solid var(--color-white-10);
      border-left: none;
      padding: 0;

      > .icon {
        width: 18px;
        height: 18px;
        color: var(--color-white);
      }

      &:focus-visible {
        outline: transparent;
        border: 2px solid var(--color-primary-100);
        border-left: none;
      }
    }
  }
}
