@import "src/styles/globals.scss";

.search-not-found-page {
  flex: 1;
  display: block;
  padding: 32px 0;

  &-container {
    @include centered-column;

    align-items: center;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--color-white-05);

    @include desktop {
      @include centered-row;

      justify-content: space-evenly;
      text-align: start;
      gap: 72px;
      padding: 96px;
    }

    @include bigDesktop {
      padding: 96px 200px;
    }

    img {
      display: block;
    }
  }

  &-content {
    @include centered-column;

    align-items: center;
    text-align: center;
    max-width: 424px;

    @include desktop {
      text-align: start;
      align-items: unset;
    }
  }

  &-title {
    @include text-h4;

    color: var(--color-primary-30);
    margin-bottom: 32px;

    @include desktop {
      font-weight: 600;
    }
  }

  &-image {
    &-mobile {
      margin-bottom: 32px;

      > img {
        width: 156px;
        height: auto;
      }
    }

    &-desktop {
      display: none;
    }

    @include desktop {
      &-mobile {
        display: none;
      }

      &-desktop {
        display: block;
      }
    }
  }

  &-body {
    @include text-p2;

    margin-bottom: 48px;
    color: var(--color-primary-50);

    > p + p {
      margin-top: 48px;
    }

    &-id {
      word-break: break-all;
    }
  }

  &-support {
    @include text-p2;

    margin-bottom: 48px;
    color: var(--color-primary-50);

    > p + p {
      margin-top: 48px;
    }

    a {
      color: var(--color-information-100);
      text-decoration: none;
    }
  }

  &-button {
    @include button-secondary;

    padding-left: 32px;
    padding-right: 32px;

    @include desktop {
      padding-left: 56px;
      padding-right: 56px;
    }
  }
}
