@import "src/styles/globals.scss";

.home-statistics {
  &-loader {
    @include centered-row;
    justify-content: center;
    height: 100%;
  }

  &-title {
    @include text-p1;

    color: var(--color-primary-50);
  }

  &-data {
    @include card-container;
    @include centered-column;
    gap: 8px;
    flex: 3;

    @include desktop {
      min-width: 580px;
    }

    &-container {
      column-gap: 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: auto 0;
      row-gap: 32px;

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1px 1fr;
        padding: 0 32px;
      }

      hr {
        border-color: var(--color-white-10);
        display: none;
        grid-column: span 3;
        width: 100%;

        @include desktop {
          display: block;
        }
      }

      &-item {
        @include centered-column;
        justify-content: flex-start;

        @include desktop {
          &.start {
            align-self: flex-start;
          }

          &.end {
            align-self: flex-end;
          }
        }

        &-title {
          @include text-p1;

          color: var(--color-primary-100);
          font-size: 16px;
          margin-bottom: 8px;
          /* text-wrap: balance; */
          max-width: 140px;

          &.balance {
            max-width: 100px;
          }

          @include tablet {
            max-width: unset;

            &.balance {
              max-width: unset;
            }
          }

          @include desktop {
            @media only screen and (max-width: 1666px) {
              max-width: 140px;

              /* for cases when text-wrap: balance; is not supported */
              &.balance {
                max-width: 100px;
              }
            }
          }

          & svg {
            color: var(--color-success-100);
            margin-right: 8px;
            vertical-align: -2px;
          }
        }

        &-value {
          @include text-h5;

          font-weight: 600;
        }
      }
    }
  }
}
