@import "src/styles/globals.scss";

.chain-activity {
  margin-bottom: 60px;
  overflow-x: clip;

  @include desktop {
    margin-bottom: 80px;
  }

  &-bg {
    background-color: var(--color-black-50);
    inset: 0;
    position: fixed;
    z-index: 77;

    @include desktop {
      display: none;
    }
  }

  &-title {
    @include centered-row;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    margin-bottom: 24px;

    & > svg {
      color: var(--color-gray-600);
    }
  }

  & .wormholescan-brand {
    bottom: 0;
    filter: grayscale(1);
    height: 34px;
    left: 0;
    margin: auto;
    min-height: unset;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 180px;
    z-index: 1;

    @include desktop {
      padding-top: 72px;
    }
  }

  &-chart {
    background-color: var(--color-gray-950);
    border-radius: 16px;
    min-height: 360px;
    padding: 16px;
    position: relative;

    @include desktop {
      padding: 24px;
      min-height: 500px;
    }

    & .apexcharts-svg {
      overflow: visible;
    }

    & .apexcharts-xcrosshairs {
      fill: var(--color-white-05);
    }

    & .loader {
      margin-top: 64px;

      @include desktop {
        margin-top: 128px;
      }
    }

    &-tooltip {
      background-color: var(--color-gray-900);
      border-radius: 16px;
      padding: 12px 16px 16px 16px;
      width: 200px;

      @include desktop {
        width: 264px;
      }

      &-date {
        @include text-heading6;
        color: var(--color-gray-400);
        font-family: "Roboto Mono", "Roboto", sans-serif !important;
        margin-bottom: 8px;
        text-transform: uppercase;

        @include desktop {
          margin-bottom: 12px;
        }
      }

      &-total-msg {
        @include centered-row;
        @include text-roboto-body-400;
        color: var(--color-white);
        font-size: 14px;
        margin-bottom: 16px;
        gap: 10px;

        @include desktop {
          margin-bottom: 24px;
        }

        & > span {
          @include text-heading5;
          margin-left: auto;
        }
      }

      &-chains {
        @include text-heading6;
        color: var(--color-gray-400);
        font-family: "Roboto Mono", "Roboto", sans-serif !important;
        margin-bottom: 8px;
        text-transform: uppercase;

        @include desktop {
          margin-bottom: 12px;
        }
      }

      &-container {
        @include centered-column;
        gap: 4px;

        @include desktop {
          gap: 8px;
        }

        &-each-msg {
          @include centered-row;
          gap: 10px;

          &-icon {
            border-radius: 3px;
            height: 12px;
            width: 4px;
          }

          &-name {
            @include text-roboto-body-400;
            font-family: "Roboto", sans-serif !important;
          }

          &-number {
            @include text-heading5;
            font-family: "Roboto Mono", "Roboto", sans-serif !important;
            margin-left: auto;
          }
        }
      }
    }

    &-top {
      @include centered-row;
      align-items: start;
      flex-wrap: wrap;
      gap: 16px;
      position: relative;
      width: 100%;

      &-mobile {
        @include centered-column;
        background-color: var(--color-gray-950);
        border-radius: 40px 40px 0 0;
        border: 1px solid var(--color-gray-900);
        border-bottom: none;
        display: flex;
        gap: 16px;
        inset: 120vh 0 0 0;
        justify-content: flex-start;
        padding: 20px;
        position: fixed;
        transition: inset 0.3s ease;
        width: 100%;
        z-index: 99;

        @include desktop {
          @include centered-row;
          border-radius: 16px;
          border: none;
          inset: unset;
          padding: 0;
          position: relative;
          z-index: unset;
        }

        &.open {
          inset: max(16px, calc(100% - 708px)) 0 0 0;

          @include desktop {
            inset: unset;
          }

          & > .chain-activity-chart-top-section {
            width: 100%;

            @include desktop {
              width: max-content;
            }

            & .select-searchable-dropdown {
              width: 100%;
              justify-content: space-between;
            }

            & .chain-activity-chart-top-section-btn {
              width: 100%;
              justify-content: space-between;
            }
          }
        }

        &-title {
          @include centered-row;
          justify-content: center;
          width: 100%;

          @include desktop {
            display: none;
          }

          & > button {
            @include button-secondary;
            background-color: var(--color-gray-800);
            color: var(--color-white);
            height: 24px;
            padding: 0;
            position: absolute;
            right: 20px;
            width: 24px;
          }
        }

        & .select-searchable-dropdown {
          height: 48px;

          @include desktop {
            height: 36px;
          }
        }

        &-buttons {
          @include centered-column;
          gap: 8px;
          margin-top: auto;

          & > .apply-btn {
            @include button-primary;
            height: 48px;
            justify-content: center;
            width: 100%;

            @include desktop {
              display: none;
            }
          }

          & > .reset-btn {
            @include button-ghost;
            height: 48px;
            justify-content: center;
            padding: 8px;
            width: 100%;

            @include desktop {
              height: 36px;
            }
          }
        }
      }

      &-filters {
        & > button {
          @include button-secondary;
          z-index: 0;

          & > svg {
            color: var(--color-white-60);
          }
        }

        @include desktop {
          display: none;
        }
      }

      &-legends {
        display: none;

        @include desktop {
          @include centered-row;
          bottom: -61px;
          justify-content: flex-end;
          position: absolute;
          width: 100%;

          &.hidden {
            display: none;
          }

          &-container {
            @include centered-row;
            gap: 12px;

            & > span {
              @include text-roboto-body-400;
              color: var(--color-gray-500);
            }

            & > p {
              @include text-heading5;
              color: var(--color-white);
            }
          }
        }
      }

      &-design {
        @include centered-row;
        gap: 6px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;

        &-toggle {
          border-radius: 12px !important;

          & button {
            border-radius: 12px !important;
            padding: 6px !important;
          }
        }
      }

      &-section {
        position: relative;

        &-btn {
          @include button-secondary;
          color: var(--color-white);
          height: 48px;
          padding-right: 8px;

          @include desktop {
            height: 36px;
          }
        }

        &-box {
          background-color: var(--color-gray-900);
          border-radius: 16px;
          flex-direction: column;
          min-width: max-content;
          position: fixed;
          transition: inset 0.3s ease;
          z-index: 55;
          display: none;
          margin-top: 12px;
          width: calc(100% - 42px);

          @include desktop {
            border-radius: 8px;
            border: none;
            display: none;
            inset: unset;
            left: 0;
            margin-top: 0;
            position: absolute;
            transition: none;
            width: auto;
          }

          &.show-date {
            display: flex;
            flex-direction: column-reverse;
            overflow: scroll;
            max-height: calc(100svh - 200px);

            @include desktop {
              border-radius: 16px;
              display: flex;
              flex-direction: row-reverse;
              inset: unset;
              left: -150px;
              top: 52px;
            }

            @media (min-width: 1100px) {
              left: 0;
            }
          }

          &-chains {
            @include centered-column;
            gap: 8px 24px;
            justify-content: flex-start;
            overflow-y: auto;
            padding: 16px;

            @include desktop {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
            }

            &-item {
              @include centered-row;
              cursor: pointer;
              gap: 8px;
              justify-content: space-between;
              opacity: 0.5;
              white-space: nowrap;

              @include desktop {
                flex-direction: row-reverse;
                justify-content: start;
              }

              &:hover {
                opacity: 1;
              }

              &.all-chains {
                grid-column: span 4;
                margin-bottom: 16px;
              }

              &-checkbox {
                @include centered-row;
                border-radius: 2px;
                border: 1px solid #6e71a3;
                color: var(--color-white);
                cursor: pointer;
                height: 16px;
                justify-content: center;
                width: 16px;
              }
            }

            &-bottom {
              display: grid;
              gap: 16px;
              grid-template-columns: 1fr 1fr;
              padding: 24px 16px 16px 16px;

              @include desktop {
                display: flex;
                flex-direction: row-reverse;
              }

              & > button {
                align-items: center;
                border-radius: 8px;
                cursor: pointer;
                display: flex;
                font-size: 16px;
                font-weight: 600;
                gap: 16px;
                height: 44px;
                justify-content: center;

                &:disabled {
                  cursor: not-allowed;
                  opacity: 0.3;
                }
              }
            }
          }

          &-date {
            &-selector {
              @include centered-column;
              border-bottom: 1px solid var(--color-gray-800);
              gap: 73px;
              justify-content: flex-end;
              padding: 8px;
              width: 100%;

              @include desktop {
                border-bottom: none;
                border-right: 1px solid var(--color-gray-800);
                justify-content: flex-start;
                width: 156px;
              }

              & > div:first-child {
                display: grid;
                gap: 0 16px;
                grid-template-columns: 1fr 1fr;

                @include desktop {
                  @include centered-column;
                }
              }

              & > div {
                @include centered-column;
                align-items: flex-start;
                gap: 8px 0;

                & > .btn {
                  @include text-roboto-body-400;
                  background-color: transparent;
                  border-radius: 8px;
                  border: none;
                  color: var(--color-gray-400);
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: 400;
                  padding: 8px 0 8px 8px;
                  text-align: start;
                  width: 100%;

                  &:hover {
                    background-color: var(--color-white-05);
                  }

                  &.active {
                    background-color: var(--color-gray-800);
                    color: var(--color-white);
                  }
                }
              }
            }

            &-calendar {
              margin: 0 auto auto auto;
              padding: 16px 16px 72px 16px;
              width: 100%;

              @include desktop {
                margin: 0;
                min-height: unset;
                width: max-content;
              }

              & .react-datepicker {
                @include centered-column;
                background-color: transparent;
                border: none;
                font-size: 16px;

                @include tablet {
                  @include centered-row;
                  align-items: flex-start;
                }

                @include desktop {
                  display: block;
                }

                & .react-datepicker__navigation {
                  border-radius: 50%;
                  top: 4px;
                  width: 36px;

                  & > span::before {
                    border-color: var(--color-white);
                    top: 0;

                    @include desktop {
                      top: 4px;
                    }
                  }
                }

                & .react-datepicker__header {
                  background-color: transparent;
                  border-radius: 0;
                  border: none;
                  padding: 0;

                  @include desktop {
                    padding: 8px 0 0 0;
                  }

                  & .react-datepicker__current-month {
                    @include text-roboto-body-500;
                    color: var(--color-white);
                  }

                  & .react-datepicker__day-names {
                    padding: 0;

                    @include desktop {
                      padding: 16px 0 8px 0;
                    }

                    & .react-datepicker__day-name {
                      @include text-heading6;
                      color: var(--color-gray-600);
                      height: 36px;
                      line-height: 36px;
                      margin: 0;
                      text-transform: uppercase;
                      width: 36px;
                    }
                  }
                }

                & .react-datepicker__month {
                  margin: 0 24px;

                  & .react-datepicker__day {
                    @include text-roboto-body-400;
                    border-radius: 0;
                    color: var(--color-white);
                    line-height: 36px;
                    margin: 0;
                    width: 36px;

                    &:hover {
                      background-color: var(--color-gray-600);
                      color: var(--color-white-50);
                      font-weight: 600;
                    }

                    &--keyboard-selected {
                      background-color: transparent;
                    }

                    &--in-selecting-range {
                      background-color: var(--color-white-05);
                      color: var(--color-white-50);
                    }

                    &--selected {
                      background-color: var(--color-gray-800);
                      color: var(--color-white-50);
                    }

                    &--in-range {
                      background-color: var(--color-white-05);
                      color: var(--color-white-50);
                    }

                    &--range-start:not(&--outside-month) {
                      background-color: var(--color-white-05);
                      border-radius: 50% 0 0 50%;
                      color: var(--color-white-90);
                      font-weight: 600;
                      position: relative;
                      z-index: 1;

                      &::before {
                        background-color: var(--color-gray-800);
                        border-radius: 50%;
                        content: "";
                        display: block;
                        height: 28px;
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 28px;
                        z-index: -1;
                      }
                    }

                    &--range-end:not(&--outside-month) {
                      background-color: var(--color-white-05);
                      border-radius: 0 50% 50% 0;
                      color: var(--color-white-90);
                      font-weight: 600;
                      position: relative;
                      z-index: 1;

                      &::before {
                        background-color: var(--color-gray-800);
                        border-radius: 50%;
                        content: "";
                        display: block;
                        height: 28px;
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 28px;
                        z-index: -1;
                      }
                    }

                    &--disabled {
                      color: var(--color-white);
                      opacity: 0.3;
                      text-decoration: line-through;

                      &:hover {
                        background-color: transparent;
                        color: var(--color-white);
                        cursor: not-allowed;
                        font-weight: 400;
                      }
                    }
                  }
                }

                & .react-datepicker__month-read-view {
                  & .react-datepicker__month-read-view--selected-month {
                    padding: 0 16px;
                    visibility: hidden;
                  }

                  & .react-datepicker__month-read-view--down-arrow {
                    border-color: var(--color-gray-600);
                    left: 0;
                    margin: 0 auto;
                    right: 0;
                  }
                }

                & .react-datepicker__month-dropdown {
                  background-color: var(--color-gray-800);
                  border-radius: 16px;
                  border: none;
                  padding: 8px;
                  z-index: 88;

                  & .react-datepicker__month-option {
                    @include text-roboto-body-400;
                    color: var(--color-white);

                    &:hover {
                      background-color: var(--color-white-05);
                    }
                  }
                }
              }

              &-one-day-selected {
                & .react-datepicker {
                  & .react-datepicker__month {
                    & .react-datepicker__day {
                      &--range-start {
                        border-radius: 0;
                      }

                      &--range-end {
                        border-radius: 0;
                      }
                    }
                  }
                }
              }

              &-btns {
                @include centered-row;
                bottom: 16px;
                gap: 20px;
                position: absolute;
                right: 16px;

                & > .clear-btn {
                  @include button-ghost;
                }

                & > .done-btn {
                  @include button-primary;
                  color: var(--color-black);
                  width: 100%;

                  @include desktop {
                    padding: 8px 24px;
                    width: auto;
                  }

                  &:disabled {
                    cursor: not-allowed;
                    opacity: 0.3;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  & .apexcharts {
    &-tooltip {
      overflow: visible !important;
    }

    &-legend {
      display: inline;
      white-space: nowrap;
      width: calc(100% - 200px);

      &-text {
        vertical-align: 1px;
      }
    }

    &-xcrosshairs {
      &.apexcharts-active {
        stroke: var(--color-gray-600);
        stroke-linecap: unset;
        fill-opacity: 1;
        stroke-dasharray: none;
        z-index: 9999999;
      }
    }

    &-xaxis-label,
    &-yaxis-label {
      text-transform: uppercase;
    }
  }
}
