@import "src/styles/globals.scss";

.home-top-lists {
  @include centered-column;

  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;

  @include tablet {
    flex-direction: row;
  }

  &-select {
    width: fit-content;
    min-height: 40px;

    > .select-trigger {
      font-size: 16px;
    }
  }
}
