@import "src/styles/globals.scss";

.terms-banner {
  @include centered-column;
  align-items: center;
  background-color: var(--color-gray-900);
  bottom: 0;
  gap: 24px;
  left: 0;
  margin: 0 auto;
  padding: 24px 16px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 999;

  @include tablet {
    @include centered-row;
    padding: 24px;
  }

  @include desktop {
    align-items: center;
    gap: 32px;
    justify-content: center;
    width: 100%;
  }

  @include bigDesktop {
    gap: 56px;
  }

  &-content {
    @include centered-row;
    justify-content: center;
    max-width: 320px;

    @include tablet {
      max-width: 500px;
    }

    @include desktop {
      max-width: unset;
    }

    &-text {
      @include text-p2;
      color: var(--color-gray-400);
      text-align: center;
    }

    &-link {
      @include button-ghost;
      display: inline;
    }
  }

  &-button {
    @include button-secondary;
    background-color: var(--color-gray-800);
    justify-content: center;
    min-width: 100px;
  }
}
