@use "src/styles/globals.scss" as *;

.protocols-stats {
  @include centered-column;
  justify-content: flex-start;
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 80px;
  }

  &.Testnet {
    & .protocols-stats-container-header {
      @include desktop {
        grid-template-columns:
          minmax(270px, 1.4fr) minmax(130px, 1fr)
          minmax(120px, 1fr) minmax(170px, 1fr);
      }
    }

    & .protocols-stats-container-element {
      @include desktop {
        grid-template-columns:
          minmax(270px, 1.4fr) minmax(130px, 1fr)
          minmax(120px, 1fr) minmax(170px, 1fr);
      }
    }
  }

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    color: var(--color-white);
    gap: 8px;
    margin-bottom: 24px;

    & > svg {
      color: var(--color-gray-600);
    }

    & > a {
      @include button-ghost;
      margin-left: auto;
    }
  }

  &-container {
    @include centered-row;
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @include desktop {
      @include centered-column;
      align-items: normal;
      gap: 0;
    }

    &-header {
      display: none;

      @include desktop {
        background-color: var(--color-gray-950);
        border-radius: 16px;
        display: grid;
        gap: 16px;
        grid-template-columns:
          minmax(270px, 1fr) minmax(130px, 1fr) minmax(170px, 1fr)
          minmax(120px, 1fr) minmax(120px, 1fr) minmax(170px, 1fr);
        padding: 12px 16px;
        white-space: nowrap;
        min-width: fit-content;

        &-title {
          @include centered-row;
          @include text-heading6;
          color: var(--color-gray-400);
          gap: 0 4px;
          height: 16px;
          text-transform: uppercase;

          &:last-child {
            justify-content: end;
          }

          &-tooltip {
            @include centered-row;
          }
        }
      }
    }

    &-element {
      background-color: var(--color-gray-950);
      border-radius: 16px;
      border: 1px solid var(--color-gray-900);
      display: grid;
      flex: 3;
      gap: 32px 16px;
      min-width: 100%;
      padding: 16px;
      scroll-snap-align: center;
      white-space: nowrap;

      @include desktop {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-gray-900);
        border-radius: 0;
        gap: 16px;
        grid-template-columns:
          minmax(270px, 1fr) minmax(130px, 1fr) minmax(170px, 1fr)
          minmax(120px, 1fr) minmax(120px, 1fr) minmax(170px, 1fr);
        min-width: fit-content;
        padding: 24px 16px;
        scroll-snap-align: unset;
      }

      &.ntt {
        cursor: pointer;

        &:hover {
          background-color: var(--color-gray-975);

          & .protocols-stats-container-element-item-value-chains-chain {
            border-color: var(--color-gray-975);
          }
        }
      }

      &-loader {
        @include desktop {
          border-bottom: 1px solid var(--color-gray-900);
          height: 77px;
          overflow: hidden;
          position: relative;

          &::before {
            animation: loading-list 2s linear infinite;
            background-image: linear-gradient(
              120deg,
              var(--color-white-05) 0%,
              var(--color-white-10) 25%,
              var(--color-white-05) 50%,
              var(--color-white-10) 75%,
              var(--color-white-05) 100%
            );
            bottom: 0;
            content: "";
            height: 28px;
            left: 0;
            margin: auto 0;
            position: absolute;
            top: 0;
            width: 400%;
          }
        }
      }

      &-item {
        @include centered-column;
        color: var(--color-white);

        &:first-child {
          @include centered-row;
          grid-column: span 2;
          justify-content: flex-start;

          @include desktop {
            grid-column: span 1;
          }
        }

        &.mobile {
          @include desktop {
            display: none;
          }
        }

        &.desktop {
          display: none;

          @include desktop {
            display: block;
          }
        }

        &-link {
          @include centered-row;
          color: var(--color-white);
          gap: 8px 12px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &-protocol {
            @include text-roboto-body-500;
            color: var(--color-white);
          }
        }

        &-tooltip {
          @include centered-row;
          color: var(--color-gray-400);
          margin-left: 8px;

          &-text {
            @include text-heading5;
            color: var(--color-white);

            & > span {
              @include text-heading6;
              color: var(--color-gray-400);
            }
          }
        }

        &-title {
          @include centered-row;
          @include text-heading6;
          color: var(--color-gray-400);
          gap: 0 4px;
          height: 16px;

          @include desktop {
            display: none;
          }
        }

        &-value {
          @include centered-row;
          @include text-heading5;
          color: var(--color-white);
          gap: 8px;
          min-height: 28px;

          &-diff {
            @include text-heading6;
            align-items: center;
            border-radius: 12px;
            color: var(--color-gray-400);
            display: flex;
            padding: 6px 8px;

            &.negative {
              background-color: var(--color-error-15);
              color: var(--color-error-100);
            }

            &.positive {
              background-color: var(--color-success-10);
              color: var(--color-success-100);

              & svg {
                transform: rotate(180deg);
              }
            }

            & svg {
              margin-right: 8px;
            }
          }

          &-tooltip {
            display: grid;
            gap: 10px 24px;
            grid-template-columns: 1fr 1fr;

            &-content {
              @include centered-row;
              @include text-roboto-body-400;
              gap: 10px;
              white-space: nowrap;
            }
          }

          &-chains {
            @include centered-row;

            @include desktop {
              margin-left: auto;
            }

            &-chain {
              background-color: var(--color-gray-900);
              margin-right: -7px;
              border: 2px solid var(--color-gray-950);

              @include desktop {
                border: 2px solid var(--color-black);
              }

              &-more {
                @include centered-row;
                @include text-heading6;
                background-color: var(--color-gray-800);
                border-radius: 50%;
                color: var(--color-white);
                height: 28px;
                justify-content: center;
                width: 28px;
              }
            }
          }

          &-link {
            @include button-ghost;
          }
        }
      }
    }
  }
}

@keyframes loading-list {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
