@import "src/styles/globals.scss";

.protocols-stats {
  @include centered-column;
  gap: 24px;
  justify-content: flex-start;
  margin-bottom: 60px;
  min-height: 1312px;

  @include desktop {
    margin-bottom: 80px;
    min-height: 396px;
  }

  &.TESTNET {
    min-height: 660px;

    @include desktop {
      min-height: 238px;
    }
  }

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    color: var(--color-white);
    gap: 8px;
  }

  &-container {
    @include centered-column;
    gap: 24px;

    @include desktop {
      gap: 0;
    }

    &-header {
      display: none;

      @include desktop {
        background-color: var(--color-gray-950);
        border-radius: 16px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(5, 1fr);
        padding: 12px 16px;
        white-space: nowrap;

        &-title {
          @include text-heading6;
          color: var(--color-gray-400);
          text-transform: uppercase;

          &:last-child {
            text-align: end;
          }

          & > span {
            display: none;

            @include bigDesktop {
              @include text-heading6;
              display: inline;
            }
          }
        }
      }
    }

    &-element {
      background-color: var(--color-gray-950);
      border-radius: 16px;
      border: 1px solid var(--color-gray-900);
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr 1fr;
      padding: 16px;

      @include desktop {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-gray-900);
        border-radius: 0;
        gap: 16px;
        grid-template-columns: repeat(5, 1fr);
        padding: 24px 16px;
      }

      & > a {
        max-width: max-content;

        &:hover {
          text-decoration: underline;
        }
      }

      &-item {
        @include centered-column;
        color: var(--color-white);
        gap: 8px 12px;
        text-decoration: none;

        &:first-child {
          @include centered-row;
          grid-column: span 2;
          justify-content: flex-start;

          @include desktop {
            grid-column: span 1;
          }
        }

        &:nth-child(2) {
          grid-column: span 2;

          @include desktop {
            grid-column: span 1;
          }
        }

        &-protocol {
          @include text-roboto-body-500;
          color: var(--color-white);
        }

        &-title {
          @include text-heading6;
          color: var(--color-gray-400);

          @include desktop {
            display: none;
          }
        }

        &-value {
          @include centered-row;
          @include text-heading5;
          color: var(--color-white);
          gap: 8px;

          &-diff {
            @include text-heading6;
            align-items: center;
            border-radius: 12px;
            color: var(--color-gray-400);
            display: flex;
            padding: 6px 8px;

            &.negative {
              background-color: var(--color-error-15);
              color: var(--color-error-100);
            }

            &.positive {
              background-color: var(--color-success-10);
              color: var(--color-success-100);

              & svg {
                transform: rotate(180deg);
              }
            }

            & svg {
              margin-right: 8px;
            }
          }

          &-chains {
            @include centered-row;

            @include desktop {
              margin-left: auto;
            }

            &-chain {
              background-color: var(--color-gray-900);
              filter: grayscale(1);
              margin-right: -4px;

              &-more {
                @include centered-row;
                @include text-heading6;
                background-color: var(--color-gray-800);
                border-radius: 50%;
                color: var(--color-white);
                height: 24px;
                justify-content: center;
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
}
