@import "src/styles/globals.scss";

.terms-of-use {
  @include card-container;

  @include desktop {
    max-width: 1096px;
    margin: 48px auto;
  }

  &-content {
    @include desktop {
      padding: 10px 40px;
    }

    @include bigDesktop {
      padding: 10px 80px;
    }

    &-top {
      @include desktop {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: 60px 54px;
        margin-bottom: 54px;
      }

      &-header {
        grid-column: span 2;
        display: flex;
        flex-direction: column;

        &-title {
          @include text-p2-bold;
          color: var(--color-primary-30);
          font-size: 18px;
          margin-bottom: 8px;

          @include desktop {
            font-size: 32px;
          }
        }

        &-subtitle {
          @include text-p2;
          color: var(--color-primary-50);
          margin-bottom: 32px;

          @include desktop {
            font-size: 20px;
            margin-bottom: 0;
          }
        }
      }

      &-text {
        @include text-p3;
        color: var(--color-primary-90);
        margin-bottom: 32px;
        line-height: 24px;

        @include desktop {
          font-size: 16px;
        }
      }

      &-list {
        @include card-container;
        color: var(--color-primary-90);
        margin-bottom: 32px;
        padding-left: 32px;
        display: flex;
        flex-direction: column;

        @include desktop {
          height: 296px;
          margin: 0 24px 0 auto;
          padding: 32px 8px 32px 32px;
          width: 310px;
        }

        &-title {
          @include text-p2-bold;
          color: var(--color-primary-50);
          margin-bottom: 24px;
        }

        & > ul {
          display: flex;
          flex-direction: column;
          gap: 16px;

          @include desktop {
            overflow-y: auto;

            &::-webkit-scrollbar {
              width: 8px;
              background-color: transparent;
            }
          }
        }

        &-item {
          list-style: none;

          & > p {
            @include text-p3;
            background-color: transparent;
            border: none;
            color: var(--color-information-100);
            cursor: pointer;
            line-height: 24px;

            @include desktop {
              font-size: 16px;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-bottom {
      border-top: 1px solid var(--color-white-10);

      @include desktop {
        padding: 24px 51px 24px 0;
      }

      &-title {
        @include text-p2-bold;
        color: var(--color-primary-30);
        font-size: 18px;
        margin-bottom: 24px;
        padding-top: 24px;
      }

      &-text {
        @include text-p3;
        color: var(--color-primary-30);
        margin-bottom: 24px;
        position: relative;
        line-height: 18.2px;

        @include desktop {
          line-height: 24px;
        }

        & > a {
          @include text-p3;
          color: var(--color-information-100);
          text-decoration: none;
          line-height: 18.2px;

          &:hover {
            text-decoration: underline;
          }

          @include desktop {
            line-height: 24px;
          }
        }

        &-number {
          position: absolute;
          left: -72px;
          text-align: right;
          min-width: 64px;
        }
      }

      &-list {
        padding-left: 33px;

        &-big-number {
          padding-left: 42px;
        }

        @include desktop {
          padding-left: 48px;
        }

        & > ul {
          padding-left: 16px;
        }
      }
    }
  }
}
