@import "src/styles/globals.scss";

.signatureCircle {
  position: absolute;
  z-index: 2;
  opacity: 1;
  width: 184px;
  height: 184px;

  &-section {
    cursor: pointer;
  }
}

.guardianInfo {
  @include centered-column;

  position: absolute;
  max-width: 287px;
  min-height: 30px;
  box-shadow: 0px 4px 8px rgba(5, 5, 40, 0.45);
  background-color: var(--color-primary-400);
  border-radius: 4px;
  padding: 16px;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  font-weight: 300;

  &-signature {
    @include centered-row;
    gap: 8px;

    &-name {
      @include text-p2-bold;
    }

    &-text {
      color: var(--color-primary-90);
    }

    & svg {
      color: var(--color-primary-90);
    }
  }
}
