@use "src/styles/globals.scss" as *;

.protocols-activity {
  @include centered-column;
  margin-bottom: 48px;

  @include desktop {
    margin-bottom: 80px;
  }

  &-bg {
    background-color: var(--color-black-50);
    inset: 0;
    position: fixed;
    z-index: 77;

    @include desktop {
      display: none;
    }
  }

  &-title {
    @include centered-row;
    @include text-roboto-subheading-500;
    color: var(--color-white);
    gap: 8px;
    margin-bottom: 24px;

    &-fullscreen {
      cursor: pointer;
      transform: translateY(3px);
    }

    svg {
      color: var(--color-gray-600);
    }
  }

  &-container {
    @include centered-column;
    background-color: var(--color-gray-950);
    border-radius: 16px;
    padding: 16px 16px 0 16px;
    margin-bottom: 48px;

    @include desktop {
      padding: 24px 24px 0 24px;
    }

    &-top {
      @include centered-row;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: space-between;
      position: relative;

      &-mobile-filters-btn {
        @include button-secondary;

        @include desktop {
          display: none;
        }

        & > svg {
          color: var(--color-white-60);
        }
      }

      &-filters {
        @include centered-column;
        background-color: var(--color-gray-950);
        border-radius: 40px 40px 0 0;
        border: 1px solid var(--color-gray-900);
        border-bottom: none;
        display: flex;
        gap: 16px;
        inset: 120vh 0 0 0;
        justify-content: flex-start;
        padding: 20px;
        position: fixed;
        transition: inset 0.3s ease;
        width: 100%;
        z-index: 99;

        @include desktop {
          @include centered-row;
          border-radius: 16px;
          border: none;
          flex-wrap: wrap-reverse;
          inset: unset;
          padding: 0;
          position: relative;
          z-index: unset;
        }

        &.open {
          inset: max(16px, calc(100% - 708px)) 0 0 0;
        }

        &-title {
          @include centered-row;
          justify-content: center;

          @include desktop {
            display: none;
          }

          & > button {
            @include button-secondary;
            background-color: var(--color-gray-800);
            color: var(--color-white);
            height: 24px;
            padding: 0;
            position: absolute;
            right: 20px;
            width: 24px;
          }
        }

        &-protocol {
          width: 100%;

          @include desktop {
            width: max-content;
          }

          & .select-searchable-dropdown {
            height: 48px;
            justify-content: space-between;
            width: 100%;

            @include desktop {
              height: 36px;
              width: max-content;
            }
          }
        }

        &-range {
          height: 48px;

          @include desktop {
            height: 36px;
          }

          & .select__control {
            height: inherit;
          }
        }

        &-metric {
          height: 48px;
          max-width: 100%;

          @include desktop {
            height: 36px;
            margin: 0 94px 0 auto;
            order: 3;
          }

          & .toggle-group-root {
            height: inherit;
            width: 100%;

            & .toggle-group-item {
              height: inherit;
              justify-content: center;
              width: 100%;
            }
          }
        }

        &-btns {
          @include centered-column;
          margin-top: auto;
          gap: 8px;

          &-apply {
            @include button-primary;
            height: 48px;
            justify-content: center;
            width: 100%;

            @include desktop {
              display: none;
            }
          }

          &-reset {
            @include button-ghost;
            height: 48px;
            justify-content: center;
            width: 100%;

            @include desktop {
              height: 36px;
              margin: 0;
            }
          }
        }
      }

      &-toggle-design {
        border-radius: 12px;

        @include desktop {
          position: absolute;
          right: 0;
          top: 0;
        }

        & .toggle-group-item {
          border-radius: 12px;
          padding: 6px;
        }
      }
    }

    &-chart {
      min-height: 359px;
      position: relative;

      @include desktop {
        min-height: 419px;
      }

      & .loader {
        margin-top: 64px;

        @include desktop {
          margin-top: 128px;
        }
      }

      &-header {
        @include centered-row;
        height: 20px;
        justify-content: flex-end;
        margin-top: 24px;

        &-total-txt {
          @include text-roboto-body-400;
          color: var(--color-gray-500);

          & > span {
            @include text-heading5;
            color: var(--color-white);
          }
        }
      }

      & .wormholescan-brand {
        bottom: 24px;
        filter: grayscale(1);
        height: 34px;
        left: 0;
        margin: auto;
        min-height: unset;
        opacity: 0.2;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        user-select: none;
        width: 162px;
        z-index: 1;

        @include desktop {
          bottom: 8px;
          width: 217px;
        }
      }

      &-scale {
        position: absolute;
        right: 88px;
        top: -35px;

        background-color: var(--color-gray-900);

        border-radius: 12px;

        @include desktop {
          right: 276px;
          top: -35px;
        }

        & .toggle-group-item {
          border-radius: 12px;
          padding: 6px;
        }
      }

      &-tooltip {
        background-color: var(--color-gray-900);
        border-radius: 16px;
        padding: 12px 16px 16px 16px;
        width: max-content;

        &-date {
          @include centered-column;
          @include text-heading6;
          color: var(--color-gray-400);
          font-family: "Roboto Mono", "Roboto", sans-serif !important;
          gap: 4px 0;
          margin-bottom: 12px;
          text-transform: uppercase;
        }

        &-protocol {
          @include centered-row;
          gap: 10px;

          &-icon {
            background-color: var(--color-lime);
            border-radius: 3px;
            height: 12px;
            width: 4px;
          }

          &-name {
            @include centered-row;
            @include text-roboto-body-400;
            font-family: "Roboto", sans-serif !important;
            gap: 0 8px;

            &-percentage {
              @include text-heading6;
              color: var(--color-gray-500);
              font-family: "Roboto Mono", "Roboto", sans-serif !important;
            }
          }

          &-number {
            @include text-heading5;
            font-family: "Roboto Mono", "Roboto", sans-serif !important;
            margin-left: auto;
          }
        }
      }
    }
  }
}
