.tooltip {
  &-container {
    padding: 8px;
    background-color: var(--color-primary-500);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(5, 5, 40, 0.45);
    min-height: 30px;
    font-size: 12px;
  }

  &-arrow {
    fill: var(--color-primary-500);
  }
}
