@import "src/styles/globals.scss";

.tx-information-summary {
  @include centered-column;

  column-gap: 32px;
  row-gap: 32px;
  padding: 24px;
  background-color: var(--color-white-05);
  min-height: 95px;
  margin-bottom: 24px;

  @include desktop {
    @include centered-row;

    justify-content: start;
    row-gap: 16px;
  }

  @include bigDesktop {
    column-gap: 72px;
    padding: 16px 112px;
  }

  > * {
    @include centered-row;
    gap: 12px;

    > * {
      flex: 1;
    }
    > *:last-child {
      flex: 2.3;
    }

    @include tablet {
      > * {
        flex: 1;
      }
      > *:last-child {
        flex: 5;
      }
    }

    @include desktop {
      > * {
        flex: unset;
      }
    }

    @include bigDesktop {
      gap: 24px;
    }
  }

  & .key {
    @include text-p2;

    color: var(--color-primary-90);
  }

  & .value {
    @include text-p2;
    @include centered-row;

    gap: 8px;
    color: var(--color-white);

    &.orange {
      color: var(--color-alert-100);
    }

    &.red {
      color: var(--color-error-100);
    }
  }

  & .chains {
    @include centered-row;

    gap: 12px;

    &-container {
      @include centered-column;

      align-items: center;
      background-color: var(--color-primary-800);
      border-radius: 50%;
      height: 32px;
      width: 32px;

      &.disabled {
        opacity: 0.25;
      }
    }

    > .arrow-icon {
      transform: scale(1.75);
      color: var(--color-primary-200);
    }
  }
}
