@import "src/styles/globals.scss";

.tx-information-summary {
  @include centered-column;

  background-color: var(--color-white-05);
  column-gap: 32px;
  min-height: 132px;
  padding: 40px 16px;
  row-gap: 32px;

  @include desktop {
    @include centered-row;

    justify-content: start;
    padding: 16px 0px 16px 24px;
    row-gap: 16px;
  }

  @include bigDesktop {
    column-gap: 64px;
    padding: 16px 0px 16px 112px;
  }

  & > div {
    @include centered-row;
    gap: 40px;

    @include desktop {
      gap: 24px;
    }
  }

  & .key {
    @include text-p2;

    color: var(--color-primary-90);
    flex: 1;

    @include tablet {
      max-width: 150px;
    }

    @include desktop {
      flex: unset;
    }
  }

  & .value {
    @include text-p2;
    @include centered-row;

    color: var(--color-white);
    flex: 2;
    gap: 8px;

    @include tablet {
      flex: 3;
    }

    @include desktop {
      flex: 4;
    }

    & .status {
      @include text-p2;
      @include centered-row;

      border-radius: 40px;
      font-weight: 500;
      gap: 8px;
      padding: 8px 16px;
    }

    & .progress {
      background-color: #ffd600;
      color: #675700;
    }

    & .completed {
      background-color: #00ffa3;
      color: #023523;
    }

    &-tooltip {
      @include centered-row;

      color: var(--color-success-100);
    }

    & > a {
      color: var(--color-information-100);
      text-decoration: none;
    }
  }
}
