@import "src/styles/globals.scss";

.tx-information-summary {
  @include centered-column;
  background-color: var(--color-white-05);
  border-radius: 10px;
  column-gap: 32px;
  margin-bottom: 24px;
  min-height: 132px;
  padding: 40px 16px;
  row-gap: 32px;

  @include tablet {
    padding: 40px;
  }

  @include desktop {
    @include centered-row;
    column-gap: 24px;
    justify-content: start;
    padding: 16px 24px;
  }

  @include bigDesktop {
    display: grid;
    gap: 0;
    grid-template-columns: 120px 0.8fr 3fr;
    padding: 16px 24px 16px 112px;
  }

  &-status {
    @include centered-row;
    gap: 0 40px;

    @include desktop {
      gap: 0 8px;
      grid-column: span 2;
      max-width: max-content;
    }
  }

  &-info {
    @include centered-column;
    gap: 32px 16px;
    width: 100%;

    @include desktop {
      gap: 32px 24px;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
    }

    @include bigDesktop {
      gap: 32px 16px;
      display: grid;
      grid-template-columns: 1fr 1.15fr 0.85fr;
      justify-content: flex-start;
    }

    & > div {
      @include centered-row;
      gap: 0 40px;

      @include desktop {
        gap: 0 8px;
        max-width: max-content;

        & > .value-origin-app {
          @media only screen and (max-width: 1640px) {
            max-width: 210px;
          }
        }
      }
    }
  }

  & .key {
    @include text-p2;

    color: var(--color-primary-90);
    flex: 1;

    @include tablet {
      max-width: 150px;
    }

    @include desktop {
      flex: unset;
      min-width: max-content;
    }
  }

  & .value {
    @include text-p2;
    @include centered-row;

    color: var(--color-white);
    flex: 2;
    gap: 8px;

    @include tablet {
      flex: 3;
    }

    @include desktop {
      flex: 4;
    }

    &-tooltip {
      @include centered-row;

      color: var(--color-success-100);
    }

    & > a {
      color: var(--color-information-100);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
