:root {
  --color-primary: #000f25;
  --color-secondary: #042250;
  --color-red: #ff2b57;
  --color-blue-1: #5865f2;
  --color-blue-2: #002764;
  --color-blue-3: #0078e8;
  --color-white: #fff;

  --color-graph-1: #5c30d8;
  --color-graph-2: #7c4dff;
  --color-graph-3: #7351d1;
  --color-graph-4: #9877f4;
  --color-graph-5: #8c96c6;
  --color-graph-6: #9ebcda;
  --color-graph-6: #bfd3e6;
  --color-graph-7: #79afda;
  --color-graph-8: #64b5f6;
  --color-graph-9: #1c7fce;
  --color-graph-10: #075b9e;
  --color-graph-11: #004175;
}

body {
  margin: 0;
  background-color: var(--color-primary);
}

#root {
  display: flex;
  flex-direction: column;
  padding: 34px;
}
