@import "src/styles/globals.scss";

:root {
  --color-primary-900: #010014;
  --color-primary-800: #080530;
  --color-primary-700: #0f0c48;
  --color-primary-600: #1c1c5d;
  --color-primary-500: #242569;
  --color-primary-400: #2c2d74;
  --color-primary-300: #31347c;
  --color-primary-200: #4d508e;
  --color-primary-100: #6a6da0;
  --color-primary-90: #9295bb;
  --color-primary-50: #bdbed7;
  --color-primary-30: #e4e5ee;
  --color-primary-10: #f3f4fc;

  --color-secondary-800: #ff2a57;
  --color-secondary-700: #f16179;
  --color-secondary-600: #f7909f;
  --color-secondary-300: #ffc8d6;
  --color-secondary-100: #ffe9f0;

  --color-success-100: #01bbac;
  --color-success-60: #01bbac99;
  --color-success-30: #01bbac4d;
  --color-success-15: #01bbac26;

  --color-alert-100: #ff9549;
  --color-alert-60: #ff954999;
  --color-alert-30: #995a344d;

  --color-information-100: #0078e8;
  --color-information-60: #0078e899;
  --color-information-30: #0078e84d;
  --color-information-15: #0077e626;

  --color-error-100: #f52020;
  --color-error-60: #f5202099;
  --color-error-30: #f520204d;

  --color-white: #ffffff;
  --color-white-90: #ffffffe6;
  --color-white-80: #ffffffcc;
  --color-white-70: #ffffffb2;
  --color-white-60: #ffffff99;
  --color-white-50: #ffffff7f;
  --color-white-40: #ffffff66;
  --color-white-30: #ffffff4d;
  --color-white-20: #ffffff4c;
  --color-white-10: #ffffff19;
  --color-white-05: #ffffff0c;
  --color-white-03: #ffffff07;

  --color-black: #000000;
  --color-black-25: #01001440;
  --color-black-20: #01001433;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  background-color: var(--color-primary-900);
  scroll-behavior: smooth;
  /* scrollbar-gutter: controlled by ScrollControl; */
}

body {
  margin: 0;
  color: var(--color-white);
  background-image: url("./assets/bg-mobile.webp");
  background-size: cover;
  min-width: 360px;

  @include desktop {
    background-image: url("./assets/bg.webp");
  }
}

#app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  > .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 16px;

    @include tablet {
      padding: 0 60px;
    }
  }
}
