@import "src/styles/globals.scss";

:root {
  --color-primary-950: #0b0217;
  --color-primary-900: #010014;
  --color-primary-800: #080530;
  --color-primary-700: #0f0c48;
  --color-primary-600: #1c1c5d;
  --color-primary-500: #242569;
  --color-primary-400: #2c2d74;
  --color-primary-300: #31347c;
  --color-primary-200: #4d508e;
  --color-primary-150: #685c7c;
  --color-primary-100: #6a6da0;
  --color-primary-90: #9295bb;
  --color-primary-50: #bdbed7;
  --color-primary-30: #e4e5ee;
  --color-primary-10: #f3f4fc;

  --color-secondary-800: #ff2a57;
  --color-secondary-700: #f16179;
  --color-secondary-600: #f7909f;
  --color-secondary-300: #ffc8d6;
  --color-secondary-100: #ffe9f0;

  // new colors ⬇

  --color-gray-10: #e6e6e61a;
  --color-gray-20: #cccccc33;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #808080;
  --color-gray-600: #666666;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-900: #1f1f1f;
  --color-gray-950: #121212;

  --color-primary-100: #7abfff;
  --color-primary-40: #7abfff66;
  --color-primary-20: #7abfff33;
  --color-primary-12: #7abfff1f;
  --color-primary-10: #7abfff1a;

  --color-black: #000000;
  --color-black-90: #000000e6;
  --color-black-80: #000000cc;
  --color-black-70: #000000b3;
  --color-black-60: #00000099;
  --color-black-50: #00000080;
  --color-black-40: #00000066;
  --color-black-30: #0000004d;
  --color-black-25: #00000040;
  --color-black-20: #00000033;
  --color-black-10: #0000001a;
  --color-black-05: #0000000d;

  --color-white: #ffffff;
  --color-white-90: #ffffffe6;
  --color-white-80: #ffffffcc;
  --color-white-70: #ffffffb2;
  --color-white-60: #ffffff99;
  --color-white-50: #ffffff7f;
  --color-white-40: #ffffff66;
  --color-white-30: #ffffff4d;
  --color-white-20: #ffffff4c;
  --color-white-10: #ffffff19;
  --color-white-05: #ffffff0c;
  --color-white-03: #ffffff07;

  --color-success-100: #7bff3d;
  --color-success-60: #7bff3d99;
  --color-success-30: #7bff3d4d;
  --color-success-20: #7bff3d33;
  --color-success-15: #7bff3d26;
  --color-success-10: #7bff3d1a;

  --color-alert-100: #ffd74a;
  --color-alert-60: #ffd74a99;
  --color-alert-30: #ffd74a4d;
  --color-alert-20: #ffd74a33;
  --color-alert-10: #ffd74a1a;

  --color-information-100: #7efff0;
  --color-information-60: #7efff099;
  --color-information-30: #7efff04d;
  --color-information-15: #7efff026;
  --color-information-12: #7efff01f;

  --color-error-100: #ff4d63;
  --color-error-60: #ff4d6399;
  --color-error-30: #ff4d634d;
  --color-error-15: #ff4d6326;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--color-white-20) var(--color-black-10);
}

html {
  background-color: var(--color-black);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
  min-width: 360px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  padding: 0 16px;
  position: relative;

  @include tablet {
    padding: 0 60px;
  }

  @include desktop {
    padding: 0 120px;
  }

  > .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
