@use "src/styles/globals.scss" as *;

.chain-activity {
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 80px;
  }

  &-bg {
    background-color: var(--color-black-50);
    inset: 0;
    position: fixed;
    z-index: 77;

    @include desktop {
      display: none;
    }
  }

  &-title {
    @include centered-row;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    margin-bottom: 24px;

    &-fullscreen {
      cursor: pointer;
      transform: translateY(2px);
    }

    svg {
      color: var(--color-gray-600);
    }
  }

  & .wormholescan-brand {
    bottom: 0;
    filter: grayscale(1);
    height: 34px;
    left: 0;
    margin: auto;
    min-height: unset;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 180px;
    z-index: 1;

    @include desktop {
      padding-top: 72px;
    }
  }

  &-chart {
    background-color: var(--color-gray-950);
    border-radius: 16px;
    min-height: 360px;
    padding: 16px;
    position: relative;

    @include desktop {
      padding: 24px;
      min-height: 500px;
    }

    & .loader {
      margin-top: 64px;

      @include desktop {
        margin-top: 128px;
      }
    }

    &-scale {
      position: absolute;
      right: 90px;
      top: 0px;

      @include desktop {
        right: 272px;
        top: 0px;
        transform: scale(0.94);

        &.is-testnet {
          right: 192px;
        }
      }
    }

    &-tooltip {
      background-color: var(--color-gray-900);
      border-radius: 16px;
      padding: 12px 16px 16px 16px;
      width: max-content;

      @include desktop {
        width: 264px;
      }

      &-date {
        @include centered-column;
        @include text-heading6;
        color: var(--color-gray-400);
        font-family: "Roboto Mono", "Roboto", sans-serif !important;
        gap: 4px 0;
        margin-bottom: 12px;
        text-transform: uppercase;
      }

      &-total-msg {
        @include centered-row;
        @include text-roboto-body-400;
        color: var(--color-white);
        font-size: 14px;
        margin-bottom: 16px;
        gap: 10px;

        @include desktop {
          margin-bottom: 24px;
        }

        & > span {
          @include text-heading5;
          margin-left: auto;
        }
      }

      &-chains {
        @include text-heading6;
        color: var(--color-gray-400);
        font-family: "Roboto Mono", "Roboto", sans-serif !important;
        margin-bottom: 8px;
        text-transform: uppercase;

        @include desktop {
          margin-bottom: 12px;
        }
      }

      &-container {
        @include centered-column;
        gap: 4px;

        @include desktop {
          gap: 8px;
        }

        &-each-msg {
          @include centered-row;
          gap: 10px;

          &-icon {
            border-radius: 3px;
            height: 12px;
            width: 4px;
          }

          &-name {
            @include text-roboto-body-400;
            font-family: "Roboto", sans-serif !important;
          }

          &-number {
            @include text-heading5;
            font-family: "Roboto Mono", "Roboto", sans-serif !important;
            margin-left: auto;
          }
        }
      }
    }

    &-top {
      @include centered-row;
      align-items: start;
      gap: 16px;
      position: relative;
      width: 100%;
      justify-content: space-between;

      &-filters {
        @include centered-column;
        background-color: var(--color-gray-950);
        border-radius: 40px 40px 0 0;
        border: 1px solid var(--color-gray-900);
        border-bottom: none;
        display: flex;
        gap: 10px;
        inset: 120vh 0 0 0;
        justify-content: flex-start;
        padding: 20px;
        position: fixed;
        transition: inset 0.3s ease;
        width: 100%;
        z-index: 99;

        @include desktop {
          @include centered-row;
          border-radius: 16px;
          border: none;
          flex-wrap: wrap-reverse;
          inset: unset;
          padding: 0;
          position: relative;
          z-index: unset;

          & > div {
            &.chain-activity-chart-top-filters-select {
              order: 1;
            }

            &.chain-activity-chart-top-filters-calendar {
              order: 3;
            }

            &.chain-activity-chart-top-filters-buttons {
              order: 4;
            }

            &.chain-activity-chart-top-filters-toggle-metric {
              order: 5;
            }
          }
        }

        &.open {
          inset: max(16px, calc(100% - 708px)) 0 0 0;

          @include desktop {
            inset: unset;
          }
        }

        &-title {
          @include centered-row;
          justify-content: center;
          width: 100%;

          @include desktop {
            display: none;
          }

          & > button {
            @include button-secondary;
            background-color: var(--color-gray-800);
            color: var(--color-white);
            height: 24px;
            padding: 0;
            position: absolute;
            right: 20px;
            width: 24px;
          }
        }

        &-select {
          & .select-searchable-dropdown {
            width: 100%;
            justify-content: space-between;
          }

          &-text {
            @include centered-row;
            gap: 4px;

            & .counter {
              margin-right: 4px;
            }

            & > span {
              @include desktop {
                @media screen and (max-width: 1260px) {
                  display: none;
                }
              }
            }
          }
        }

        &-legends {
          display: none;

          @include desktop {
            @include centered-column;
            bottom: -99px;
            justify-content: space-between;
            position: absolute;
            width: 100%;

            &.hidden {
              display: none;
            }

            &-container {
              @include centered-row;
              @include text-roboto-body-400;
              align-items: start;
              color: var(--color-white);
              height: 34px;
              justify-content: space-between;
              white-space: nowrap;

              &-total {
                @include centered-row;
                gap: 12px;

                & > span {
                  @include text-roboto-body-400;
                  color: var(--color-gray-500);
                }

                & > p {
                  @include text-heading5;
                  color: var(--color-white);
                }
              }
            }

            &-target {
              @include centered-row;
              @include text-roboto-body-400;
              align-items: start;
              color: var(--color-gray-400);
              height: 32px;
              top: 99px;
              white-space: nowrap;
              z-index: 2;

              & > span {
                margin-right: 8px;
              }

              &-chains {
                @include centered-row;
                width: calc(100% - 220px);
                overflow: auto;
                gap: 12px;
              }
            }
          }
        }

        &-design {
          @include centered-row;
          gap: 6px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 9;
        }

        & .select-searchable-dropdown {
          height: 48px;

          @include desktop {
            height: 36px;
          }
        }

        &-buttons {
          @include centered-column;
          gap: 8px;
          margin-top: auto;

          @include desktop {
            margin-right: auto;
          }

          & > .apply-btn {
            @include button-primary;
            height: 48px;
            justify-content: center;
            width: 100%;

            @include desktop {
              display: none;
            }
          }

          & > .reset-btn {
            @include button-ghost;
            height: 48px;
            justify-content: center;

            @include desktop {
              height: 36px;

              @media only screen and (max-width: 1100px) {
                font-size: 12px;
                width: 40px;
              }
            }
          }
        }

        &-toggle-metric {
          max-width: 100%;

          @include desktop {
            margin-right: 94px;
            max-width: max-content;
          }

          & .toggle-group-root {
            width: 100%;
          }

          & button {
            height: 48px;
            justify-content: center;
            width: 100%;

            &[data-state="on"] {
              height: 48px;
            }

            @include desktop {
              height: 36px;

              &[data-state="on"] {
                height: 36px;
              }
            }
          }
        }
      }

      &-mobile-filters-btn {
        @include button-secondary;
        z-index: 0;

        & > svg {
          color: var(--color-white-60);
        }

        &-txt {
          margin-right: 4px;
        }

        @include desktop {
          display: none;
        }
      }
    }
  }

  & .apexcharts {
    z-index: 99;

    &-legend {
      display: inline;
      padding: 0;
      white-space: nowrap;
      width: calc(100% - 220px);
      z-index: 3;

      &::-webkit-scrollbar {
        display: none;
      }

      &-text {
        vertical-align: 1px;
        margin-right: 12px;
      }
    }
  }
}
