@use "src/styles/globals.scss" as *;

.ntt-page {
  &-title {
    @include centered-row;
    @include text-roboto-heading-500;
    gap: 0 8px;
    margin-bottom: 16px;
  }

  &-description {
    @include text-roboto-body-400;
    color: var(--color-gray-400);
    margin-bottom: 24px;
    max-width: 765px;
  }

  &-stats {
    @include centered-column;
    background-color: var(--color-gray-950);
    border-radius: 16px;
    gap: 24px;
    margin-bottom: 40px;
    padding: 16px;

    @media screen and (min-width: 1200px) {
      @include centered-row;
      justify-content: space-between;
      max-height: 84px;
      overflow: hidden;
      padding: 16px 32px;
    }

    &-item {
      @include centered-column;
      gap: 8px 0;
      min-width: max-content;
      width: 180px;

      &-label {
        @include text-heading6;
        color: var(--color-gray-400);

        &-icon {
          display: inline-block;
          height: 12px;
          transform: translateY(-4.5px);

          & > svg {
            display: block;
          }
        }
      }

      &-value {
        color: var(--color-white);
        @include text-heading4;
      }
    }
  }

  &-tokens-list {
    margin-bottom: 48px;

    @include desktop {
      margin-bottom: 80px;
    }

    &-title {
      @include centered-row;
      @include text-roboto-subheading-500;
      color: var(--color-white);
      margin-bottom: 24px;
      gap: 0 8px;

      & > svg {
        color: var(--color-gray-400);
      }

      & > .sort-by-btn {
        @include button-secondary;
        border-radius: 12px;
        height: 36px;
        justify-content: center;
        margin-left: auto;
        padding: 0;
        width: 36px;

        @include desktop {
          display: none;
        }
      }
    }

    &-error {
      @include centered-row;
      @include text-roboto-body-400;
      color: var(--color-gray-500);
      justify-content: center;
      padding: 16px;
    }

    &-table {
      overflow-x: auto;

      & td:nth-last-child(2) {
        border: none;
        position: absolute;
        top: 0;
        right: 0;

        @include desktop {
          position: relative;
        }
      }

      & td:last-child {
        & > .ntt-page-tokens-list-table-item {
          justify-content: flex-end;
        }
      }

      &-item {
        @include centered-row;
        @include text-heading5;

        & h4 {
          @include text-heading6;
          color: var(--color-gray-400);
          margin-right: auto;

          @include desktop {
            display: none;
          }
        }

        &.token {
          @include centered-row;
          @include text-roboto-body-500;
          gap: 0 12px;
        }

        &.view-details {
          & > a {
            @include button-secondary;
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}
