@use "src/styles/globals.scss" as *;

.submit {
  width: 100%;
  background-color: var(--color-gray-950);
  border-radius: 22px;
  word-wrap: break-word;

  padding: 24px;

  &-title {
    font-weight: 500;
  }

  &-parsed {
    color: var(--color-lime);
  }

  &-unparsed {
    color: var(--color-gray-400);
  }

  &-start-parsing {
    display: inline-flex;
    margin-left: auto;
  }

  &-finished-parsing {
    display: flex;
    // background-color: var(--color-success-15);
    margin-top: 12px;
    justify-content: center;
    align-items: center;

    min-height: 40px;
    border-radius: 4px;

    font-weight: 500;
  }

  &-steps {
    @include centered-row;
    margin-top: 16px;
    width: 100%;

    &-btn-prev {
      @include button-secondary;
    }
    &-btn-next {
      margin-left: auto;
      @include button-primary;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .add-btn {
    @include button-primary;
    display: flex;
    justify-content: center;
    width: 168px;
    margin-top: 36px;
  }

  &-save-finish {
    @include centered-row;
  }

  &-json-texts {
    @include centered-row;

    &-item {
      width: 48%;
      background-color: var(--color-black);
      border-radius: 12px;
      padding: 12px;
      min-height: 100px;

      &:last-child {
        margin-left: 1%;
        width: 51%;
      }

      &-key {
        color: var(--color-gray-500);
      }

      &-value {
        color: var(--color-white);
      }
    }
  }

  &-selectedLayouts {
    gap: 6px;
    margin-bottom: 4px;
    position: relative;

    &-remove {
      position: absolute;
      margin-left: 4px;
      cursor: pointer;
      color: red;
    }
  }

  &-base-layouts {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    &-delete {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background-color: var(--color-white-03);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: var(--color-error-100);
        border-radius: 8px;
      }
    }
  }

  &-layout {
    &-input {
      width: 400px;
      height: 36px;
      border-radius: 6px;
      padding: 8px;
      background-color: var(--color-gray-900);
      border: 0px;
      color: var(--color-white-90);
      &:focus {
        outline: transparent;
      }
    }

    &-container {
      display: flex;
      width: 100%;

      &-box {
        display: flex;
        width: 49%;
        flex-direction: column;
      }

      &-subtitle {
        color: var(--color-gray-400);
        margin-bottom: 8px;

        &.mtop {
          margin-top: 12px;
        }
      }

      &-types {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
      }

      &-options {
        display: flex;
        flex-direction: column;
        // justify-content: center;
      }
    }

    &-button {
      width: 148px;
      height: 36px;
      background-color: var(--color-gray-950);
      border: 1px solid var(--color-gray-800);
      border-radius: 12px;
      padding: 4px 12px;
      color: var(--color-white);

      cursor: pointer;
    }

    &-custom {
      @include centered-row;
      gap: 8px;
    }

    &-bitset {
      position: relative;
      display: flex;
      align-items: center;
      width: 400px;
      gap: 6px;

      &-close {
        cursor: pointer;
        margin-left: 2px;
        color: grey;
      }

      &-options {
        @include centered-row;
        margin-top: 6px;
        width: 100%;

        gap: 6px;
        flex-wrap: wrap;
      }
    }

    &-switch-menu {
      border: 1px solid white;
      padding: 6px 8px;

      &-title {
        @include centered-row;
        gap: 6px;
        color: var(--color-white);
        font-weight: 500;
        margin-top: 12px;
        margin-left: 6px;
      }
    }

    &-plus {
      position: absolute;
      right: 12px;
      font-size: 14px;
      color: var(--color-gray-500);
    }
  }

  &-options {
    display: flex;
    gap: 6px;
    margin-top: 6px;
    margin-bottom: 12px;

    &-omit {
      color: var(--color-gray-400);
    }

    &-checkbox {
      width: 20px;
      height: 20px;
      background-color: var(--color-gray-950);
      border: 1px solid var(--color-gray-800);
      border-radius: 4px;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6px;

      &.checked {
        background-color: var(--color-plum);
        color: var(--color-black);
      }
    }
  }

  &-btn {
    @include button-secondary;

    &.primary {
      @include button-primary;
    }

    &.save {
      @include centered-row;
      justify-content: center;
      width: 110px;
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  &-input {
    padding: 8px 8px;
    width: 400px;
    background-color: var(--color-gray-900);
    border: 0px;
    border-radius: 12px;
    margin-right: 4px;
    color: var(--color-white-90);

    &:focus {
      outline: transparent;
    }
  }

  &-switch-size-text {
    // background-color: var(--color-white-10);
    margin-left: 12px;
    padding: 4px 2px;

    font-size: 14px;
    border-bottom: 1px solid var(--color-gray-700);

    cursor: pointer;
  }

  &-standard {
    @include centered-row;
    justify-content: space-around;

    border-radius: 16px;
    padding: 24px 12px;
    padding-bottom: 0px;

    flex-wrap: wrap;

    &-description {
      width: 100%;
      margin-left: 12px;
      margin-bottom: 12px;
      // text-align: center;
      color: var(--color-gray-500);

      & > p {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 24px;
        }
      }
    }

    &-stdProps {
      @include centered-row;
    }

    &-btn {
      @include button-secondary;
      display: flex;
      justify-content: center;

      background-color: var(--color-gray-950);
      border: 1px solid var(--color-gray-800);
      border-radius: 12px;
      width: 200px;
      min-width: 200px;
      margin-right: 12px;

      @include bigDesktop {
        width: 300px;
        min-width: 300px;
      }

      &.disabled {
        background-color: var(--color-gray-900);
        color: var(--color-gray-500);
        cursor: default;

        &:hover {
          background-color: var(--color-gray-900);
        }
      }

      &.active {
        background-color: var(--color-gray-900);
      }
    }

    &-value {
      margin-left: 8px;
      word-break: break-all;
    }

    &-sub {
      font-weight: bold;
      margin-bottom: 6px;
      margin-left: 70px;
    }

    &-container {
      @include centered-column;
      // align-items: center;
      gap: 6px;
      width: 100%;

      &-props {
        @include centered-row;

        &-value {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;

          & > svg {
            cursor: pointer;
          }
        }
      }
    }
  }

  &-last {
    @include centered-column;
    align-items: center;
    justify-content: center;
    padding: 12px;

    &-title {
      margin: 12px 0px;
      color: var(--color-gray-400);
      // text-align: center;
    }

    &-container {
      width: 800px;
    }

    &-inputContainer {
      @include centered-row;
      position: relative;

      width: 800px;
      gap: 8px;
      margin-top: 8px;

      & > input {
        height: 30px;
        // text-align: center;

        &:disabled {
          margin-top: 4px;
          background-color: var(--color-gray-950);
          color: var(--color-white-50);
        }
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      gap: 8px;

      max-width: 800px;
      max-height: 800px;

      border-bottom: 1px solid var(--color-gray-800);
      margin-top: 16px;
      padding-bottom: 16px;

      img {
        max-width: 54px;
        max-height: 54px;
        aspect-ratio: 1;
        margin-left: 8px;
      }

      span {
        color: var(--color-gray-400);
      }

      svg {
        &:last-child {
          cursor: pointer;

          margin-left: auto;
          color: var(--color-error-100);
          background-color: var(--color-error-30);
          border-radius: 8px;
          padding: 2px;
        }
      }
    }

    &-info {
      display: flex;
      width: 100%;
      position: relative;
      height: 300px;

      &[role="presentation"] {
        cursor: pointer;
        background-image: linear-gradient(to right, var(--color-gray-800) 50%, transparent 50%),
          linear-gradient(to right, var(--color-gray-800) 50%, transparent 50%),
          linear-gradient(to bottom, var(--color-gray-800) 50%, transparent 50%),
          linear-gradient(to bottom, var(--color-gray-800) 50%, transparent 50%);
        background-position: left top, left bottom, left top, right top;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-drag {
        @include centered-row;

        gap: 4px;
        color: var(--color-gray-400);

        &-browse {
          color: var(--color-white);
          text-decoration: underline;
        }
      }

      &-input {
        width: 100%;
        padding: 12px;
        font-size: 14px;

        border: 0px;
        border-radius: 6px;
        outline: none;
        resize: none;

        background-color: var(--color-gray-900);
        color: var(--color-white);
      }

      &-length {
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }
  }
}

.input-highlight {
  background-color: rgba(255, 255, 0, 0.5);
  cursor: pointer;
}

.devtools-page {
  flex: 1;
  display: block;

  &-container {
    padding: 8px 0 52px 0;

    @include desktop {
      padding: 80px 0 52px 0;
    }
  }

  &-title {
    @include text-roboto-heading-500;
    color: var(--color-white);
    margin-bottom: 24px;
    width: 100%;
  }

  &-description {
    @include text-roboto-body-400;
    color: var(--color-gray-400);
    margin-bottom: 24px;
    max-width: 811px;
    text-wrap: pretty;
  }

  .parse {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 100%;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-submit {
      display: flex;
      flex-direction: column;

      width: 100%;
      min-height: 300px;

      background-color: var(--color-gray-950);
      border-radius: 22px;
      padding: 18px 24px;
      margin-bottom: 12px;
      gap: 12px;

      &-progress {
        @include centered-row;
        width: 100%;
        height: 6px;
        margin-top: 12px;

        &-line {
          width: calc(25% - 8px);
          margin-left: 4px;
          margin-right: 4px;
          border-radius: 6px;
          height: 6px;
          background-color: var(--color-gray-900);

          &.active {
            background-color: var(--color-gray-500);
          }
        }
      }

      &-step {
        margin-top: 6px;
        color: var(--color-gray-400);
      }

      &-title {
        font-size: 16px;
        line-height: 22px;
        color: var(--color-white);
        font-weight: 500;
        margin-bottom: 24px;
      }

      &-optional {
        margin-left: 8px;
        color: var(--color-gray-400);
        font-size: 14px;
      }

      &-label {
        color: var(--color-gray-400);
        margin-bottom: 6px;
        font-size: 14px;
      }

      &-line {
        width: 100%;
        height: 2px;
        background-color: var(--color-gray-900);

        &.margin {
          margin-top: 20px;
          margin-bottom: 8px;
        }
      }

      &-next {
        @include centered-row;
        justify-content: flex-end;
        margin-bottom: 4px;
      }

      &-protocols {
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 14px;
        color: var(--color-gray-400);
      }

      &-step1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 12px;

        & > svg {
          cursor: pointer;
        }

        &-editing {
          @include centered-row;
          justify-content: flex-end;
          gap: 8px;
        }

        &-option1 {
          width: 15%;

          .select {
            width: 100%;
          }
        }

        &-option2 {
          width: 17%;

          .select {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
          }

          .filters-container-select-text {
            @include centered-row;
            width: 90%;
            gap: 4px;
          }
        }

        &-option3 {
          width: 60%;

          input {
            width: 100%;
            background-color: var(--color-gray-900);

            border-radius: 12px;
            height: 36px;
            border: 0px;

            color: var(--color-white);
            font-size: 14px;
          }
        }

        &-option4 {
          width: 8%;

          &-btn {
            @include centered-row;
            justify-content: center;
            height: 36px;
            margin-top: 20px;

            width: 100%;
            border-radius: 18px;
            background-color: var(--color-gray-900);
            cursor: pointer;

            color: var(--color-white);
          }
        }
      }

      &-identifiers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        color: var(--color-white);

        font-size: 14px;
        margin-bottom: 4px;
        position: relative;

        padding-bottom: 12px;
        border-bottom: 2px solid var(--color-gray-900);

        &-1 {
          width: 16%;
        }

        &-2 {
          width: 18%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          font-weight: 500;
        }

        &-3 {
          color: var(--color-gray-200);
          width: 58%;
        }

        &-4 {
          width: 8%;
          display: flex;
          justify-content: flex-end;
          gap: 8px;

          &-icon {
            @include centered-row;
            justify-content: center;
            cursor: pointer;

            width: 30px;
            height: 30px;
            background-color: var(--color-gray-900);
            border-radius: 6px;

            &.red {
              color: var(--color-error-100);
              background-color: var(--color-error-15);
            }

            &.green {
              color: var(--color-success-100);
              background-color: var(--color-success-15);
            }
          }
        }
      }

      &-encodings {
        display: flex;
        flex-direction: row;

        .parse-content {
          &:last-child {
            margin-left: 20px;
          }
        }
      }

      &-btn {
        @include button-primary;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          background: var(--color-plum-40);

          &:hover {
            background: var(--color-plum-40);
          }
        }
      }

      &-trash {
        position: absolute;
        cursor: pointer;
        right: 6px;
        color: var(--color-error-100);
        background-color: var(--color-error-15);
        border-radius: 8px;
        padding: 2px;
      }

      &-input {
        border-radius: 6px;
        padding: 4px 8px;
        height: 36px;

        display: flex;
        width: 800px;

        background-color: var(--color-gray-900);
        border: 0px;
        color: var(--color-white-80);

        &:focus {
          outline: transparent;
        }

        &:disabled {
          padding-right: 50px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    &-txType {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      margin-bottom: 36px;
      position: relative;
      width: 100%;

      & > svg {
        bottom: 0;
        color: var(--color-white-50);
        left: 16px;
        margin: auto;
        position: absolute;
        top: 0;
      }

      &-input {
        @include text-roboto-body-large-400;
        background-color: var(--color-gray-900);
        border-radius: 20px;
        border: none;
        color: var(--color-white);
        height: 68px;
        outline: none;
        padding: 0 16px 0 48px;
        width: 100%;

        &.error {
          border: 1px solid var(--color-error-100);
        }
      }

      &-error {
        @include centered-row;
        @include text-roboto-body-400;
        gap: 8px;
        width: 100%;
        transform: translateY(-24px);

        & > .icon {
          color: var(--color-error-100);
        }
      }
    }

    &-links {
      @include centered-row;
      gap: 20px 16px;
      width: 100%;

      justify-content: flex-start;
      margin-bottom: 36px;

      &-reset {
        @include button-secondary;
        justify-content: center;
      }

      &-navlink {
        @include button-ghost;
        justify-content: center;
      }
    }

    &-content {
      @include centered-column;
      justify-content: flex-start;
      width: 100%;

      @include desktop {
        width: 38%;

        + .parse-content {
          width: 60%;
        }
      }

      &-title {
        @include centered-row;
        @include text-roboto-body-500;
        color: var(--color-white);
        cursor: pointer;
        gap: 8px;
        margin-bottom: 20px;
        width: max-content;

        &:hover {
          color: var(--color-white-70);
        }

        &.rotate > svg {
          rotate: 180deg;
        }
      }
    }

    &-multiple {
      @include text-roboto-body-400;
      background-color: var(--color-gray-900);
      color: var(--color-white);
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      margin-bottom: 32px;
      padding: 8px;
      width: 100%;

      & svg {
        color: var(--color-plum);
      }

      &-left {
        @include centered-row;
        gap: 6px;
      }

      &-right {
        @include centered-row;
        gap: 6px;
        cursor: pointer;

        &:hover {
          filter: brightness(1.2);
        }

        & .triangle-icon {
          rotate: -90deg;
        }
      }
    }

    &-input {
      background-color: var(--color-black);
      border-radius: 12px;
      border: none;
      color: var(--color-white-90);
      display: flex;
      flex-grow: 1;
      font-size: 14px;
      outline: none;
      padding: 20px;
      resize: none;

      &-container {
        background-color: var(--color-gray-950);
        border: 1px solid var(--color-gray-900);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 466px;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        transition: height 0.3s ease-in-out;
        width: 100%;

        @include desktop {
          height: 426px;
          margin-bottom: 0;
        }

        &.with-data {
          height: 808px;
        }

        &.hide {
          height: 70px;
        }

        &-top {
          @include centered-row;
          gap: 6px;
          height: 36px;
          margin-bottom: 16px;

          &-btns {
            @include centered-row;
            background-color: var(--color-gray-900);
            border-radius: 20px;
          }

          &-btn {
            @include button-secondary;
            background-color: transparent !important;

            &.active {
              @include button-secondary;
              background-color: var(--color-gray-800) !important;
            }
          }

          &-copy {
            @include centered-row;
            @include text-roboto-body-400;
            color: var(--color-gray-500);
            gap: 8px;
            margin-left: auto;
          }
        }

        &-format {
          position: absolute;
          left: 4px;
          bottom: 4px;

          display: flex;
          gap: 2px;
          padding: 2px;

          font-size: 14px;
          border-radius: 6px;

          span {
            padding-left: 4px;
            padding-right: 4px;
            cursor: pointer;
            user-select: none;
            background-color: var(--color-plum-700);

            &.active {
              background-color: var(--color-plum-500);
            }

            &:hover {
              background-color: var(--color-plum-300);
            }
          }
        }
      }
    }

    &-result {
      @include centered-column;
      background-color: var(--color-gray-950);
      border: 1px solid var(--color-gray-900);
      border-radius: 20px;
      display: flex;
      height: 466px;
      justify-content: start;
      overflow: hidden;
      padding: 20px;
      position: relative;
      transition: height 0.3s ease-in-out;
      width: 100%;

      @include desktop {
        height: 426px;
      }

      &.with-data {
        height: 808px;
      }

      &.hide {
        height: 70px;
      }

      &-top {
        @include centered-row;
        gap: 6px;
        height: 36px;
        margin-bottom: 16px;

        &-btns {
          @include centered-row;
          background-color: var(--color-gray-900);
          border-radius: 20px;
        }

        &-btn {
          @include button-secondary;
          background-color: transparent !important;

          &.active {
            @include button-secondary;
            background-color: var(--color-gray-800) !important;
          }
        }

        &-copy {
          @include centered-row;
          @include text-roboto-body-400;
          color: var(--color-gray-500);
          gap: 8px;
          margin-left: auto;
          white-space: nowrap;
        }
      }

      &-not-found {
        color: var(--color-error-100);
      }

      &-json {
        @include text-roboto-body-400;
        background-color: var(--color-black);
        border-radius: 12px;
        border: none;
        color: var(--color-white);
        cursor: not-allowed;
        display: flex;
        flex-grow: 1;
        line-height: 1.5;
        overflow: scroll;
        padding: 20px;
        position: relative;
        resize: none;
        width: 100%;

        @include tablet {
          overflow-x: auto;
          overflow-y: scroll;
        }

        &-text {
          cursor: text;
        }
      }
    }
  }

  &-alert {
    @include centered-column;
    align-items: center;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;

    &.encoded {
      padding: 40px;
      margin-top: 72px;
    }

    &-info {
      @include centered-row;
      gap: 8px;

      & > svg {
        align-self: flex-start;
        color: var(--color-gray-600);
      }

      & > p {
        @include text-roboto-body-400;
        color: var(--color-gray-500);
        max-width: 170px;

        @include desktop {
          max-width: unset;
        }
      }
    }
  }

  & .added-stuff {
    user-select: none;
  }

  & .chain-icon {
    display: inline;
    margin-left: 8px;

    & > img {
      transform: scale(1.25) translateY(2px);
      margin-right: 4px;
    }
  }

  .copy-item {
    color: var(--color-gray-600);
    display: inline-block;
    margin-left: 6px;
    height: 16.5px;
    line-height: 1;

    & span {
      display: inline-flex;
    }

    & svg {
      cursor: pointer;
      vertical-align: middle;
    }
  }
}

.lastStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 36px;

  &-description {
    color: var(--color-gray-400);
    font-size: 16px;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    &.check {
      background-color: var(--color-success-15);
      color: var(--color-success-100);
    }

    &.cross {
      background-color: var(--color-error-15);
      color: var(--color-error-100);
    }
  }

  &-buttons {
    @include centered-row;
    gap: 8px;
    margin-top: 24px;

    .primary {
      @include button-primary;
      width: 200px;
      justify-content: center;
    }

    .download {
      @include button-secondary;
      @include centered-row;
      justify-content: center;
      gap: 4px;
      width: 200px;
    }
  }

  &-sendManual {
    @include centered-column;
    align-items: center;
    gap: 6px;

    color: var(--color-gray-400);
    margin-top: 36px;
  }

  h1 {
    color: var(--color-white);
  }
}

.only-desktop {
  @include centered-column;
  border-radius: 16px;
  background-color: var(--color-gray-950);
  height: 460px;
  gap: 12px;
  justify-content: flex-end;

  padding: 24px;
  padding-bottom: 36px;
  margin-top: 36px;
  @include tablet {
    margin: 36px 64px 0px;
  }

  &-title {
    color: var(--color-white);
    font-weight: 500;
    font-size: 20px;
  }
  &-description {
    color: var(--color-gray-500);
  }
}
