@import "src/styles/globals.scss";

.governance {
  &-title {
    @include text-h5;
    margin: 32px 0;
  }

  &-container {
    @include card-container;

    margin-bottom: 32px;
    padding: 0 !important;

    &-top {
      @include centered-column;
      justify-content: space-between;
      min-height: 70px;

      @include tablet {
        @include centered-row;
      }

      &-btns {
        @include centered-row;
        min-height: inherit;

        & > button {
          @include centered-row;
          @include text-p3;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid var(--color-primary-100);
          color: var(--color-primary-100);
          cursor: pointer;
          font-size: 12px;
          font-weight: 600;
          justify-content: center;
          min-height: inherit;
          padding: 6px 8px;
          white-space: nowrap;
          width: 100%;

          @include tablet {
            border-bottom: 1px solid transparent;
            font-size: 14px;
            padding: 6px 16px;
            width: 146px;
          }

          &:hover:not(&.active) {
            border-bottom: 1px solid var(--color-primary-100);
          }

          &.active {
            border-bottom: 1px solid var(--color-secondary-800);
            color: var(--color-secondary-800);
          }
        }
      }

      &-pagination {
        @include centered-row;
        justify-content: center;
        padding: 24px 16px 24px 24px;

        @include tablet {
          padding: 0 16px 0 0;
        }

        @include desktop {
          padding: 0 32px 0 0;
        }
      }
    }

    &-table {
      overflow-x: auto;

      & th:first-child,
      & td:first-child {
        width: 30%;
      }

      & th:nth-last-child(2),
      & td:nth-last-child(2),
      & th:last-child,
      & td:last-child {
        text-align: end;
      }

      & tr:hover {
        background-color: unset !important;
        cursor: default !important;
      }

      & .chain {
        @include centered-row;
        gap: 16px;
      }
    }

    &-bottom {
      @include centered-column;
      align-items: center;
      min-height: 70px;

      @include tablet {
        align-items: end;
      }
    }
  }
}
