@import "src/styles/globals.scss";

.not-found-page {
  flex: 1;
  display: block;
  background-image: url("../../assets/bg-mobile-404.svg");
  background-repeat: no-repeat;
  background-position: left 50px;

  @include tablet {
    background-image: url("../../assets/bg-404.svg");
  }

  &-container {
    max-width: 425px;
    padding: 128px 16px;

    @include desktop {
      margin-left: 200px;
    }
  }

  &-title {
    margin-bottom: 8px;
  }

  &-body {
    margin-bottom: 48px;

    > p + p {
      margin-top: 48px;
    }
  }

  &-button {
    @include button-secondary;

    padding-left: 32px;
    padding-right: 32px;

    @include desktop {
      padding-left: 56px;
      padding-right: 56px;
    }
  }
}
