@import "src/styles/globals.scss";

.header {
  align-items: center;
  column-gap: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "brand actions"
    "search search";
  min-height: 64px;
  padding: 16px 16px 32px;
  row-gap: 41px;
  width: 100%;

  @include tablet {
    padding: 16px 60px 32px 60px;
  }

  @include desktop {
    grid-template-columns: auto 0.9fr auto;
    grid-template-areas: "brand search actions";

    background-color: rgba(1, 0, 20, 0.2);
    border-bottom: 1px solid var(--color-white-10);
    gap: 8px;
    min-height: 96px;
    padding: 16px 60px;
  }

  @include bigDesktop {
    grid-template-areas: "brand search actions";
    grid-template-columns: auto 0.675fr auto;
    padding: 0 76px;
  }

  .wormhole-brand {
    grid-area: brand;
    padding: 16px 0;

    @include desktop {
      padding: 0;
    }
  }

  &-mobile-line {
    background-color: var(--color-white-10);
    height: 1px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 100vw;

    @include desktop {
      display: none;
    }
  }

  &-logo-container {
    display: flex;
  }

  &-hamburger {
    grid-area: hamburger;
    display: flex;
    justify-content: end;

    @include desktop {
      display: none;
    }

    &-container {
      @include centered-row;

      cursor: pointer;
      padding: 8px;
    }
  }

  &-open-mobile-menu-btn {
    width: 20px;
    height: 20px;
  }

  a {
    text-decoration: none;
  }

  &-search-bar {
    grid-area: search;
    width: 100%;
  }

  &-network {
    &-container {
      display: flex;
      justify-content: end;
    }

    &-select {
      width: fit-content;
      height: 60px;
      width: 168px;

      @include desktop {
        height: 48px;
        width: unset;
      }

      & .select__control {
        color: var(--color-white);
        font-weight: 600;
        padding: 16px 24px;

        @include desktop {
          padding: 4px 8px 4px 16px;
        }
      }
    }
  }

  &-actions {
    @include centered-row;

    grid-area: actions;

    display: flex;
    justify-content: end;
  }

  &-navigation {
    @include centered-row;

    justify-content: end;
    display: none;
    font-family: "IBM Plex Sans", sans-serif;

    @include desktop {
      @include centered-row;
    }

    & > nav {
      @include centered-row;
      gap: 24px;
    }

    &-item {
      @include centered-row;
      align-items: flex-start;
      gap: 8px;
      padding-left: 10px;
      user-select: none;

      @include desktop {
        padding-left: 0;
      }

      a {
        @include text-p2;

        color: var(--color-primary-90);
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;

        @include desktop {
          font-size: 16px;
          font-weight: 400;
        }

        &:hover {
          color: var(--color-secondary-700);
        }
      }

      &-social {
        @include centered-row;
        gap: 42px;
        margin: 5vh 0 16px 0;
        margin: 5svh 0 16px 0;

        &-text {
          @include text-p3;

          color: #544867;
        }

        &-icons {
          @include centered-row;
          gap: 56px;

          & a {
            @include centered-column;

            & svg path {
              fill: var(--color-secondary-800);
            }

            &:hover svg path {
              fill: var(--color-secondary-700);
            }
          }
        }
      }
    }
  }

  &-navigation-mobile {
    background-color: var(--color-primary-950);
    border-left: 2px solid var(--color-white-10);
    box-shadow: -8px 2px 16px 15px rgba(22, 9, 36, 0.5);
    min-height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(120%);
    transition: all 0.25s ease-out;
    width: 344px;
    z-index: 110;

    &--open {
      transform: translateX(0%);
    }

    &--close {
      transform: translateX(120%);
    }

    @include desktop {
      display: none;
    }

    &-top {
      @include centered-row;

      border-bottom: 2px solid var(--color-white-10);
      justify-content: space-between;
      min-height: 64px;
      padding: 16px;
    }

    &-nav {
      @include centered-column;
      gap: 32px;
      max-height: calc(100vh - 90px);
      max-height: calc(100svh - 90px);
      justify-content: start;
      overflow-y: auto;
      padding-left: 32px;

      > nav {
        @include centered-column;
        gap: 24px;
        padding-top: 42px;
      }
    }

    &-container {
      @include centered-row;

      cursor: pointer;
      padding: 8px;
    }

    &-btn {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }

  &-menu-mobile-mask {
    background-color: var(--color-primary-950);

    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.1s ease-in-out;
    visibility: hidden;
    z-index: 100;

    @include desktop {
      display: none;
    }

    &--open {
      opacity: 0.9;
      visibility: visible;
    }

    &--close {
      opacity: 0;
      visibility: hidden;
    }
  }
}
