@import "src/globals.scss";

.header {
  @include centered-row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

  &-navigation {
    @include centered-row;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--color-white);

    & > nav {
      @include centered-row;
      gap: 44px;
    }

    &-item {
      @include centered-row;
      cursor: pointer;
      user-select: none;

      a {
        @include text-p2-bold;
        color: var(--color-white);
        text-decoration: none;
      }
    }
  }

  &-actions {
    margin-left: 74px;

    & .connect-button {
      @include text-button;
      color: var(--color-primary-800);
      background-color: var(--color-secondary-500);
      border-radius: 32px;
      padding: 8px 12px;
    }
  }
}
