@import "src/styles/globals.scss";

.header {
  @include centered-row;
  width: 100%;
  min-height: 88px;
  padding: 0 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(1, 0, 20, 0.2);
  border-bottom: 1px solid var(--color-white-10);

  &-navigation {
    @include centered-row;
    font-family: "IBM Plex Sans", sans-serif;

    & > nav {
      @include centered-row;
      gap: 44px;
    }

    &-item {
      @include centered-row;
      cursor: pointer;
      user-select: none;

      a {
        @include text-p2-bold;
        color: var(--color-primary-50);
        text-decoration: none;
      }
    }
  }

  &-actions {
    margin-left: 74px;

    & .connect-button {
      @include button-secondary;
    }
  }
}
