@import "src/styles/globals.scss";

.search-bar {
  $sbc: &;
  @include centered-row;

  height: 48px;
  width: 100%;

  > form {
    @include centered-row;
    box-shadow: 0 0 0 3px var(--color-white-10);
    border-radius: 5px;

    &:focus-within {
      box-shadow: 0 0 0 3px var(--color-primary-100);
    }

    height: inherit;
    width: inherit;

    > #{$sbc}-input {
      @include centered-row;

      height: inherit;
      justify-content: center;
      position: relative;
      width: 100%;

      > input {
        @include text-p2;

        background: linear-gradient(
          90deg,
          var(--color-black-25) 0%,
          var(--color-black-25) calc(100% - 2px),
          var(--color-white-10) calc(100% - 2px),
          var(--color-white-10) 100%
        );
        border-radius: 5px 0 0 5px;
        border: none;
        width: 100%;
        height: inherit;
        padding: 8px 16px;
        color: var(--color-primary-10);

        &::placeholder {
          color: var(--color-primary-150);
        }

        &:focus-visible {
          outline: transparent;
          background: linear-gradient(
            90deg,
            var(--color-black-25) 0%,
            var(--color-black-25) calc(100% - 2px),
            var(--color-primary-100) calc(100% - 2px),
            var(--color-primary-100) 100%
          );
        }
      }
    }

    > button {
      @include button-secondary;

      height: inherit;
      min-width: 56px;
      border-radius: 0px 5px 5px 0px;
      border: none;
      padding: 0;

      > .icon {
        color: #000;
        height: 24px;
        width: 24px;
      }

      &:active {
        background-color: var(--color-secondary-600);
        border: none;
      }

      &:focus-visible {
        outline: transparent;
      }
    }
  }

  .search-loader {
    animation: rotation 1s linear infinite;
    border-radius: 50%;
    border: 2px solid #000;
    border-bottom-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    height: 18px;
    width: 18px;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
